[2018-03-11 10:52] davidhq commented on #535
yes, but later I used `--libexecdir=/lib/nut`

I see! Thank you... this doesn't change the comments above but I didn't realize there is this options too... anyway since I used `/lib/nut` for both `drvpath` and `libexecdir`, everything together is there.

Maybe you should try on a sample debian box...

Last thing:

- original .dev installation as recommended clashes a bit with manual, some files ar

[2018-03-11 10:52] #535 closed

[2018-03-13 16:09] CentroricercheRPS commented on #530
Hi,
we are the mantainer of riello drivers.
When main power off, NUT wait the battery low signals before send a shutdown command to the ups.
From what we understood you have a fixed time to shutdown the ups after main power off. Is this right?
In every case please could you post your NUT configuration (the main parameters of ups.conf, upsmon.conf etc...) so we try to solve your issue?

[2018-03-13 18:04] sgiannulli commented on #530
Hi,
zip file with confs attached.
[nutconfig.zip](https://github.com/networkupstools/nut/files/1808069/nutconfig.zip)
my config tells the nut server (a Raspberry with Raspbian Stretch installed) to shutdown server and clients after 3 minutes working on battery. This was working with my old UPS (an EQ Power LN651T)managed through the blazer_usb driver; after FINALDELAY the UPS put itself down too.

[2018-03-15 12:00] ikus060 commented on #510
Would love to have feedback for my PR #538.

[2018-03-16 18:15] gwinters8102 opened #540 "Eaton 9PX 2000 RT supported by mge-shut"
Eaton 9PX 2000 RT

# upsc eaton9px
battery.capacity: 9.00
battery.charge: 95
battery.charge.low: 1
battery.charge.restart: 0
battery.protection: yes
battery.runtime: 7795
battery.runtime.low: 180
battery.type: PbAc
device.mfr: EATON
device.model: Eaton 9PX 2000 RT
device.serial: GA19H21231
device.type: ups
driver.name: mge-shut
driver.parameter.pollfreq: 30
driver.parameter.pollinterval: 2
driver.

[2018-03-17 21:47] stevegilbert23 opened #542 "Data stale errors with Cyberpower AVRG750U"
Running on Debian Stretch with version 2.7.4 (2.7.4-5 on Debian)

About a month ago I upgraded from an older Cyberpower unit to a AVRG750U.  Within an hour of hooking it up, I started to see "Data stale" errors in the nut log.

`[upsmon] daemon err:  Poll UPS [ups@localhost] failed - Data stale`

I did a lot of research and messing around with the polling time values but nothing helped.

I eventua

[2018-03-18 19:43] Gluttton opened #544 "Eaton 5SC 750i value of ups.delay.start has no effect"
Environment:
- OS:
    - Debian 9 x86_64.
- NUT:
     - UPS driver controller 2.7.4;
     - Generic HID driver 0.41 (2.7.4);
     - SHUT communication driver 0.85;
     - MGE HID 1.39.
- HW:
    - Eaton 5SC 750i;
    - connection via COM-port.

Issue:
I try to set delay before starting the load. For this purpose I try to set the `ups.delay.start` value. I try to set it via `/etc/nut/ups.conf` file

[2018-03-18 21:01] clepple commented on #534
The NUT project doesn't currently have anyone maintaining the Windows port, but you may want to take a look at the file linked at the beginning of issue #455.

[2018-03-21 21:02] ulesin commented on #530
Hello everyone! Any news? I am very interested in this topic because I have an UPS IDG 800. Thank you very much!

[2018-03-21 23:41] clepple commented on #542
@stevegilbert23 thanks for running this to ground.

@zykh, @jimklimov or @aquette : any objections to merging #543?

Although this could push the inner polling loop closer to 3 seconds (versus 2), we should still be well below the default staleness threshold (15 seconds) for other hardware.

[2018-03-22 18:27] curlyel commented on #359
Same issue here. Just the basic parameters as listed by @gr0mit1 for the Smart-UPS C1500. Has there been some progress in supporting it?

[2018-03-28 09:42] leshik commented on #483
@clepple I have a similar UPS labeled "Syndome Atom LCD-1000". It has the same vid/pid and works only with `usbhid-ups`. The `upscmd -l` returns an empty list as in @schinivision case. I'm not on FreeNAS but on full-featured Ubuntu server. What can I do to check for other commands that NUT has not implemented? The important thing to me is to turn of UPS power after the server shutdown so that it c

[2018-03-28 11:10] clepple commented on #483
@leshik please post the output of `/lib/nut/usbhid-ups -DD -u root -x explore -x vendorid=XXXX -a UPS` (replacing `UPS` with the name from `/etc/nut/ups.conf`) as an attachment.

[2018-03-29 05:25] leshik commented on #483
@clepple Here it is:

[code]

Then the last 4 lines are repeated continuously.

[2018-03-29 13:23] clepple commented on #483
@leshik you should try NUT v2.7.3 or later.

[2018-03-29 14:08] leshik commented on #483
@clepple Ok, here it is – but it doesn't change much:

[code]

[2018-03-30 01:43] clepple commented on #483
sorry, I meant to try "upscmd -l" with a newer version of NUT. There have been some fixes for that USB ID.

[2018-03-30 06:46] leshik commented on #483
@clepple I tried, but no – the list is still empty.

[2018-04-03 08:48] leshik commented on #483
@clepple Is there anything else I can do to help troubleshoot the issue?

[2018-04-03 11:08] leshik commented on #483
Oh, I've rebuilt 2.7.4 with the patch that I made of a08a2292afc559d6dfb9eede014a941d8f6b511d and it seems that it helped! So, the fixes for this VID/PID aren't in the release, unfortunately.

[2018-04-05 12:15] linuxlurak commented on #515
Something similar happend to me:

I changed the USB cable. The delivered one looked quiet cheap. But no improvement.

Then I ran  `upsdrvctl start`. This gave me:

So I commented maxretry in /etc/nut/usp.conf and, what, you think, happend? See this:
`upsdrvctl start`:

and after `service nut-server restart`:

This state survived a reboot.

I don't know if this info helps.

[2018-04-05 12:53] csamsel commented on #515
I have a similiar if not the same problem with my Eaton unit, a Eclipse Eco 800. I always thought it's because i'm using USB passthrough to a VMware ESXi VM making USB flacky - but it might be unrelated after all.

Im using Gentoo and its nut package too. Maybe that's the offender?

In my case the upsdrv always often starts correctly, but crashes/disappears after a few days.

[2018-04-07 19:11] shapirus opened #546 "powercom: running battery test on startup should be configurable"
Currently, powercom driver sends a signal to the controlled UPS to execute a battery test every time the driver starts.
The respective code is in upsdrv_initups() at https://github.com/networkupstools/nut/blob/6b9971a706ced64b95c978c6e0b62ba4761c3113/drivers/powercom.c#L1008

This code runs unconditionally.
There are use cases when this behavior may be undesirable. For example, booting a system wi

[2018-04-09 11:32] Gluttton commented on #544
I've got an answer from Eaton employee that such behavior for this model of UPS is expected.

So in my opinion the result of the `upsc` command:
[code]
when `ups.delay.start` shows the same value as the `driver.parameter.ondelay` is wrong. Instead `ups.delay.start` should be always zero.

Is it make sense?

[2018-04-10 16:58] syswombat opened #547 "APC UPS 900 Pro - has no Output data's"
Hello
should there not be also a output voltage?
# upsc APC900
Init SSL without certificate database
battery.charge: 100
battery.charge.low: 10
battery.charge.warning: 50
battery.date: 2001/09/25
battery.mfr.date: 2014/01/06
battery.runtime: 920
battery.runtime.low: 120
battery.type: PbAc
battery.voltage: 27.1
battery.voltage.nominal: 24.0
device.mfr: American Power Conversion
device.model: Back-U

[2018-04-11 07:08] syswombat commented on #547
@clepple
Thanks a lot for your Feedback, so i Need to check if my APC 900 have or support the Modbus?!
or is the Modbus a Feature of NUT?
have a nice day
vinc

[2018-04-11 09:59] csamsel commented on #515
I've been using a different USB cable instead of the flimsy one that came with the unit - no disconnects so far. Sorry for the noise. Although some kind of error handling and an automatic recovery of the driver would still be nice.

[2018-04-11 11:20] aquette opened #548 "Document Eaton ECO mode and outlet.power usage"
as per issue #430

[2018-04-11 11:54] tomaszg7 commented on #515
I didn't replace the cable. Once I set `maxretry` I don't have any problems in initialization nor any disconnections afterwards.

[2018-04-11 12:02] stevegilbert23 commented on #542
@clepple Can the pull request be accepted now?  Let me know if there is anything additional you need from me.

Thanks.

[2018-04-11 12:07] csamsel commented on #515
@aquette I am not 100% sure it has been fixed, but it seems so;
Usually it took a few days for a problem to occur, it's been a week now with a different cable and no problems so far.

For reference these are log files of occurred problems. All could be fixed be restarting the nut driver.

[code]

[2018-04-11 12:54] linuxlurak commented on #515
@aquette I'm on a new cable at the moment. No issues since I last posted.

[2018-04-13 11:50] clepple opened #549 "PyNUT "ListClients" method does not work"
There seem to be a few related bugs in the PyNUT `ListClients` method, as of module version 1.3.0 (NUT 2.7.4+). The symptom is `ERR INVALID-ARGUMENT`.

- [ ] The command is `LIST CLIENT `+ups (no "S" at the end of "CLIENT")
- [ ] The "BEGIN" response includes the UPS name

Not sure if there are others.

[2018-04-20 16:56] deaddox commented on #537
I was wondering if anyone had a chance to look into this?

[2018-04-20 17:01] deaddox commented on #517
Hi Did you ever manage to get the PowerCool working with NUT? If so could you share a copy of your config?

[2018-04-21 15:46] VasiliPupkin256 opened #550 "upsd.conf.sample is slighly misleading"
https://github.com/networkupstools/nut/blob/6b9971a706ced64b95c978c6e0b62ba4761c3113/conf/upsd.conf.sample#L44-L46

If no LISTEN statement is provided nut will just bind to 127.0.0.1 and will only accept connections from localhost. LISTEN is **not** needed _if you have multiple interfaces on your machine and you don't want upsd to listen to all interfaces_ LISTEN is only inclusive not exclusive. T

[2018-04-25 09:35] zapadinsky opened #551 "Who suppose to run `nut-monitor poweroff` on modern debian dists?"
The call to `init.d/halt` was removed from sysvinit scripts before 2005 (see the [shutdown.c file in repo](http://git.savannah.nongnu.org/cgit/sysvinit.git/tree/src/shutdown.c#n301)). The recent Ubuntu 17.10 dist doesn't have `init.d/halt` at all. The `nut-monitor poweroff` (i.e. `nut-client poweroff` and `nut-server poweroff`) was called from `init.d/halt`, so it is not called during shutdown pro

[2018-04-26 13:14] zapadinsky commented on #551
Why isn't `scripts/systemd/nutshutdown` just call `ups-server poweroff`and has a separate branch of code doing the same thing instead. `scripts/systemd/nutshutdown` was created in 2011 but not included in any packages older than 2.7.4-5.1. The UPS shutdown functionality is broken for years and may only be fixed in very recent not yet released Debian 10 and Ubuntu 18.

[2018-04-26 19:36] jimklimov commented on #551
To make it clear, are you asking NUT community about why did the Debian and Ubuntu communities choose to do something in a particular way?

No idea, can only make some guesses ;)

Probably stems from linux migration from init scripts to systemd, for starters...

[2018-04-26 20:11] zapadinsky commented on #551
The integration with systemd is a part of system tool development, just like drivers etc. The deb package maintainer and the author of `nutshutdown` script @aquette is also the most active committer here. I don't know how this bug remained unnoticed for so long.

[2018-04-30 23:33] Amunak opened #552 "[HCL] CyberPower BR1000ELCD supported by usbhid-ups"
After some tinkering with udev rules to assign correct permissions I managed to get my UPS working with NUT.

It's CyberPower [BR1000ELCD](https://www.cyberpower.com/eu/en/product/sku/BR1000ELCD). There are other pretty much identical models (with only different capacity / max load; different outlets or different certifications) that most likely have the exact same capabilities: models `BR(700|100

[2018-05-07 19:35] VasiliPupkin256 opened #553 "Hotplug USB device doesn't load driver"
The nut driver is normally loaded during boot, if there was no UPS connected at boot time the driver will be terminated and will not start automatically if you plug it later. It can be fixed by adding `RUN+="/bin/systemctl restart nut-server.service"` to the 52-nut-usbups udev rules file.

[2018-05-07 19:57] jimklimov commented on #553
For clarity, which NUT version (and OS) is this about? :)

At face value, restarting the `nut-server` is orthogonal to restarting a driver. It might however make visible the driver that was not available earlier (at least, if you configure new sections in `ups.conf` you should both start a new driver daemon and restart the `nut-server` which wraps `upsd` daemon), and/or such restart would quickly

[2018-05-08 14:14] VasiliPupkin256 commented on #553
My usecase: I've set everything up and turned off computer to do final cable management, when I've turned it on I realized that I forget to plug UPS USB cable, I've plugged it in but NUT didn't catch it and didn't load a driver for it.

Will the #330 solve this issue?

[2018-05-13 19:25] vanmaal opened #554 "[HCL] Salicru SPS ONE 2000 supported by nutdrv_qx"
I managed to get it working using the suggested parameters in the driver page for USB UPS
Description can be found here:
https://www.salicru.com/en/ups/sps-one.html
I have the 2000 VA model, the others use the same ViewPower software so they should use the same driver, but I cannot guarantee that.

Shutdown worked as expected when reaching LOWBATT:

[2018-05-22 02:37] wkleinhenz opened #555 "MInuteman UPS"
Currently i was able to acquire a minuteman Enterprise plus E1500RM2U UPS, if possible i was wonder if there is a plan to support this brand/model and if so how I can help

Thanks

[2018-05-22 13:05] Teriand opened #556 "[HCL] Cyber Power System UT2200E supported by usbhid-ups"
Description can be found here:
https://www.cyberpower.com/ww/en/product/sku/UT2200E

 `lsusb -v -s 007:002`

Device Descriptor:
  bLength                18
  bDescriptorType         1
  bcdUSB               1.10
  bDeviceClass            0
  bDeviceSubClass         0
  bDeviceProtocol         0
  bMaxPacketSize0         8
  idVendor           0x0764 Cyber Power System, Inc.
  idProduct          0x

[2018-05-22 21:19] wkleinhenz commented on #555
I gave that driver a try but it doesnt seems to be picking anything up, im going to unplug the other ups(cyberpower) and figure out the port the Minuteman one is using and double check

[2018-05-23 02:04] clepple commented on #556
Thanks, we will definitely be interested in results of the shutdown test.

The documentation in Git has been updated for the following issue, but I don't think it has been released: https://github.com/networkupstools/nut/issues/432 (basically, set the shutdown/startup timers to 60 seconds or more, to be on the safe side)

[2018-05-23 18:42] fernandolcx opened #557 "Support for APC SMC2200BI-BR by usbhid-ups"
This is a new 2017 model targeted to brazilian market.
It does have a USB port and a RJ50 serial port.
Since I don't have a 940-0625A (RJ50 to DB9) cable, I'm passing through the USB port to a Ubuntu 18.04 VM on VMware Workstation, running NUT v2.7.4 and using the `usbhid-ups` driver.

But.. some important readings are missing:

[code]

I was hoping to see somethig like `input.voltage` or `ups.loa

[2018-05-23 23:33] wkleinhenz commented on #555
sorry im not able to find the drivers/usbhid-ups file but attached below is the output of `lsusb -vvv` ill keep looking for the other bit

thanks

[minuteman ups lsusb output.txt](https://github.com/networkupstools/nut/files/2033185/minuteman.ups.lsusb.output.txt)

[2018-05-23 23:54] clepple commented on #555
That path is if you are building from source. If it's a Debian/Ubuntu-derived distribution, the driver gets installed to `/lib/nut/usbhid-ups`. If not, let us know which distribution (I don't know the other common paths off the top of my head).

[2018-05-23 23:56] clepple commented on #555
Also, thanks for posting the lsusb output. `wDescriptorLength    1028` is a good indication that `usbhid-ups` can be adapted to work with this UPS.

[2018-05-24 13:03] clepple commented on #555
The standard HID PDC IDs look good, and the vendor-specific IDs look similar to Tripp-Lite.

Next step is to rebuild the driver. Instructions for Ubuntu are here: https://github.com/networkupstools/nut/wiki/Building-NUT-on-Debian,-Raspbian-and-Ubuntu

Once you can build and run the driver from source (the `-x explore` thing is a good test), then we can add the USB vendor/product IDs into the `trip

[2018-05-25 03:03] clepple commented on #555
I added the USB VID:PID to a branch. You can get that code with `git fetch` and then `git checkout minuteman-HID`, then rebuild.

At that point, you should be able to run the driver without the `-x explore` option. Logs (with `-DD`) would help with figuring out the line/battery problem (although if it stays stuck at around 80% battery, there may be an issue with the charging circuitry)

[2018-05-25 03:07] wkleinhenz commented on #555
ok i complied that branch ill run the command tomorrow when i get a chance and post the logs but for the time being using the nut web gui seems to show the battery level at 100%

[2018-05-25 22:31] clepple commented on #557
Missing values are likely due to NUT's lack of Modbus support: https://github.com/networkupstools/nut/issues/139

[2018-05-29 13:21] clepple commented on #555
(Just stumbled across your update - note that Github doesn't notify via email for edits, so it's probably best to add a new comment if you add something like a new log file.)

If you monitor the `upsc` output, is it still switching between battery and line (`ups.status` going between `OL` and `OB`), or is that no longer the case? The log you just posted shows `UPS.PowerSummary.PresentStatus.ACPres

[2018-05-29 15:48] 2E0PGS commented on #535
Am I missing something?

`git clone https://github.com/networkupstools/nut.git`

`cd nut/`

[code]

[code]
I tried running `./autogen` which worked but running the above two commands still don't work.

I cannot even run `make clean`

I am trying to follow this documentation for building: https://networkupstools.org/docs/user-manual.chunked/ar01s05.html

I also tried after changing to the branch I

[2018-05-29 16:04] jimklimov commented on #535
The pre-generated `configure` script is part of a "dist" tarball (typically a release tarball is a copy of `make dist` result for a particular commit).

The git origin is aimed at developers so you are expected to have common tooling (pkg-config, autotools, compiler, etc.)

Indeed the `./autogen` should have created all the needed files, assuming it succeeded (is exit-code 0?)

For a Debian/Ubuntu

[2018-05-29 16:16] 2E0PGS commented on #535
Thanks for filling me in on the blanks I will try the `ci_build.sh` script or manually try a gcc compile.

[2018-05-29 23:37] wkleinhenz commented on #555
I took some more, the messaged still happens, it seems at some point the connection times out or something. would and increase in the poll_time or Max Dead time help?

Sorry had to use pastebin, the file wouldn't take
https://pastebin.com/C4TDBts4

[2018-05-30 02:30] clepple commented on #555
Polling less frequently might help, but the "busy" error is worrisome (that's why the driver reconnects). Details on the polling times here: http://new.networkupstools.org/docs/man/usbhid-ups.html#_usb_polling_and_interrupt_transfers

The polling frequency doesn't explain why the UPS occasionally returns ACPresent as 0. Looks like flaky firmware.

MAXDEAD and others are for when you get "data stal

[2018-05-30 02:35] clepple commented on #555
Potentially stupid question, but are there any other packages that might be polling the UPS at the same time? UPower might be, though it might also not know about this USB VID:PID combination.

[2018-05-30 02:43] wkleinhenz commented on #555
I dont believe so, tomorrow ill try a fresh install just in case, is there anything else i could check

[2018-05-30 10:27] 2E0PGS commented on #535
On Ubuntu I needed the following:
`sudo apt-get install libtool autoconf autotools-dev pkg-config gcc libusb-dev`
Perhaps these deps should be documented?

Oh also I had to run autogen as root `sudo ./autogen.sh` for it to work. Otherwise I would get exit status 1.

Then I could run the generated configure script `./configure --with-usb`

Finally `make`

I think that process could be documented be

[2018-05-30 10:42] 2E0PGS commented on #535
When building from source where are the config files sourced from? My configs in `etc/nut/ups.conf` for example are ignored by manual builds.

[2018-05-30 10:46] 2E0PGS commented on #535
Nevermind it seems to be using the correct config files now.

[2018-05-30 10:52] 2E0PGS commented on #535
I custom build wont however pickup my driver `Error: Driver not connected`

[code]

It worked fine before with deb package. I tried specifiying the driver location like so but still no luck:

[code]

[2018-05-30 11:03] 2E0PGS commented on #535
[code]

[2018-05-30 11:11] 2E0PGS commented on #535
had to run `sudo mv /lib/udev/rules.d/{5,6}2-nut-usbups.rules` as per https://askubuntu.com/a/641562

[2018-05-30 11:11] 2E0PGS commented on #535
Finally upsc powerwalker@localhost works.

[2018-05-30 12:03] clepple commented on #535
https://github.com/networkupstools/nut/wiki/Building-NUT-on-Debian,-Raspbian-and-Ubuntu step 3 installs those dependencies.

[2018-05-30 12:09] 2E0PGS commented on #535
Is that accessable via the website since thats where I was looking? My appologies since it does atleast exsist.

I did however have to move those udev rules.

[2018-05-30 12:15] clepple commented on #535
It's there in general terms:

https://networkupstools.org/docs/developer-guide.chunked/ar01s03.html#building

Maybe sometime later when the process of rebuilding the website is more automated, we can add in all the quirks for each distro. Until then, it's probably going to be general installation instructions on the website, and specifics on Wiki pages that users can update.

[2018-05-30 12:17] 2E0PGS commented on #535
Perhaps linking to the Wiki or suggesting people check the Wiki first for community contributed writeups would be a good idea to add to the website.

[2018-05-30 12:26] clepple commented on #535
"These instructions are intended to help you build a copy of NUT that will partially install over the official .debs" so yes, that is assumed

[2018-05-30 12:33] 2E0PGS commented on #535
I think we should provide explicit information of what's needed for people like me who choose to uninstall the deb but leave configs in place or for people who wish to build without a deb perhaps they dont have a deb for their architecture etc. imo the deps should be documented and not rely on another source for that information.

[2018-06-10 16:52] Amunak commented on #552
Just tested shutdown sequence, it works! (yay)

Though the `battery.charge.low` option cannot *really* be set (as in, the upsrw command returns OK, but it doesn't actually change anything on the UPS) and 10% seems way too low to be safe. It *does work* but I wouldn't trust it if your load is over about 20% (or your shutdown takes more than, say, 30 seconds). But that's not a NUT issue, just someth

[2018-06-11 04:18] wkleinhenz commented on #555
Sorry i haven't messaged in a bit, but i rebuilt NUT and have it working with the ups and am seeing the same issue but it seems a little less common. What would be the best approach for trying to figure this issue out?

[2018-06-12 17:03] rpvelloso commented on #231
Hello... ? Anybody? @clepple @jimklimov ?

[2018-06-13 19:06] Links2004 opened #560 "support for PowerWalker VFI 2000 TGS"
Hi,
I have a PowerWalker VFI 2000 TGS UPS and I am able to get some basic values via `upsc`,
but many values are missing, like:

- Input Frequency
- Input Voltage
- Output Frequency
- Output Voltage
- correct battery Voltage (54.8V not 55V)

what is needed to do to map values?

[code]

[code]

[2018-06-14 01:24] Hary01o opened #561 "blazer_usb / nutdrv_qx not detecting when LOWBATT in Syslog"
Ive gone through quite a lot of manpages and articles trying to figure out whats missing here, but im starting to think something else is wrong.

When I try and use nutdrv_qx and run upsc myUPS, i get:
[code]

And ive got these 2 values manually set in ups.conf:
[code]

The reason why i have default.battery.voltage.low so high is because i need to first test my UPS and see when it reaches 25.50 vo

[2018-06-14 13:11] clepple commented on #561
@zykh can correct me if I am missing something specific to these drivers, but in general, overriding `battery.voltage.*` will only affect the `battery.charge` reading, not `ups.status`. The UPS has a low battery flag that it sends regardless of what values are shown for charge (or runtime).

However, if you use `ignorelb` and its associated configuration parameters, then the driver should ignore t

[2018-06-14 13:16] clepple commented on #561
although rather than temporarily messing with `ignorelb`, if your goal is to test the shutdown signaling, I would do the following:

1. https://networkupstools.org/docs/man/upsmon.html#_simulating_power_failures `upsmon -c fsd` to test the shutdown scripts
2. power the system from another source (wall power or another UPS), isolate the UPS and attach a dummy load, then let the battery run down so

[2018-06-16 10:48] Hary01o commented on #561
@clepple thanks for your input.
Ive already isolated the UPS and tested doing `upsmon -c fsd`, of course that immediately powers off the UPS. However, its the flags that upsmon doesn't detect.
My goal is to actually test that the 'low battery (LOWBATT)' flag gets detected when the `battery.voltage.low` is set at a certain number such as the highest possible, would be `25.50` because the batteries

[2018-06-17 06:09] Links2004 commented on #560
where able to get read working.
interesting is that the latest git uses mge-hid and not Liebert

https://github.com/Links2004/nut/commit/b6bd034e09589549afad6ec9ff7522f13654861b

[2018-06-18 02:38] clepple commented on #560
Are you sure that it is necessary to comment some of those out? That will likely break support for MGE hardware.

[2018-06-18 02:44] clepple commented on #561
It might take a while to drain the batteries, but that is the only way to verify that the UPS sets the LB flag (as opposed to NUT setting it synthetically with `ignorelb`). You can add more load to the UPS (lamps, heaters, etc.) to increase the rate of discharge.

It is, of course, your choice as to which triggers your shutdown, but I'm just trying to point out the differences between the sources,

[2018-06-18 22:53] kmlucy opened #562 "Eaton Network Card-MS Outlet Group"
I have an Eaton PW9130L1500R-XL2U with a Network Card-MS. I am using the netxml-ups driver. The ``ups.conf`` config I am using is here:
[code]

Everything works correctly, but I am trying to figure out how to set NUT to use a specific outlet group. On my management card's webui, it shows this client being configured on the ``Master`` segment:
![image](https://user-images.githubusercontent.com/1395

[2018-06-19 02:42] clepple commented on #562
I am not very familiar with this driver, and it doesn't look like we have any public protocol documentation for it. The only thing related to outlet groups seems to be this:

https://github.com/networkupstools/nut/blob/master/drivers/netxml-ups.c#L730

So it looks like it is currently hardcoded, but could probably be extended. @aquette or @jimklimov, any pointers?

[2018-06-19 13:44] jimklimov commented on #562
I believe this goes as `outlet.$N.nutvarname` management, e.g. `outlet.1.delay.shutdown` etc.

Note that for `upsrw` over netxml you may need to use `-u admin -p yourpasswd`, at least that's what I see in Eaton's IPP Unix (1.40) scripts that is based on older NUT, you can download it freely to inspect the scripts and setup templates, if that helps for now...

[2018-06-19 14:42] stratege1401 opened #563 "upsmon Can not initialize SSL context (letsencrypt)"
Hello all,

Trying to run an EATON 850pro via USB on a Debian Stretch Stable.
I have letsencrypt certificate installed and working.

When trying to manage the EATON device, i got:
`upsmon Can not initialize SSL context`

When 850pro is connected via USB, i can:
[code]
after install nut using apt-get
`apt-get install nut libupsclient1 nut-client nut-server`

doing
` upsdrvctl start`
output
[code]

[2018-06-19 17:08] Links2004 commented on #560
will test, but the commented stuff where from type strong `%s` but needed to be float `%.1f` the naming of the parameters is the same

[2018-06-20 13:05] clepple commented on #562
Ah, this is starting to sound familiar. The [clone driver](https://networkupstools.org/docs/man/clone.html) seems to be intended to handle the case where the shutdown command from `upsmon` gets routed to only one outlet control.

[2018-06-20 15:23] Hary01o commented on #561
@clepple These are my settings

[code]

So i successfully tested the system and it shutdown properly as soon as i used `override.battery.charge.low = 90`, however I have 2 questions here.

Firstly, I dont see `battery.charge.low` exist as an original setting when checking `upsc [MyUPS]`, I had to use `override.`  Which confuses me because I read on: https://networkupstools.org/docs/man/ups.conf.ht

[2018-06-21 16:15] kmlucy commented on #562
That doesn't sound like quite what I need. My UPS can be configured such that once all servers on a outlet group have shut down, it powers off that outlet group. In order for that to work, the clients need to report which outlet group they are on, similar to how the driver reports the shutdown duration.

[2018-06-21 21:49] bobosch opened #565 "[HCL] ONLINE YUNTO 500 supported by blazer_usb"
ONLINE YUNTO 500

root@server:~# upsc Y500@localhost
Init SSL without certificate database
battery.charge: 31
battery.voltage: 11.20
battery.voltage.high: 13.00
battery.voltage.low: 10.40
battery.voltage.nominal: 12.0
device.type: ups
driver.name: blazer_usb
driver.parameter.pollinterval: 2
driver.parameter.port: auto
driver.parameter.synchronous: no
driver.version: 2.7.4
driver.version.internal:

[2018-06-23 09:59] bunder2015 opened #566 "bad link on website"
https://networkupstools.org/download.html#_stable_tree_2_7

The link to the "source directory" points to a github 404.

[2018-06-23 14:32] clepple commented on #566
Thanks for pointing this out. I know we had added code to generate directory listings for other parts of the static site, but it seems we didn't get everything. The website probably won't be updated until after the next release is finalized.

If you are looking for that particular directory, the source is here: https://github.com/networkupstools/nut-source-archive/tree/master/2.7

[2018-06-25 11:08] wazoox commented on #385
Same problem here with Eaton UPS. We have two problem: MGE/Eaton UPS USB implementation sucks, and nut communication error management sucks. In fact, nut 2.7.2 works only for 5 minutes or so, then after the first USB error fails to monitor the UPS until I restart the nut-driver service manually. Nut 2.7.4 monitors the UPS OK, but constantly spams /var/log/messages with

` usb 3-1: usbfs: USBDEVFS_

[2018-06-25 13:14] stratege1401 commented on #563
without letsencrypt certs, the same !

[2018-06-29 09:13] jimklimov opened #567 "dummy-ups consumes much CPU"
We have a system that acts as a sort of NUT proxy, to alleviate actual power devices during testing, and to provide some virtual devices - both roles implemented by dummy-ups from 42ity fork of NUT (should be on par with github master). The system was restarted about a week ago, and today I've noticed that the dummy-ups drivers that serve "dev" files consume a lot of CPU (50-70% of a core each) de

[2018-06-29 11:48] clepple commented on #567
If you still have the `strace` output, or if you can grab this from `/proc/fd`, what is fd#6 connected to?

If it is the dev file, then maybe the code is not handling EOF correctly?

I'm not sure why the `PING`s are not getting flushed.

[2018-06-29 12:39] jimklimov commented on #567
Some unspecified socket; the dev-file is fd#4:

[code]

[2018-06-29 12:41] jimklimov commented on #567
As another data point: despite all this, `upsc DEVICENAME` passes well, quickly and producing some reasonably looking `key: value` results.

[2018-07-02 15:10] jimklimov commented on #17
One interesting pointer to look at (perhaps cover in `configure` somehow): https://alioth-lists.debian.net/pipermail/nut-upsdev/2014-December/006863.html

[code]

[2018-07-02 16:30] mscaff opened #568 "Running NUT as a different user on pfSense (FreeBSD)"
On pfSense, NUT is run under the uucp user which is classed as a pseudo-user.

I have special requirements for NUT to SSH into another machine upon an event, defined within upssched cmd - cmd works but ssh with identity keys is hard with a pseudo-user, I must run NUT as another user using the RUN_AS_USER definition.

Upon changing this the implementation of NUT breaks on pfSense for what I can onl

[2018-07-03 01:09] clepple commented on #568
Are you referring to the `RUN_AS_USER` build-time option  (set via `./configure --with-user=username`) or the runtime configuration option for `upsmon`?

If it were me, I would try to leave most of NUT running as the default user, then change only the `upsmon` user (since that is how `upssched` is usually launched). `upsmon` talks to `upsd` over TCP, so there are no filesystem permissions preventi

[2018-07-03 07:58] mscaff commented on #568
Thanks so much for the info.

Yes indeed only the upsmon user, nothing to do with build.

So understood I will take ownership of USB, the upsd executable, and any
drivers, and /var/db/nut.

Anything else you suspect?
I had difficulty with NUT finding the ups, but I will give it another go
tonight....

Cheers

On Tue, 3 Jul 2018 at 9:09 am, Charles Lepple <notifications@github.com>
wrote:

[2018-07-03 13:13] clepple commented on #568
When you say "take ownership", that applies for USB (which can be done with a devd.conf configuration file - not sure if that made it into ports yet). There is probably a one-time issue with setting the permissions if you install the NUT port after the UPS USB cable has been plugged in, so if `/usr/local/etc/devd/nut-usb.conf` looks right, try restarting `devd` and then unplugging and re-plugging

[2018-07-03 16:25] goldie83 opened #569 "support for PowerWalker VI 1500 RT HID"
Hi
I have a PowerWalker VI 1500 RT HID, trying to use the usbhid-ups driver, but I do not see any commands:
[code]
Output from `/lib/nut/usbhid-ups -DD -a pw`
[code]

[2018-07-07 19:30] clepple opened #570 ""invalid directive CERTFILE" should be changed to something like "CERTFILE, OpenSSL not available""
per https://alioth-lists.debian.net/pipermail/nut-upsuser/2018-July/011163.html

also mention NSS if available?

[2018-07-08 16:33] Luo2Jie2 commented on #570
Perhaps the text of the message could be crafted using the compiler directives
#ifdef WITH_OPENSS and #elif (defined WITH_NSS) used in conf.c so that the
message says what is available.
Roger

[2018-07-10 15:13] Luo2Jie2 opened #571 "./configure --with-openssl fails with OpenSSL 1.1, SSL_library_init now a macro"
When running ./configure --with-openssl on Debian Stretch.  The ./configure output ends with

   checking for OpenSSL version via pkg-config... 1.1.0f found
   checking for OpenSSL cflags...
   checking for OpenSSL ldflags... -lssl `-lcrypto`
   checking for openssl/ssl.h... yes
   checking for SSL_library_init... no
   configure: error: "OpenSSL not found, required for SSL support"

File ssl.h wh

[2018-07-10 15:53] Luo2Jie2 opened #572 "NSS on Debian Stretch with libnss3: Can not initialize SSL context"
I am unable to get 2.7.4 to work with NSS support as provided by
libnss3 2:3.26.2 on Debian stretch. Currently NSS supports two
database formats identified by prefixes "sql:" for the new database
and "dbm:" for the legacy database, but there is no way of specifying
them in 2.7.4.

I created the NSS database in directory /etc/nut with command
   certutil -N -d dbm:NSS_db --empty-password

I copied

[2018-07-11 05:38] howardtopher opened #573 "Protocol error, Ubuntu 18.04, nut 2.7.4"
Currently rebuilding my system from Ubuntu 16.04 to Ubuntu 18.04.  Nut is unable to communicate with my Cyberpower UPS on 18.04, but it works fine on 16.04.  I installed nut through the default Ubuntu repositories (2.7.4-5).  I've copied configuration files over directly from the old system to the new one.

Debug mode when running usbhid-ups results in finding a matching device, but then having a

[2018-07-12 07:05] lightmaster opened #574 "CyberPower BRG1500AVRLCD is supported by usbhid-ups driver"
`lsusb -v -s 004`

[code]
&nbsp;
&nbsp;
&nbsp;
`upsc cyberpower1@localhost`
[code]
&nbsp;
&nbsp;
&nbsp;
`upsrw cyberpower1
`
[code]
&nbsp;
&nbsp;
&nbsp;
`upscmd -l cyberpower1`
[code]
&nbsp;
&nbsp;
&nbsp;
`upscmd -u admin -p secret cyberpower1 test.battery.start.quick`
`OK`

Currently remote connected to a Raspberry Pi that's powered by the UPS, but tomorrow I will test that the NUT driver can suc

[2018-07-12 10:29] Luo2Jie2 opened #575 "2.7.4 upsclient.c, netssl.c use deprecated TLSv1_client_method()"
On Debian stretch, after ./configure --with-openssl, make produces the following warning:

libtool: compile:  gcc -DHAVE_CONFIG_H -I. -I../include -I../include -g -O2 -Wall -Wsign-compare -MT upsclient.lo -MD -MP -MF .deps/upsclient.Tpo -c upsclient.c  -fPIC -DPIC -o .libs/upsclient.o
upsclient.c: In function 'upscli_init':
upsclient.c:322:2: warning: 'TLSv1_client_method' is deprecated [-Wdepreca

[2018-07-12 11:34] clepple commented on #573
What if you install `libusb-1.0-0-dev`, then switch to the `libusb-1.0+0.1` branch and rebuild ?

See #300 for all of the gory details of that branch. You may also want to check the other bugs tagged CPS: https://github.com/networkupstools/nut/labels/CyberPower%20%28CPS%29

[2018-07-12 15:06] Luo2Jie2 commented on #571
Workaround (not very elegant):
Look in script configure for the two lines which declare
   if test "x$ac_cv_func_SSL_library_init" = xyes; then :
and replace them with
   if test xyes = xyes; then :

Roger

[2018-07-12 16:49] zykh commented on #571
not commenting on the issue, but workaround for workaround: why not enabling caching (`./configure ... -C`) and override the cached value of the `ac_cv_func_SSL_library_init` var?

[2018-07-12 17:01] Luo2Jie2 commented on #571
I never use the configure cache - I always recalculate everything everytime.
Perhaps a bad habit, but I was once caught out by stuff hanging around in the
cache.

Roger

[2018-07-12 19:07] emosenkis opened #576 "[HCL] Aviem Pro 850VA - PLUS supported by blazer_usb"
https://www.alpesek.co.il/product/aviem-pro-850va-plus

I don't have much experience with NUT, but I'm able to see information about the UPS state via the Home Assistant integration.

[2018-07-12 20:01] howardtopher commented on #573
There's definitely a difference in that branch, but still doesn't work.

[2018-07-13 03:00] clepple commented on #573
Do you see any kernel error messages around the same time in `dmesg` or `journalctl`?

[2018-07-14 17:12] clepple commented on #576
Thanks for the report. Could you please send some additional info about how NUT works with the UPS? Do all the reported values look right? Does it shut down properly when the battery gets low? https://networkupstools.org/stable-hcl.html#footnotes and check the list.

You may also want to try the `nutdrv_qx` driver, since the `blazer_usb` driver is older and less flexible.

Also, can you provide a

[2018-07-15 00:34] jackmanlabs opened #577 "New Device: Tripp Lite OMNI1500LCDT supported by usbhid-ups"
I'd like to request help getting this device recognized by nut:
[code]

I used this configuration, hoping that the description was simply missing or mislabled in the compatibility database:
[code]

I assumed this device would be supported by usbhid-ups because this device seemed like it would be a logical relative: https://networkupstools.org/ddl/Tripp_Lite/OMNI1000LCD.html

Per the usbhid-ups doc

[2018-07-15 02:30] clepple commented on #577
The Tripp Lite devices with protocol 3016 have been nothing but trouble, especially with newer motherboards. (Older, pre-USB3 chipsets and ARM-based boards have had better results, but still not the kind of reliability you'd want for shutting down a critical system.)

Here is some background: https://github.com/networkupstools/nut/pull/122 (we don't plan to merge that approach, given the impact on

[2018-07-16 12:07] Luo2Jie2 commented on #571
It looks as if this is a duplicate of issue "openssl 1.1 support #429", April 2017,
https://github.com/networkupstools/nut/issues/429 and covered by
"Add support for openssl-1.1.0 #504", Nov 2017,
https://github.com/networkupstools/nut/pull/504

Roger

[2018-07-16 20:08] stompro opened #578 "[HCL] CyberPower OR500LCDRM1U supported by usbhid-ups driver"
CyberPower OR500LCDRM1U - Inexpensive 1U rack mount UPS
https://www.cyberpowersystems.com/product/ups/or500lcdrm1u/

This UPS has the same ondelay/offdelay issue that other Cyberpower UPS's have, the UPS expects minutes for those values, and rounds down.  So the default values of 20 and 30 get rounded down so the UPS shuts off immediately.

The ondelay for this model doesn't work very well.  If yo

[2018-07-16 21:51] jackmanlabs commented on #577
Hey! I appreciate your thorough and respectful reply. I will follow up with your suggestions when I get the chance, but I also understand that I shouldn't expect much, too. When I get a chance to fiddle around a bit, I will reply to this thread with the results. You may mark this closed if you desire. Have a great day!

[2018-07-17 13:12] stompro opened #580 "[HCL] CyberPower PR1000LCDRT2UTAA supported by usbhid-ups driver"
CyberPower PR1000LCDRT2UTAA
https://www.cyberpowersystems.com/product/ups/pr1000lcdrt2utaa/

upsc pr1000

battery.charge: 100
battery.charge.low: 35
battery.charge.warning: 20
battery.mfr.date: CyberPower Systems
battery.runtime: 14340
battery.runtime.low: 592
battery.type: PbAcid
battery.voltage: 53.8
battery.voltage.nominal: 48
device.mfr: CyberPower Systems
device.type: ups
driver.name: usbhid-

[2018-07-17 18:13] LXXero commented on #309
Hi,

I noticed this seemed to have gone stagnate. I have 4x tripplite SNMPwebcards, in two different UPS (SU1000XLa and SU1500XL) and I would love to get this working better.

In particular, outlet control would be awesome. I have already figured out how to do it manually via snmpset/get, but i can see some of the values that I used to do that were actually generated by that gen-snmp-subdriver.sh

[2018-07-18 15:42] LXXero commented on #355
I had this issue when using protocol v2c, if you use v1, read only, it doesn't happen, but of course it's read-only. Although, I tried out the write features of the v2c, and it didn't work anyway. I suspect if we resolve issue 309 and everyone is using the latest firmware, these problems will all go away and we could probably get some of the snmpset/write-commands working as well.
https://github.c

[2018-07-20 22:42] robbiet480 commented on #577
@clepple See #122 for important update on my situation

[2018-07-21 22:27] owennelson opened #581 "CyberPower CP900EPFCLCD showing incorrect output voltage"
Using the usbhid-ups driver my CP900EPFCLCD reports the output voltage as being between 260 and 270 - though it sits at 260 most of the time.  The input voltage averages around 240 as would be expected.

Running the driver directly (/usr/local/libexec/nut/usbhid-ups -DDD -a ups) results in the following voltage information:

   0.010678     Report[get]: (3 bytes) => 0f ef 00
   0.010687     Path:

[2018-07-22 02:08] clepple commented on #581
Probably the same as this issue: https://github.com/networkupstools/nut/issues/439

[2018-07-22 21:56] broizter opened #582 "Old ESXi VIB on website"
René Garcia has released version 2.0 of his nut-client for ESXi a while ago but the https://networkupstools.org website still only links to the 1.3.0 version (link seems to be broken even). How come it hasn't been updated with the 2.0 link yet?

[2018-07-25 19:30] mbastiaan opened #585 "tripplite_usb, Tripp Lite 3005 protocol"
I have a couple of SMX500RT1U UPS's which use the 3005 protocol and the driver gives a couple of "debug arrays" with values, but the implementation of the 3005 protocol isn't that great at the moment. Based on the current data in the driver and the actual values I think I've managed to map most of the arrays as can be seen in the table below.

Debug array|1|2|3|4|5|6|7
-|-|-|-|-|-|-|-
debug.D: | x

[2018-07-27 10:04] kvaster opened #586 "HID UPS INNRT3000VA - shutdown.recover does nothing."
I have simpe setup - one PC and innova rt 3000 ups (ippon). I'm trying to set up server power up after power loss. Main problem is that shutdown.recover does not work - UPS does not respond to it.

`
/lib64/nut/usbhid-ups -a mainups -k
Network UPS Tools - Generic HID driver 0.42 (2.7.4-480-g14301bdb)
USB communication driver 0.33
Using subdriver: MGE HID 1.43
Initiating UPS shutdown
`

Nothing hap

[2018-07-27 12:50] clepple commented on #586
If the UPS was still seeing line power (`ups.status: OL`) when you sent the `-k` command (which expands to either `shutdown.return`, or the combination of `load.on.delay` and `load.off.delay`), you may be seeing a variation of the FAQ 51: https://networkupstools.org/docs/FAQ.html

Some CPS units appear to round the `ups.delay.shutdown` and `ups.delay.start` values to minutes. There may be a simila

[2018-07-28 08:14] kvaster commented on #586
There are no any usb errors. Also I've tried to launch power off without power on ups. Still nothing happens. Will try to discharge ups to 'low battery'...

[code]

[code]

[2018-07-30 19:41] kvaster commented on #586
I've changed connection type from usb to rs232 and now ups is working as expected via blazer_ser driver. It shows much less info, but it works.

[2018-07-31 10:03] aquette commented on #300
@clepple and @zykh so where are we on this front plz. I'm a bit lost in history currently

[2018-07-31 16:50] zykh commented on #300
@aquette, https://github.com/networkupstools/nut/tree/libusb-1.0+0.1 is still the most advanced (published) branch: it mostly works, but it is buggy (see below).

I'm almost ready with my proposed libusb-compat-1.0 thing (https://github.com/networkupstools/nut/issues/300#issuecomment-370660710), which I've been using since last March without problems.
I should have enough time to finish it by the

[2018-08-01 20:13] MikeMark commented on #585
@mbastiaan
From my investigation, that all looks correct. I'm testing on a TRIPP LITE SMART500RT1U.

Data from that unit:
[code]

[2018-08-03 18:36] mbastiaan commented on #585
@MikeMark Thanks for the info.
I've also added debug.0, debug.F and debug.U to the table.

[2018-08-03 19:21] MikeMark commented on #585
@mbastiaan Thanks for the thanks.
Your additions look correct to me. Keep up the good work!

[2018-08-09 07:08] alesnav opened #589 "Eaton Ellipse ECO - usbhid-ups"
Hello there,

I'm trying to use nut running on FreeBSD 11.1-RELEASE-p11 to connect to a Eaton Ellipse ECO 800 which is shown as fully supported in HCL, but it does not work in my case.

![image](https://user-images.githubusercontent.com/1645707/43883108-56a2dd28-9bb2-11e8-83e9-4a9c903d3d9d.png)

[code]
`ups.conf` file (I have tried with `maxretry`, `retrydelay` and `usb_set_altinterface` with the

[2018-08-09 18:33] aquette commented on #589
Can you please try adding "-u root" to check if there's a privileges issue?

[2018-08-09 18:50] alesnav commented on #589
Yes, sure, I tested it too. The main difference is that if I use root as user, all USB ports are tested, so it seems that permissions works fine based on `/usr/local/etc/devd/nut-usb.conf` conditions:

[code]
Thanks.

This is the output when using root user:

[code]

[2018-08-10 11:41] clepple commented on #589
This could be a corner case in VMware's USB stack, plus maybe the driver not knowing how to handle the generic "Input/output error".

Not sure whether it is easier for you to reproduce this on a physical box, or to rebuild NUT using a branch that is aware of libusb-1.0:
https://github.com/networkupstools/nut/tree/libusb-1.0+0.1 (there may be some details in the related issue: https://github.com/ne

[2018-08-10 11:47] clepple commented on #589
Also, I'm short on time to look this up, but is the `usbconfig` command sending the same USB request as "Method 1" here? https://github.com/networkupstools/nut/blob/v2.7.4/drivers/libusb.c#L305

[2018-08-12 17:12] alesnav commented on #589
Hmmm, @clepple yes, it seems that it is related to VMware. I have just test with another VM running CentOS 7.5 and has the same result, plus a clear message in `dmesg`:

[code]

Will try with a Raspberry Pi to avoid VMware problems.

[2018-08-12 20:58] Luo2Jie2 commented on #572
On Sun, 12 Aug 2018, stratege1401 wrote:

Agreed - #563 and #572 look like the same libnss3 problem.  Roger

[2018-08-13 05:28] zykh commented on #300
Sorry for the additional week of delay.
While I was committing my last changes, I came across another old bug: yet again a very minor thing, but also utterly annoying (in that I had to touch all the drivers) to solve (aacc09e9)... and, last week, I just wasn't in the mood for that kind of things...

So, if anyone has some spare time to waste, here's the thing: https://github.com/networkupstools/nu

[2018-08-13 18:52] C4Wiz opened #590 "Support CyberPower RMCARD205"
can you add support for this card please?

[2018-08-14 14:24] jimklimov opened #591 "TODO: Support detection of changed device sections in nut-driver-enumerator.sh.in"
Primary idea is to use or adapt the existing building blocks: `upsconf_getSection()` and `calc_md5()` and service instance custom configuration attributes, to store a reproducible hash of previously known configuration for a section. IFF the section has changed since last run of the script, trigger restart of the service instance wrapping its driver and update the saved hash.

This is a separate e

[2018-08-14 15:16] jimklimov opened #593 "TODO: Fallback configure.ac detection of libneon without pkgconfig"
In travis use-case for `NO_PKG_CONFIG=true` avoid this:

[code]

Note e.g. that we can find other dependencies with other ways too:

[code]

so absence of pkgconfig is not fatal per se (and is sort of supported since #491).

[2018-08-15 10:57] alesnav commented on #589
I have test it with a fresh Raspberry Pi using the same config files and it does work without any problem.

It should be a VMware problem...

[code]

Thank you for your help.

[2018-08-15 10:57] #589 closed

[2018-08-15 11:43] clepple opened #594 "install fails for Debian/Ubuntu: duplicate nutdrv_qx.8"
`make install` on Buildbot (part of `make distcheck` fails due to a duplicate `nutdrv_qx.8` in the install rule.

First seen in commit 8b75b0360559a917bdc375b6440d8441a2729395

 * [Ubuntu Xenial](http://buildbot.networkupstools.org/public/nut/builders/Ubuntu-xenial-x64/builds/288): [build log](
http://buildbot.networkupstools.org/public/nut/builders/Ubuntu-xenial-x64/builds/288/steps/compile/logs/

[2018-08-15 11:44] clepple commented on #594
@jimklimov I did not have a chance to look into the history of each of the commits that were squashed, but I tagged you since yours was the first name I saw. Feel free to reassign.

[2018-08-16 21:54] jimklimov commented on #594
I'll try to take a look when less in vacation mode...

Note there was also a PR that day which should have fixed delivery of man
pages broken some months before (which did fix us a packaging issue on OBS
when our 42ity fork was remerged to be closer to upstream/master, so our
equivalent solution was replaced by upstream's). It is a more likely cause
of disruption and error induction, at face value

[2018-08-17 23:05] zykh commented on #594
...and guess who is the one to blame?

nutdrv_qx's manpages appear in two lists: serial and USB drivers, in order to be built in both cases, when we ./configure for only one of them... but this obviously means that, if we ./configure for both, we end up with dupes.

We were previously saved by automake, which splits the list of files to be installed in different calls if they are too much (from [t

[2018-08-19 01:42] jsalatiel commented on #231
@rpvelloso i am also testing your code. So far so good.
Hope this get merged some time

[2018-08-19 22:58] zykh commented on #594
https://github.com/networkupstools/nut/tree/issue-594 (with two additional, unrelated, fixes)
good to merge?

[2018-08-20 01:38] clepple commented on #594
@zykh thanks for tracking this down. Looks good to me!

[2018-08-20 02:56] #594 closed

[2018-08-20 12:46] clepple commented on #300
@zykh thank you for all of your work on the libusb-compat-1.0 branch. You mentioned testing against FreeBSD's libusb-0.1 - did you have a chance to check against their native libusb-1.0 API?

I am trying to untangle some Tripp-Lite 3016 protocol issues from libusb-1.0/FreeBSD issues here: https://alioth-lists.debian.net/pipermail/nut-upsuser/2018-August/011202.html

From what I can tell, some of t

[2018-08-20 12:54] clepple commented on #300
@zykh as for the other questions:

* I have an UPS that theoretically does SHUT (using the USB interface currently), but my soldering iron and components for building the necessary serial cable are packed away at the moment. It will probably be over a month before I can test that.
* I'd be tempted to take option a for the timeout error code, though the code snippet you posted seems to have the `#e

[2018-08-20 22:18] zykh commented on #300
Yes, tested with both and without problems (apart from the [previously mentioned, probably vm-related, issue](https://github.com/networkupstools/nut/issues/300#issuecomment-357109523)).

For me, drivers (nutdrv_qx/usbhid-ups) work as expected also without the `-u root` switch.
When the not-so-helpful "Other error" errors are returned when claiming an interface or detaching the kernel driver, it co

[2018-08-20 23:45] zykh commented on #300
No problem, Charles. Let's take all the time that is needed.

That code is from master, the device is reset also on `EPIPE` when usb_clear_halt() fails, so `ETIME` is `#ifdef`'ed there to 'take advantage' of the `EPIPE` reset ([and yes, I know those switch cases...](https://alioth-lists.debian.net/pipermail/nut-upsdev/2010-January/004399.html)).
The equivalent portion in libusb-compat-1.0 looks li

[2018-08-22 11:23] kyuferev opened #597 "Feature request: bcmxcp_usb driver to support more than one UPS"
Hi.
Right now according to [official documentation](https://networkupstools.org/docs/man/bcmxcp_usb.html) bcmxcp_usb driver supports only one UPS at a time. Unfortunately I have lots of Eaton PW9120 6000i in my disposal and a task to monitor all of them.

According to [this comment](https://github.com/networkupstools/nut/blob/master/drivers/bcmxcp_usb.c#L377) there is (or was?) a plan/idea to impl

[2018-08-22 16:10] kosfango opened #598 "Communications with UPS lost"
Hi All,

I have FreeBSD installed:
FreeBSD server 11.1-BETA2 FreeBSD 11.1-BETA2 #0 r320065
and nut-2.7.4_8 prot port collections

I see in logs a lot of lines:
[skip]
Aug 22 18:47:27 server blazer_usb[77549]: Communications with UPS re-established
Aug 22 18:47:27 server upsd[77551]: UPS [Ippon] data is no longer stale
Aug 22 18:47:28 server upsmon[1374]: Communications with UPS ippon@localhost est

[2018-08-22 23:01] zykh commented on #598
That's because, on startup, the driver can't always get a reply to the `F<cr>` megatec query from the device.

Can you post also the output without altering the default `pollinterval` / `-i` option?

hmm... a possible source of problems could be that you're on FreeBSD with its libusb 0.1 (which doesn't return `-errno` on error like real libusb 0.1, and as the driver expects, but almost always `-1`

[2018-08-23 09:57] kyuferev commented on #597
Thanks for the quick and detailed response.
I've tried to connect my UPSes via USB-to-serial adapter and came to some kind of a success. At first I've not been able to recieve information from connected Eaton PW9120 6000i unit because of a permission problem:
[code]
I've tried to fix it by adding `user = root` directive into ups.conf and nut-driver service has been able to start but then nut-serve

[2018-08-23 12:41] clepple opened #599 "TrippLite SMX1500LCDT + FreeBSD 11.2 + libusb-compat-1.0 requires interruptonly and root"
Some combination of the Tripp-Lite SMX1500LCDT (a 3016 protocol USB UPS), FreeBSD 11.2, and libusb-compat-1.0 (mentioned in #300) using FreeBSD's libusb20 API requires `interruptonly` and `-u root` to get past the initial device detection phase.

Source: https://alioth-lists.debian.net/pipermail/nut-upsuser/2018-August/011210.html

[2018-08-23 12:48] clepple opened #600 "TrippLite SMX1500LCDT + FreeBSD 11.2 + libusb-compat-1.0: driver only runs once"
With the aforementioned combination, the `usbhid-ups` driver only successfully matches the UPS and starts its main loop once. If the driver is stopped and restarted, the UPS is not detected until it is unplugged and re-plugged:

https://alioth-lists.debian.net/pipermail/nut-upsuser/2018-August/011210.html

Using commit b14c3b4fe2540a6b4181918fb89678b68733a814 on `libusb-compat-1.0`.

Same test con

[2018-08-23 19:28] grumbler66rus opened #601 "Report about Liebert Corp. PowerSure PSA UPS model PSA500MT3-230U"
Hello!
Because i found very old information about PowerSure PSA 500 (https://networkupstools.org/ddl/Liebert/PowerSure_PSA_500.html), and I don't known about reporting, I writes report here.

[code]

[2018-08-23 21:16] clepple commented on #601
Thanks. Do shutdowns work? What do “upsrw” and “upscmd -l” show?

[2018-08-25 00:28] zykh commented on #599
In my opinion:
- for the `-u root` thing, you already answered: see commit message of 3bbf837f3009b794d51c5985ec3df9c1c4d807a8 (since the kernel driver is active, auto-detach of kernel driver is activated, and libusb_claim_interface() fails when trying to detach the kernel driver, as fails the subsequent direct call to libsub_detach_kernel_driver()),
- the other issue (as well as #600) should not

[2018-08-25 16:27] zykh commented on #599
So, we just shouldn't set auto-detach on FreeBSD... kernel driver active or not (and we should not fail if we can't detach it ourselves): https://lists.freebsd.org/pipermail/freebsd-usb/2016-March/014161.html

[2018-08-26 04:23] danielfdickinson opened #602 "usbhid-ups: FSD fails due to existing driver running (USB device claimed)"
I'm working on the NUT 2.7.4 package for OpenWrt (https://github.com/openwrt/packages/tree/master/net/nut), and a user reported that their test of ``usbdrvctl shutdown`` failed,  On further debugging ``/lib/nut/usbhid-ups -a upsname -k -DDD`` reports:

[code]

This occurs regardless of running driver, upsd, and upsdrvctl as root or driver, and upsd as nut with appropriate permissions on the usb de

[2018-08-26 06:04] cshoredaniel commented on #602
Ok, that didn't work, but it looks like the issue may actually be that the lack of any kernel thing claiming the device results in a error code for the detach function, which confuses libusb-0.1 (or libusb-compat).

[2018-08-26 09:39] cshoredaniel commented on #602
So, it seems that part of my problem has been the driver respawning.  So I'm taking a different tack and going to try sending SIGUSR2 to the driver to get it to issue a forced shutdown.  Does newer (i.e. not yet in a release) code already do something like that?

[2018-08-26 14:54] clepple commented on #599
Hmm, I thought the LBYL patch was sufficient - I had been running non-root for a while on FreeBSD 11.1 for the past few months with `libusb-1.0+0.1` @ bac7d0f2 (which contains ca3298f832d).

I saw your update to `libusb-compat-1.0` (10d40386a05) so I will try that on 11.1.

[2018-08-26 15:14] clepple commented on #599
10d4038 works fine on FreeBSD 11.1 with the libusb-1.0 backend, on an MGE Pulsar Evolution 500. Tested both non-root and root access (the former was right after a reboot). It occurs to me that I can probably bring that FreeBSD box over to a Tripp-Lite UPS for testing later.

[2018-08-26 17:13] cshoredaniel commented on #602
Thank you for your quick response!

SIGUSR2 and SIGUSR1 are 'up for grabs' by daemons who want to respond to a signal other than the pre-defined purposes like TERM INT, etc.  (As you might have guessed it stands for user1 and user2). It's kind of like the local0..local7 syslog stuff.  Although I realized just a few minutes ago doing an FSD on a signal is a potential local DoS (any use can signal a

[2018-08-26 19:26] kosfango commented on #598
Thank you for reply. I did new tests as you recommended:

/usr/local/libexec/nut/blazer_usb -a Ippon -DDD
Network UPS Tools - Megatec/Q1 protocol USB driver 0.12 (2.7.4)
   0.000000     debug level is '3'
   0.002744     Checking device (0A12/0001) (/dev/usb//dev/ugen2.2)
   0.002856     - VendorID: 0a12
   0.002865     - ProductID: 0001
   0.002871     - Manufacturer: unknown
   0.002876     - Pr

[2018-08-26 19:38] kosfango commented on #598
I forgot to get more helpful info:

1. Many year ago all worked fine. However, about 2 years ago it broken. Sometimes it worked fine, sometimes I had "error data stale", but a couple weeks ago NUT lost my UPS forever. I used com port cable to connect my UPS. Probably the cable has become unusable, so I changed com to usb and reconfigured NUT, but I gotten the same issue.

2. I have another server

[2018-08-26 19:45] clepple commented on #602
I'm not convinced that using something like SIGUSR1 or SIGUSR2 is a bad idea compared to the current NUT solution of stopping the daemons and restarting just the driver with `-k`, but I think it just shifts the problem slightly. You still need to make sure that the signal is sent late enough in the system shutdown sequence so that other daemons are not still shutting down when the power gets cut.

[2018-08-26 19:49] cshoredaniel commented on #602
@clepple Heh, was editing my response as you responded; hope it helps.

[2018-08-26 19:52] cshoredaniel commented on #602
@clepple Ah, I didn't realize NUT was limiting who could send it signals.  That does rather make a difference.

[2018-08-26 20:06] clepple commented on #602
The drivers don't do anything special besides dropping root privileges to protect themselves from signals - it's the same as for most HTTP daemons, for instance.

Thanks for pointing out the edits - GitHub doesn't seem to send notifications on edits to existing posts, either in the GUI or over email.

I can't say I have looked at the differences between foreground and background recently, but I kn

[2018-08-26 20:47] kosfango commented on #598
I did git clone -b libusb-compat-1.0, then ./autogen.sh && ./configure --prefix=/opt/nut && make && make install, then I created symlink to nut.conf and tried to start...The same issue...

[2018-08-26 21:09] kosfango commented on #598
Tried...The same issue

[2018-08-28 03:51] cshoredaniel commented on #602
Ok so -D is working fine with what I'm working on now and as long as drivers are already stopped, upsdrvctl works fine.  I've got FSD working in the current OpenWrt stuff now, although I haven't pushed there yet as I still am doing some debugging of minor nits.

On another note, would it be of interest to do 'proper' autoconf and install of scripts used by OpenWrt (so they're incorporated in your

[2018-08-28 13:15] clepple commented on #602
Although we have some systemd and distribution-specific scripts in the NUT tree, they are frequently out-of-date. With RedHat's wide gap between the enterprise distributions and Fedora, our advice for users who need new packages is to start from their distribution's spec files, and add in the new NUT source code.

I am not opposed to adding a `README.OpenWrt.md` (or whatever format) file in the `n

[2018-08-28 19:07] cshoredaniel commented on #602
I'll make it easy .. the relevant bit is here (not autoconf'ed yet):
[code]
But obviously that only picks up usbhid - wondering if there are any other similar files scattered through the tree.

[2018-08-28 20:07] kosfango commented on #598
# /opt/nut/bin/blazer_usb -DDD -a Ippon
Network UPS Tools - Megatec/Q1 protocol USB driver 0.17 (2.7.4-605-g10d40386)
   0.000000     [D1] debug level is '3'
   0.002161     [D2] nut_libusb_open: checking device 1 of 8.
   0.002289     [D2] nut_libusb_open: - VendorID: 0000.
   0.002299     [D2] nut_libusb_open: - ProductID: 0000.
   0.002305     [D2] nut_libusb_open: - Manufacturer: Intel.
   0.0

[2018-08-28 20:35] kosfango commented on #598
One of successfuly attempts:

/opt/nut/bin/blazer_usb -DDD -a Ippon
Network UPS Tools - Megatec/Q1 protocol USB driver 0.17 (2.7.4-605-g10d40386)
   0.000000     [D1] debug level is '3'
   0.002521     [D2] nut_libusb_open: checking device 1 of 8.
   0.002669     [D2] nut_libusb_open: - VendorID: 0000.
   0.002682     [D2] nut_libusb_open: - ProductID: 0000.
   0.002690     [D2] nut_libusb_open: -

[2018-08-29 02:27] clepple commented on #602
I'm not sure if I'm reading that block of code correctly, or if it is just taken out of context. It looks like it's for a single driver (`usbhid-ups`), yet the upstream NUT hotplug/udev files cover all of the USB drivers (including `tripplite_usb`, `richcomm_usb`, `nutdrv_qx` when built with USB support, etc). The exact reasons are probably lost to history, but in Debian, we actually moved from a

[2018-08-29 02:42] cshoredaniel commented on #602
Ok so libhid.usermap is actually all drivers, not just usbhid-ups?  In that case I'll move that code to a the common driver code (which is currently with nut-server package since AFAIK one can't use the driver without the server, and for OpenWrt the default is to build only the USB drivers with options for serial and SNMP drivers for DIY builds).  I was merely mislead by the name, not thinking the

[2018-08-29 11:18] lagweasel commented on #542
You guys are awesome. I've been having the same problem with CyberPower CP1500PFCLCD since I upgraded from Ubuntu Xenial ages ago. Recently had another stab at solving it, and tried building from source using "libusb-compat-1.0" branch and problem is now fixed. Looking through the git logs lead me here.

[2018-08-29 15:59] yaroz opened #603 "New Device: CyberPower OR2200LCDRTXL2U"
Hello.  I'd like to request support for the CyberPower OR2200LCDRTXL2U.

When I initially power on the UPS, the following shows up in "dmesg -wH"
[code]

I found a site stating that nothing is grabbing the device in a certain time, so it disconnects.  I was able to keep it connected by issuing "upscdrvctl start"

my /etc/nut/ups.conf is simple
[code]

When I do a "upsc UPS" I get Error: Connection

[2018-08-29 18:48] yaroz commented on #603
This seems to be the same issue as #510 but a different model number.

[2018-08-29 20:31] rpvelloso commented on #231
@jsalatiel if you encounter any problems/bugs, please contact me, I'll try to fix it before merging these changes.

[2018-08-30 13:57] JRDavisUF opened #605 "[HCL] CyberPower CP850PFCLCD supported by usbhid-ups"
[note that CP1000PFCLCD is already listed as supported, the 850(VA) just appears to be a smaller version of the 1000(VA) one]

Simulated "standalone" testing using   'upsmon -c fsd'   worked fine.

Example ups.conf entry:
   [cyberpower]
   driver=usbhid-ups
   port=auto
  vendorid = 0764
   productid = 0501
  desc = "CyberPower CP850PFCLCD"

Also note that lsusb outputs incorrect model number (no

[2018-09-03 00:09] zykh commented on #598
Thanks for the logs -- so the errors are actually timeouts... we could try increasing the allowed time, but I'm not so sure this will solve the issue.

Before the problems with the COM port (I guess nothing has been updated/changed in your system concurrently a couple of weeks ago, causing regressions), did you ever try using the device with USB?
Perhaps, the USB issues have always been there, jus

[2018-09-03 16:57] jimklimov opened #606 "Use same logical pattern in M4 snippet files for using and reporting use of fallback values"
Recent work in #593 and #596 laid foundations for a maintainable and reportable way to manage CFLAGS, LIBS etc. when `pkg-config` fails due to whatever reason. Currently some M4 files do the fallbacks quietly, others not at all.

This issue is to track replication of the pattern to other M4 files, where applicable, so `configure` script logs and results are consistent for different dependency proj

[2018-09-03 16:58] jimklimov commented on #593
Goals of this issue are achieved, closing.

[2018-09-03 16:58] #593 closed

[2018-09-04 13:19] clepple opened #607 "Clarify documentation on conf file parser with respect to quotes and comments"
https://github.com/networkupstools/nut/blob/v2.7.4/common/parseconf.c#L319-L327

We should probably clarify that even inside double-quoted strings, a `#` needs to be preceded by a backslash (`\`).

This may also affect GUI tools that generate `*.conf` files from arbitrary user input.

https://alioth-lists.debian.net/pipermail/nut-upsuser/2018-September/011227.html

[2018-09-05 17:28] garci66 opened #608 "Issue with Powersa RT3000 / Blazerusb driver"
I have a UPS based on a generic brand (have seen it sold under various brands) and using blazer_usb it "almost" works. The initialization, for blazer_rating / blazer_vendor fails as it seems to UPS seems to be sending one byte less than expected by the driver. The \r at the end seems to be missing (can't see the raw USB data at the moment) but the log shows as follows when invoking
[code]

[code]

[2018-09-06 00:26] zykh commented on #608
Right. It's a known problem: #441.
Try `nutdrv_qx` from this branch: https://github.com/zykh/nut/tree/issue-441

[2018-09-06 15:10] garci66 commented on #608
Thanks! will do.. I tried searching for similar issues but wasn't finding it.

[2018-09-06 15:14] garci66 commented on #608
The fix seems to focus on the status messages (which in my case DO work). My problem is with the first two queries when trying to identify the vendor and rating of the UPS.

[2018-09-06 15:45] zykh commented on #608
actually, it should add a CR at the end of anything it reads, if it's not already there...

[2018-09-07 19:50] jimklimov commented on #300
I gave this branch a shot recently, trying to set up an Eaton USB UPS on an OmniOS machine. Also spawned some PRs for minor nits.

The first attempt failed, going as documented years ago - to take an OpenSolaris or OpenIndiana (newer) set of libusb(0.1.x) libraries and putting those onto the OmniOS machine. While its native libugen allowed to see the UPS in `prtconf -v` and `cfgadm` and `dmesg`, n

[2018-09-07 23:14] zykh commented on #300
@jimklimov, are you brave enough to test also the https://github.com/networkupstools/nut/tree/libusb-compat-1.0 branch?

[2018-09-08 11:52] jimklimov opened #614 "Build warnings in current codebase"
I guess someone should take a look into analyzing those. To me most of them seem like legit problems.
Also I'd take a look at adding a `configure` option to make warnings fatal, and a Travis sub-job to test for that.

* Printing into badly sized buffers:
[code]

[code]

[code]

* Somewhat similar: validly we expect a short number here, but with some input/data/memory/... errors can end up overflow

[2018-09-08 13:42] jimklimov commented on #300
@zykh : good news is this compiles and the driver begins to work, bad news is it also segfaults (probably in libusb as well, did not have much time to check deeper yet).

[2018-09-08 22:38] zykh commented on #614
- nutdrv_qx_voltronic.c:
  If I recall correctly, these things should already be fixed (since circa jan 2017) in a nutdrv_qx development branch, which is waiting (it's been on hold for a year, by now) that 2.7.5 is out, to be rebased and to get the final touches.
  Anyway, the changes in that branch are quite big, and I'm already crying now, just as I think of all the conflicts I'll have to addres

[2018-09-09 17:43] aquette commented on #300
Backtraces would definitly be appreciated @jimklimov 😉

[2018-09-10 14:55] jimklimov commented on #300
Reverted back to `libusb-1.0+0.1` based code (with workarounds to make it work at all) and now that I'm in the office, tried some HW tests. The first was to unplug the USB cable... and an hour passed... and it is still not detected. The driver still runs, doing some
[code]

So essentially it seems that it has polled the USB hardware once  (deciding that it is OB for whatever reason) and then never

[2018-09-10 15:00] jimklimov commented on #300
Latest coredumps (with 0.1-compat) looked like:

[code]

[code]

Earlier ones (0.1+1.0):
[code]

[code]

[code]

[2018-09-10 16:06] jimklimov commented on #300
I tried updating the code to not-neuter the `libusb_get_report()` and it seems that  the call succeeds several times, then fails with a ReportID that was previously successful, in the same mutex as posted above. Maybe it should be slowed down? :)

So instead of just returning from `libusb_get_report()` I added an `usleep(5000..50000...150000)` into it, and the ID is different between different del

[2018-09-10 22:47] zykh opened #616 "Support some more Legrand devices"
This is to track the progress on the topic.
Reference: https://alioth-lists.debian.net/pipermail/nut-upsdev/2018-July/007392.html

- [x] `usbhid-ups`: add new dedicated subdriver
- [ ] `nutdrv_qx`: support devices which don't terminate their replies with the expected CR (#441)
- [x] `nutdrv_qx`: add VID:PID to `krauler` USB subdriver
- [x] `metasys`: add new devices + fix a few glitches
- [x] upda

[2018-09-10 22:59] zykh commented on #441
moving back to 2.7.5, since a) there is a workaround (https://github.com/zykh/nut/commit/1595a06501daa93e06035a861e3db7ccab2871dd) that apparently works as expected, and b) this is needed for #616

[2018-09-11 04:03] zykh commented on #300
I can confirm the problems on OpenIndiana, too.
@jimklimov, try to build libusb-1 with [this patch](https://github.com/networkupstools/nut/files/2369269/0001-solaris-fix-handling-of-control-transfers.patch.txt) instead of [OpenIndiana's patch n. 08](https://github.com/OpenIndiana/oi-userland/blob/oi/hipster/components/library/libusb-1/patches/08-release-transfer-lock.patch) -- it should solve the

[2018-09-11 10:17] jimklimov commented on #300
Further experiments showed that while the UPS driver got un-staled after re-plugging USB, and the device entries appeared with proper permissions, the actual operations still returned ENODEV and no new info was received from the UPS (e.g. OB when I unplugged power) and it was not marked as stale anymore.

Restarting the driver fixed the data updates, as long as the USB cable is still in.

I guess

[2018-09-11 13:13] jimklimov commented on #300
After reboot test of the box, the USB device node rights are reset to 600. FWIW, two workarounds were applied then:
* an init-script to make the rights 666
* a change to ups.conf (global context) to run all drivers as "user = root" (note this is not supported at section context... not hard to add though)
** this was expected to logically require to run upsd as root as well, but it seems that it is

[2018-09-11 17:21] Limych opened #617 "Powercom IMP-3000AP UPS"
Please, add support for Powercom IMP-3000AP UPS

[code]

[2018-09-11 17:38] Limych commented on #617
[code]

[2018-09-11 23:11] cshoredaniel commented on #602
Thanks for your help!  There are some minor nits left in the OpenWrt packages but at least in master things are now well (and hopefully will soon backport to current stable (18.06) series).

[2018-09-12 00:53] zykh commented on #300
ahem... I assumed libusb's SunOS backend was in a better shape than it actually is... (probably no one uses libusb-1.0 on solaris)
Try adding also [this patch](https://github.com/networkupstools/nut/files/2373155/0002-solaris-fix-handling-of-errors-in-control-transfers.patch.txt) on top of my last one -- libusb should at least error out now, when read()/write() fail in control transfers (not repor

[2018-09-13 12:17] JulyIGHOR opened #618 "Sometimes Bcmxcp_usb (Eaton) driver gone"
I'm using NUT with some Eaton backup power device.
Using driver Bcmxcp_usb I can see status "ALARM Online". Detected as POWERWARE UPS 500i
It works just fine and if power is offline, I got notifications.

But few days later, 5-10 it just stops working, and all info not visible just looks like USB cable unplugged.
Status line where was "ALARM Online" become empty.
When I detect it I go to NUT setti

[2018-09-13 23:14] zykh commented on #618
hmm... without seeing the logs I can't say for sure... and your description seems from something other than straight NUT (e.g. the 'reload' button), so maybe there's something else (out of our control) going on...

The first thing that comes to my mind as a possible interpretation (and that could easily be fixed) is that, maybe, the device briefly disconnects or becomes 'unpollable' for a short am

[2018-09-13 23:50] JulyIGHOR commented on #618
Sure I'll test any updates you give.
Here is log screenshot:
![image](https://user-images.githubusercontent.com/3390357/45521928-8d7a3380-b7c0-11e8-9e7b-db8be7d5ccd8.png)

[2018-09-16 01:09] zykh commented on #618
It seems to be consistent with my previous interpretation...
Try `bcmxcp_usb` compiled from this branch: https://github.com/zykh/nut/tree/issue-618

[2018-09-17 00:34] zykh opened #619 "Improve metasys driver as per protocol specs"
(follow-up to #616)

We now have access to (almost) all the protocols specs for `metasys`-supported devices:
- https://github.com/networkupstools/nut-website/commit/66d30c90401ff7929b25e5a87f9299b728f861ea
- https://github.com/networkupstools/nut-website/commit/570c1e5e9f1fb4f82abef9359897b5159e88fc50

...and the `metasys` driver currently only uses a subset of the available commands (only the com

[2018-09-17 18:06] JulyIGHOR commented on #618
Can you please send bin file to replace? I don't have toolchain to compile it.

[2018-09-17 21:46] zykh commented on #618
What system is that?

[2018-09-22 23:13] arabesc opened #620 "Liebert Corp. PowerSure PSI 1000 UPS isn't detected"
Hi,

The Liebert Corp. PowerSure PSI 1000 UPS isn't detected on my system by NUT.
There are FreeBSD 11.2 and [nut-2.7.4_8](https://www.freshports.org/sysutils/nut/).
[code]
[code]
[code]
[code]
[code]

Am I doing something wrong or is it possible to add support for that UPS?

[2018-09-23 14:02] pjcreath commented on #139
According to the [white paper](http://www.apc.com/salestools/MPAO-98KJ7F/MPAO-98KJ7F_R0_EN.pdf), all SRT models and SMT models (excluding rack mount 1U) running firmware >= UPS 09.0 support modbus.  SMT models with firmware >= UPS 08.0 can be updated to 09.x, which according to the [FAQ](http://www.apc.com/us/en/faqs/FA281865/) includes all 2U models and some tower models.

Given that, @anthonysom

[2018-09-23 16:13] clepple commented on #139
@pjcreath thanks for the info.

Thank you for your offer of an UPS. I can't speak for the other NUT developers, but for me, time for development has been the primary issue. Most of that time has gone to other efforts like issue #300, and in the case of modbus-over-USB, it really would make sense do this after #300 is resolved to avoid code thrashing. I have an SMT unit in storage, and it probably

[2018-09-23 16:45] arabesc commented on #620
No, I didn't. It's good advice to add to the FAQ. I haven't known about that. Thanks!
I've restarted the devd service and replugged the USB cable, the UPS is detected by NUT now:
[code]
[code]

[2018-09-23 16:45] #620 closed

[2018-09-23 20:56] jimklimov opened #621 "Update FAQ about discovering USB UPSes after NUT installation"
From #620 :

I've restarted the devd service and replugged the USB cable, the UPS is detected by NUT now

[2018-09-24 17:07] pjcreath commented on #139
Thank you for the quick response and insight into your thinking.  Yes, #300 looks more fundamental and important.  And since you already have an SMT, it seems like you're all set for whenever you get around to this feature.

Bolting on the abpcupsd modbus code sounds like a wise approach, since otherwise reimplementing modbus support would just be reinventing the wheel that seems to have [received

[2018-09-26 05:01] amanjpro opened #622 "[HCL] CyberPower Systems EC850LCD supported by usbhid-ups"
CyberPower Systems EC850LCD:

[code]

[code]
I have already run the `shutdown sequence` and everything is passing.

The link to the manufacturer’s online description of the device:
https://www.cyberpowersystems.com/product/ups/ec850lcd/

[2018-09-30 00:08] zykh commented on #618
@JulyIGHOR: I looked at that very quickly... since it mentions Slackware, if the executables are built using [plain vanilla Slackware configuration from SlackBuilds](https://slackbuilds.org/repository/14.2/system/nut/), it's worth trying the `bcmxcp_usb` driver as built on Slackware (14.2 x64).
So, here it is, in two flavours:
1. [using libusb-0.1](https://github.com/networkupstools/nut/files/2431

[2018-09-30 00:49] JulyIGHOR commented on #618
Thanks.
In some reason it many days already not breaks.
I think it only happens when we have lots of electricity jumps during short period.
So I'll try to disconnect/connect USB than, maybe it will make this issue happens again.
I'll answer here when tested.

[2018-10-02 15:51] dennypage commented on #568
Attempting to change the ownership of the USB devices (and all the other NUT infrastructure) is going to be problematic at best. Every time you do an pfSense upgrade or restore, your changes will be overwritten and you will need to reinstall them by hand. And OS upgrades will put you at risk for needing to reengineer the solution from the ground up.

You may want to look at using a suid springboar

[2018-10-02 16:18] mscaff commented on #568
Got it all working guys.

Running NUT as user nut.
Everything else such as the drivers etc still runs under root, it is just
upsmon which runs under my specified user.

This allows for execution of scripts and ssh sessions, so essentially upon
OS upgrade I just need to runs a couple chmod and chown lines and things
work as expected.

I can probably set an init script within pfSense to execute this

[2018-10-04 12:14] clepple opened #625 "CPS: for certain models, "ondelay" seems to trigger a reboot regardless of power state"
Partial list of affected models:
* OR500LCDRM1U
* Value600ELCD

Reference:
* https://github.com/networkupstools/nut/issues/432#issuecomment-405371395
* https://alioth-lists.debian.net/pipermail/nut-upsuser/2018-October/011249.html

[2018-10-04 19:49] ragd011 opened #626 "usbhid-ups signal 15 exiting on startup"
I'm not sure if this is the right place to report this issue so please kindly redirect me if necessary.

I've been using nut for a few years on Ubuntu 14 and 16.  I recently did a fresh install of 18.04.  I installed and configured nut and noticed after reboot it was not working.

Syslog shows the driver loading and everything looks good but before upsmon can start, usbhid-ups exits with a signal

[2018-10-09 09:04] sz4bi opened #627 "Updated Windows version is needed"
The [released](https://networkupstools.org/download.html) binaries for Windows are more than 4 year old now. Please release a new version, or build instructions for the noobs like me. Thanks.

[2018-10-15 14:43] yellowpattern opened #629 "PowerShield 2000"
UPS with SNMP board.

[code]
"upsc" output below.

[code]

[2018-10-16 08:23] paclik opened #630 "NUT driver usbhid-ups for EATON 5E650iUSB does not work on CENTOS 6.1"
When I try to load driver for eaton device I am not successful. You
can see result of debug messages below.  The same device I tried on
Xubuntu distro and it worked properly. However I even tried compile
binary from git sources on my Centos distro. I was able to run last
version nevertheless the result looked the same.  *

OS name and version,
*CentOS release 6.10 (Final) Linux 2.6.32-754.3.5.el6.

[2018-10-16 12:46] yellowpattern commented on #629
Ok. so the UPS I'm using is using the Netagent SNMP Web module from Voltronic.

Progress so far is just guessing mib values from web interface matching. I'm waiting for a proper MIB.

[mib.txt](https://github.com/networkupstools/nut/files/2483068/mib.txt)
[netagent-mib.h.txt](https://github.com/networkupstools/nut/files/2483055/netagent-mib.h.txt)
[netagent-mib.c.txt](https://github.com/networkups

[2018-10-16 12:47] yellowpattern commented on #629
Device URL:
http://www.voltronicpower.com/oCart2/index.php?route=product/product&product_id=98

[2018-10-16 13:06] yellowpattern commented on #629
The Huawei driver (8072) does not work with this device. ".1.3.6.1.4.1.2011.6.174.1.2.100.1.2.1" is not present in this MIB.

[2018-10-16 13:09] yellowpattern opened #631 "EPPC MIB not supported by nut"
Another UPS I have has a different SNMP module in it. I found an online description of its mib on github:
https://github.com/librenms/librenms/blob/master/mibs/powerwalker/EPPC-MIB

[2018-10-16 20:59] yellowpattern commented on #631
This I've done around a design where there is only 1 input and 1 output whereas the MIB supports multiple. The choice here is to support the same format as elsewhere (because it aligns better with data being input into collectd/grafana.)

[eppc-mib.h.txt](https://github.com/networkupstools/nut/files/2484877/eppc-mib.h.txt)
[eppc-mib.c.txt](https://github.com/networkupstools/nut/files/2484878/eppc-

[2018-10-17 03:23] #602 closed, assigned to nobody

[2018-10-27 06:27] bikrus opened #633 "[HCL] POWERCOM RPT-600AP supported by usbhid-ups"
Hi!
### Nut support report
**Nut**: has been installed from official Ubuntu repositories.
**Product web page**: http://pcmups.com.tw/eA/html/product/show.php?num=226&root=13&kind=105&page=1&keyword=
**Shutdown sequence**: OK (without load power on - has not been configured in BIOS)

[code]
[code]
[code]
[code]
[code]
### Notes

* Simetimes `ups.beeper.status: disabled` disappears from `upsc` outpu

[2018-10-27 15:13] clepple commented on #633
Thanks for the info. The two beeper related points are not surprising, but we can mention that on the DDL page.

For `battery.charge.low` and `battery.charge.warning`, you can attempt to set those with `upsrw`. The UPS should store them in non-volatile memory if it recognizes them.

For the last item, what does `ups.conf` look like? Since that logic is in the driver core, it should work regardless

[2018-10-28 07:01] bikrus opened #634 "[SOLVED] POWERCOM RPT-600AP unable to set battery.charge.*"
Hi!
### Issue
Either of `battery.charge.*` in `/etc/nut/ups.conf` doesn't work even after reboot.

Related comment: [@clepple wrote: For the last item, what does ups.conf look like? ...](https://github.com/networkupstools/nut/issues/633#issuecomment-433629013)

[code]
[code]
The output of `upsc RPT-600AP` still show old values
[code]

### Product info
**Related product report**: [[HCL] POWERCOM RP

[2018-10-28 07:13] bikrus commented on #633
@clepple Thanks.

[code]
**`/etc/nut/upsd.users`**
[code]
**but**
[code]

I have created new issue: [POWERCOM RPT-600AP unable to set battery.charge.*](https://github.com/networkupstools/nut/issues/634)

[2018-10-28 07:39] bikrus commented on #634
Sorry. My mistake. Instead of ` = ` I have misstyped ` : ` in param set. Next config snippet does work.
[code]
[code]

[2018-10-28 09:07] bikrus commented on #633
So. Seems like there are no issues with using this device yet.
Except of last figured out disconnects.
(If required - I'll create new issue)

Sometimes syslog shows that device is staled.
Sometimes right after boot:
[code]
Sometimes later:
[code]
Sometimes no disconnects at all in few hours of usage.

[2018-10-28 17:36] clepple commented on #634
Glad that worked!

[2018-10-28 17:36] #634 closed

[2018-10-29 03:21] kof98765 opened #635 "How to build in windows?"
i am find nothing that how to build in windows
the doc is too simple....

[2018-10-31 12:25] #635 closed, assigned to nobody

[2018-11-03 21:28] JulyIGHOR commented on #618
I have found out reason of problem. My Eaton has hardware issue, it just freezing sometimes.

[2018-11-03 21:28] #618 closed

[2018-11-05 00:36] zykh commented on #618
@JulyIGHOR, just one question: have you had a chance to test `bcmxcp_usb` compiled starting from [the 'issue-618' branch](https://github.com/zykh/nut/tree/issue-618) or one of the drivers from [my last post](https://github.com/networkupstools/nut/issues/618#issuecomment-425683514)?
I ask because those changes add a good amount of simplification to the `bcmxcp_usb` driver, also easing the maintenan

[2018-11-06 18:54] #562 closed

[2018-11-08 18:05] val-kulkov commented on #626
It looks like I have the same problem. Ubuntu 18.04.1 LTS. The driver is usbhid-ups.

[2018-11-09 12:36] ragd011 commented on #626
No prob. Understand. I'll take a look and try to get some more info. Also
I'll seeing maybe 18.04 had some built-in ups monitoring that's calling the
hangup. Thanks.

On Fri, Nov 9, 2018, 7:28 AM Charles Lepple <notifications@github.com wrote:

[2018-11-09 18:17] bikrus commented on #633
Hi! After few weeks of using this device I've made workaround for `Date stale`.
[code]
[code]
Now, when `Data stale` appears, script just restarts `upsdrvctl`
[code]

So my resolution is: RPT-600AP is usable.

[2018-11-10 16:42] ragd011 commented on #626
OK I ran a pstree and systemd is the no 1 process.  Here's the output of my syslog right after a restart.  let me know what pertinent info to put in the ubuntu bug and I'll go ahead and fill it out.  Thanks.
BTW any chance it has something to do with the ipv6 stuff happening in between?

Nov 10 11:31:11 vidcap-1804 upsdrvctl[868]: Using subdriver: CyberPower HID 0.5
Nov 10 11:31:11 vidcap-1804 ups

[2018-11-10 17:12] ragd011 commented on #626
Also, does this sounds like the same issue?  https://bugs.launchpad.net/ubuntu/+source/nut/+bug/1253861

I tried the fix but it didn't resolve my issue.

[2018-11-10 23:53] clepple commented on #626
Sort of related - it looks like NUT may be starting up before the network interface is completely ready.

What if you change `upsd.conf` to `LISTEN 0.0.0.0` instead of specifying the IP address and 127.0.0.1? If you have another network interface that you are trying to keep from seeing the NUT port, I would recommend using firewall rules for that, with interface names (be sure to include the loopb

[2018-11-11 00:02] clepple commented on #626
While you might be able to delay things long enough for the network to come up (as was done in that bug to wait for the USB connection), you'll notice at the top of your log that the UPS was detected in your case.

[2018-11-11 19:43] ragd011 commented on #626
Ha, I changed upsd.conf to 0.0.0.0 like you said and it works first try.  I only have one nic.  Pretty simple setup.  Thanks!

[2018-11-11 19:56] jimklimov commented on #626
As a side note, I gather you've used packaged NUT from your distros made
from an older-dated stable release? Not a recent Git HEAD?

I did some features related to systemd and SMF integration that were merged
recently, which first I feared could be your problem (hey, young new
fearure) but in the end I think can be your ojt-of-the-box solution as it
rectified dependencies for the service unit star

[2018-11-12 18:54] ragd011 commented on #626
Sure, I'll give it a shot.  So Basically apt remove what I have, delete configs, then clone the master and build/install it?  I think the wiki had how to do the drivers?

[2018-11-13 08:56] jimklimov commented on #626
Yes, basically so :)

To make as much as possible a drop-in replacement of NUT for your distro,
you can start from the configure options in its source package recipe of
your distro (same paths and all); then maybe take care of new options if
there are any, and register the systemd units after a make install.

For reference our product fork has some debian packaging recipes at
https://github.org/42

[2018-11-13 08:59] jimklimov commented on #626
Oh, and you do not have to remove configs, especially if same paths would
be used. Normally an upgrade should be transparent to end users. A switch
from package to BYOD may be not so, but i wouldn't start by removing
configs (but might take another look at users allowed to read them) :)

On Mon, Nov 12, 2018, 19:54 ragd011 <notifications@github.com wrote:

[2018-11-14 17:42] StefanBruens commented on #505
In kicad this was "solved" by using a dependency between the various output formats. Thus different manuals are built in parallel, but e.g. user-manual.{txt,pdf} were built sequentially.

[2018-11-16 18:54] kvaster commented on #586
Hello again. Due to problems with rs232 (unreliable connection errors with my setup - connection lost messages) I decided to investigate problem with USB further.

Part of 'upsc' command output:
[code]

As you can see outlet.switchable is 'no' for 'main' outlet (global?), but it is yes for outlet 1 and 2.

Output of 'upscmd -l' cmd:
[code]

Global load.off/on and load.off/on.delay commands are ava

[2018-11-25 09:55] kytster commented on #617
Ubuntu server !8.04 and Powercom Imperial IMP-825AP

[code]
[code]

If it makes sense:
 Once, I had things worked after I plugged UPS to USB2 port instead of USB 3. But then accidentally I switched off server without normal shutdown, and no luck since then

[2018-11-30 15:20] Dragon201701 opened #637 "Tripp-Lite SU3000LCD2UHV support issue."
Do nut support SU3000LCD2UHV?

[2018-12-01 00:13] clepple commented on #637
Probably via either the [`usbhid-ups`](https://networkupstools.org/docs/man/usbhid-ups.html) driver (or possibly `tripplite-usb`), since the [datasheet](https://assets.tripplite.com/product-pdfs/en/su3000lcd2uhv.pdf) says "USB (HID enabled)". The serial drivers have not been updated for many of the Tripp Lite models.

If you have one connected to a Linux system, what does `lsusb -v -d 09ae:` retur

[2018-12-01 04:51] Dragon201701 commented on #637
![image](https://user-images.githubusercontent.com/25556161/49324416-84ad1a00-f4f2-11e8-8a7c-1ab1f58044bb.png)

[2018-12-01 04:52] Dragon201701 commented on #637
![image](https://user-images.githubusercontent.com/25556161/49324418-94c4f980-f4f2-11e8-8801-35d75dfa68d4.png)

[2018-12-01 04:52] Dragon201701 commented on #637
I have run these commend and try all three drivers early today and found these stuff

[2018-12-01 13:02] clepple commented on #637
What if you add `productid = 1330` to `ups.conf` and retry with `usbhid-ups`?

[2018-12-01 13:12] clepple commented on #637
I thought that name sounded familiar. There may be an issue with just using `productid=1330` on NUT 2.7.4, but we did merge some changes for this model into the master branch: https://github.com/networkupstools/nut/pull/297

[2018-12-05 03:01] marcan commented on #300
How are things looking for merging the libusb-1.0 branch to master? I have a patch to add port-path support (to identify UPSes connected to a hub that do not have distinct serials) which I need to use NUT on a particular system, but that depends on libusb-1.0 (currently basing it off of the `libusb-1.0+0.1` branch). If it's useful I can send a PR to merge it to one of the libusb-1.0 branches (whic

[2018-12-06 22:13] Dragon201701 commented on #637
I got
`
Network UPS Tools - UPS driver controller 2.7.4
Network UPS Tools - Generic HID driver 0.41 (2.7.4)
USB communication driver 0.33
Can't claim USB device [09ae:1330]: could not detach kernel driver from interface 0: Operation not permitted
Driver failed to start (exit status=1)
`
The official driver should support serial but I keep getting an RI at the stop bit if I do `sudo cat /proc/tty/d

[2018-12-07 00:37] clepple commented on #637
Running as root?

[2018-12-07 02:53] clepple commented on #637
I got this issue mixed up with another one. Since you had to add `productid=1330`, you would also need to either adjust the udev rules (which distro is this?), or also add `user=root` to the config file (which is only good for testing the driver, otherwise you have to also adapt the upsd configuration).

[2018-12-07 02:57] clepple commented on #637
Not sure what you mean about the serial port. Do you mean Tripp Lite's official driver?

The NUT serial `tripplite` driver has not been updated for any of the newer protocols. As far as baud rate, it is probably going to use 2400bps. Also, you may need to completely shut down the UPS when changing between the serial and USB ports.

[2018-12-07 03:16] Dragon201701 commented on #637
Well, this product is a SmartOnline product so should I use tripplitesu instead? I have been trying that for this entire week but I found I can't even communicate to UPS if I do echo "hello" > /dev/ttyS0 while cat them in a separate terminal.

[2018-12-07 10:07] pavloivanets opened #640 "[HCL] UPS Logicpower UL850VA supported by richcomm_usb"
Hi!

I've recently installed the driver  richcomm_usb for UPS Logicpower UL850VA.
Other drivers I tried didn't work except this one.

The main problem is , that the status of the battery is shown as **ups.status: OB LB** but UPS is on power and battery charge level is 100%. So, when I run upsmon - it shutdown the system.

Below are outputs of the commands:

root@mapstorage:~# upsc logicpower@local

[2018-12-07 12:12] clepple commented on #640
Do the bits for `ups.status` change when you unplug the input power? If not, it might just be coincidence that the driver was able to attach to the UPS.

`0925:1234` is an example USB ID from Jan Axelson's "USB Complete" book, so it is no more descriptive than the `0001:0000` IDs that pop up from time to time.

What does `lsusb -vvv -d:0925` return? You will need to run it as root.

[2018-12-07 13:32] pavloivanets commented on #640
While deeper investigation, I found that the status is cnanging from time to time from "OB LB" to "OB".
It does not matter is UPS plugged-in or unplugged. The statuses are always the same and changing from time to time every several seconds.

root@mapstorage:~# upsc logicpower@localhost | grep ups.status
Init SSL without certificate database
ups.status: OB LB
root@mapstorage:~# upsc logicpower@loc

[2018-12-07 14:03] clepple commented on #640
My mistake, I meant `lsusb -vvv -d0925:` - but what you have is fine.

What software does the vendor recommend using? Maybe we can match that up with another UPS/driver combination in NUT.

Maybe try the `nutdrv_qx` driver? (@zykh, do you remember if we ever got this USB adapter working in non-contact closure mode? I saw a few threads from ~ 10 years ago but no resolution.)

[2018-12-07 14:53] pavloivanets commented on #640
The drivers for the UPS are older than mammoth (2005 year).
The drivers/documentation links I found match the drivers that were provided with UPS:

[](https://logicfox.ua/podderzhka/drivers/ups/LPM-U.rar)
[](https://logicfox.ua/manuals/ups/lp_650_850_1200_1500%20.pdf)

I tried them, but the drivers even could not start (I have Ubuntu 14.04)

### nutdrv_qx driver is not working.

Output of the comm

[2018-12-07 16:11] Dragon201701 commented on #637
I do `sudo -i` then `/sbin/upsdrvctl start' and got 'Network UPS Tools - UPS driver controller 2.7.4
Network UPS Tools - Generic HID driver 0.41 (2.7.4)
USB communication driver 0.33
This TrippLite device (09ae:1330) is not (or perhaps not yet) supported
by usbhid-ups. Please make sure you have an up-to-date version of NUT. If
this does not fix the problem, try running the driver with the
'-x prod

[2018-12-07 16:11] Dragon201701 commented on #637
So how do I rebuild a driver?

[2018-12-07 16:12] Dragon201701 commented on #637
or perhaps serial working better than USB?

[2018-12-07 21:20] dastrix80 opened #641 "upsmon fails to start when using slave mode only"
Hi Team

Cannot get this to start, I know the master works fine as there are other devices using it

[code]

My upsd.users

[code]

upsmon.conf

`

MONITOR qnapups@192.168.0.9:3493 1 admin xxxx1! slave

`
Any thoughts?

[2018-12-08 14:47] clepple commented on #640
For future reference, it looks like the vendor software package is called `PowerManagerII`, and the *nix variants are called `upsmanager1G.0v` and `upsmanager1.0v`.

(I changed the issue title because I use the keyword "HCL" to indicate compatible hardware that we need to add to the compatibility lists.)

[2018-12-08 15:13] clepple commented on #640
If you want to try to get the vendor software working (in order to trace the USB comms), you can try the solution here: https://askubuntu.com/questions/454253/how-to-run-32-bit-app-in-ubuntu-64-bit#454254

[2018-12-08 16:51] berenddeschouwer commented on #633
I've got a Powercom Raptor 2000, which behaves almost identically -- probably the same USB chip, just different batteries.

lsusb:
[code]

upsc:
[code]

The beeper is identically broken.  Status is always disabled.

[2018-12-08 16:53] berenddeschouwer commented on #633
The device also disappears every now and then.  The USB port appears to reset until usbhid-ups is claimed, so I've written a udev rule:

[code]

[2018-12-09 15:42] clepple commented on #637
As mentioned before, instructions are on the wiki:
https://github.com/networkupstools/nut/wiki/Building-NUT-on-Debian,-Raspbian-and-Ubuntu

I'm not sure how else to explain this - someone got a 09ae:1330 UPS working with USB (just not with plain NUT 2.7.4). That's what I would recommend trying.

The serial drivers haven't been updated for many years. The Tripp-Lite serial protocol is not well docu

[2018-12-10 00:47] zykh commented on #640
@clepple: no... but the `Quary_F`, `Quary_I` and `Quary_Q1` routines in that software are somewhat revelatory...
@pavloivanets: what's the output of the `richcomm_usb` driver when launched with a debug level of 3 (i.e. `/path/to/richcomm_usb -a logicpower -DDD`)?

[2018-12-10 09:08] pavloivanets commented on #640
Hi!

@zykh Here is the output of the driver:

[code]

[2018-12-10 18:07] aquette opened #643 "Is the ups.status flag CAL enough to support reporting tests in progress?"
the ups.status ['CAL' flag](https://github.com/networkupstools/nut/blob/master/docs/new-drivers.txt#L225) is documented as: "UPS is currently performing runtime calibration (on battery)"

On the other side, we have the ['ups.test.result]'(https://github.com/networkupstools/nut/blob/master/docs/nut-names.txt#L94) variable and the related commands](https://github.com/networkupstools/nut/blob/master/

[2018-12-11 03:37] clepple commented on #643
Given that we frequently don't know whether vendors are actually performing runtime calibration, or just checking that the voltage doesn't drop below a threshold when on battery, I don't see much value in another status value. It seems more useful me to document the discrepancy between the flag and the result variable, and move on. When information is known about the calibration method, that can b

[2018-12-11 08:13] aquette commented on #643
hi @clepple, thanks for your answer and helping clarifying the topic.

indeed for the new flag. This question to self came out from the netxml-ups driver pushing in ups.test.result and not using the CAL flag to expose that the current OB - on battery is tied to a test and not to a line failure.
I'll try to make a PR to illustrate this.

as for moving test.result from ups collection to device, it's

[2018-12-12 01:09] zykh commented on #640
After further inspection, I came to this..
Apparently there are (at least) 3 protocols used by devices using those richcomm serial/usb things (all should identify themselves as `0925:1234`):
- USB devices supported by PowerManagerLite:
  - those are only contact closure devices -- the protocol is the one currently implemented in `richcomm_usb` driver... (they should only support the `1` and `2` 'c

[2018-12-13 22:44] zykh commented on #640
So, @pavloivanets... here I am, a (no longer) young man, a crashing computer program.

First try here: https://github.com/zykh/nut/tree/poorcomm

I amended the `richcomm_usb` driver to also try the other -ahem- 'commands' (excluding `2` and `17`, which should be the shutdowns in the two protocols), in order to gather some data to work with... so (best scenario) the driver will still behave as befo

[2018-12-15 08:12] rigred commented on #630
Same/similar problem on arch now with Eaton 5E2000iUSB
Kernel 4.19.8 - previously was working with 4.19.4 - ?somehow?

[code]
[code]
##udevadm monitor
[code]

[2018-12-17 14:50] Joserron commented on #409
Hola @Soyasi , estoy teniendo problemas a la hora de configurar el UPS en el PFsense.
Es un MEC0003 3000kva y sigo tus instrucciones, al menos las del log que pegas, y no me lo acepta, ¿podrías indicarme cómo lo hiciste?, ¿configuraste el ups.conf a mano?
Saludos y gracias por adelantado

[2018-12-22 18:38] Yellow-Horror commented on #617
Similar trouble with Powercom WAR-1000AP:
Network UPS Tools - Generic HID driver 0.41 (2.7.4)
USB communication driver 0.33
   0.000000     debug level is '3'
   0.003678     upsdrv_initups...
   0.005565     Checking device (0D9F/0004) (/dev/usb//dev/ugen0.2)
   0.212468     - VendorID: 0d9f
   0.212509     - ProductID: 0004
   0.212529     - Manufacturer: unknown
   0.212545     - Product: unkno

[2018-12-23 16:42] Yellow-Horror commented on #617
The my issue above persists on XigmaNAS system only. When i try the Linux Mint on the same hardware, the NUT works like a charm. It shows Generic HID driver 0.38 (2.7.2) and USB communication driver 0.32. May be this matters.

[2018-12-23 22:48] Yellow-Horror commented on #617
Seems that Limych and reida above also have FreeBSD-based systems.

[2018-12-28 15:41] Th3M1k3y opened #645 "Wrong values for Bluewalker PowerWalker VI 750 R1U"
I am using a raspberry pi to monitor my UPS. NUT has detected the model number, and some other things, but battery charge is constantr at 50, no matter if battery is full or not, output.voltage is always 123.4 too, where it should be 230-231, input voltage is 102, but should be 230 too.

I tried to increase poolfreq and poolinterval, as it seems to have fixed problems for someone else, but it didn

[2018-12-28 16:55] clepple commented on #645
It isn't clear whether the UPS is just not providing those values, or if NUT is incorrectly applying fixes intended for CyberPower UPSes.

We will need a debug log from the driver.

1. Stop the NUT daemons: `sudo service nut-client stop; sudo service nut-server stop`
2. Start the driver in debug mode: `sudo /lib/nut/usbhid-ups -a ups -DDD 2>&1 | tee /tmp/powerwalker-VI-750.txt`
3. Let it run for ~

[2018-12-28 17:02] Th3M1k3y commented on #645
Thank you for your reply, here is the log generated.

[powerwalker-VI-750.txt](https://github.com/networkupstools/nut/files/2715271/powerwalker-VI-750.txt)

Easy to notice this...
[code]

[2018-12-28 19:52] clepple commented on #645
I keep seeing things like this:
[code]

Report ID is 0x0e, and the value is 0x00e6 (little-endian). 0xe6 is 230 decimal, but NUT is picking up a scaling factor from somewhere else in the report descriptor, and gets 102 instead. (It's like leaving a parenthesis open by mistake.)

Theoretically, we can fix this after #169 is done, but I would also recommend trying the vendor's software (maybe on a l

[2018-12-28 21:16] Th3M1k3y commented on #645
It is working fine with their own software.

![pm3](https://user-images.githubusercontent.com/29869794/50528326-f4acc100-0aed-11e9-9d07-b990067a6e58.PNG)

That problem was opened 4 years ago, I assume there isnt anything close to being fixed yet?

[2019-01-10 17:26] fionnb opened #646 "[HCL] BlueWalker / PowerWalker VI 650/850 SHL (2018+ Models) supported by usbhid-ups"
I bought a recent BlueWalker / PowerWalker UPS from Amazon.
The exact Product description string from the package is:
"PowerWalker VI 650/850 SHL". I bought the 650VA version
The serial number shows week 43/2018 as manufacturing date.
Syslog says:  06da:ffff Phoenixtec Power Co., Ltd

It identified as a HID device in syslog so I tried usbhid-ups on it - with success:

root@linux[~] upsc powerwalke

[2019-01-11 19:32] nemoinis commented on #169
Another point of info: with CyberPower CP1500PFCLCD (and probaly others from the reports I've seen) this also affects parameters written by upsrw (e.g. battery.charge.low, battery.runtime.low, etc...).
Wrong parameter values are written to the UPS by upsrw. The manufacturer's own software (powerpanel) writes proper values.

[2019-01-15 19:42] bkvamme opened #648 "HCL PowerWalker VFI 1000 CG PF1 supported by nutdrv_qx"
PowerWalker VFI 1000 CG PF1 tested successfully with nutdrv_qx

Also works with blazer_usb, do you need an additional issue for this?

Link to manufacturer: https://powerwalker.com/?page=product&item=10122108&lang=en

[code]

[2019-01-18 23:43] zykh commented on #646
Thanks for the report, @fionnb.

Can you post also the output of `upsrw <upsname>` and `upscmd -l <upsname>`?
And, do the commands listed by `upscmd` work as expected?

Also, have you had a chance to test the shutdown sequence?

And... since you mention #475, did you have to apply any of the tweaks listed there to make the driver work as expected?

[2019-01-18 23:44] bkvamme commented on #648
'pi@pinut:~ $ upsrw ups
[battery.energysave]
Switch off when running on battery and no/low load
Type: ENUM
Option: "no" SELECTED
Option: "yes"

[battery.packs]
Number of battery packs
Type: RANGE
Option: "1-99" SELECTED

[battery.protection]
Prevent deep discharge of battery
Type: ENUM
Option: "no"
Option: "yes" SELECTED

[input.frequency.high]
Maximum input line frequency (Hz)
Type: RANGE
Option:

[2019-01-18 23:47] bkvamme commented on #648
How do you test the shutdown process? Tried pulling the cable, but it didn't shutdown until low battery. Big 73Ah battery, so haven't tried it yet.

[2019-01-19 00:15] zykh commented on #648
Yeah, exactly that... (but I'd use a power strip or the like, to keep things grounded)

Meanwhile, if you don't have time to let the battery discharge, you could at least try `upsdrvctl shutdown`, which should send the shutdown command to the device (but some devices don't accept the command, if they're not on battery).

[2019-01-20 04:51] username115 commented on #590
I would like to second this request

[2019-01-23 21:41] IndrekHaav commented on #645
I have a VI 500 R1U and am seeing the same issue - wrong values in `upsc` output when using the usbhid-ups driver.

I initially tried the blazer_usb and nutdrv_qx drivers, but they didn't work. `lsusb` identified the UPS as a "Cyber Power System, Inc. PR1500LCDRT2U UPS" so I tried usbhid-ups on a whim, and it managed to at least communicate with the UPS. Also, some basic commands like enabling/dis

[2019-01-24 21:44] zykh opened #651 "mge-hid: nominal output voltage limits per country"
I don't quite get what's going on here (from 50daef52a1d):

https://github.com/networkupstools/nut/blob/5d97d0706994888aa37342940bf7720fb9eb7500/drivers/mge-hid.c#L739-L764

Why `break` at that point on `country_code`? (that switch case falls through to another `break`)

Is the Eaton/Powerware (I suppose) "5130 RT 3000" an offline model (i.e. `mge_type < MGE_DEFAULT`) and the comment means that th

[2019-02-01 13:34] aquette opened #656 "RFC: INSTCMD and SET VAR status tracking"
Dear fellows,
I'm happy to finally be able to provide a RFC for this long awaited feature!
(esp. @clepple , @zykh , @jimklimov)

From docs/net-protocol.txt, Future ideas -> Command status:

    After sending an INSTCMD or SET, a client will eventually be able to poll to see whether it was completed successfully by the driver.

Proposal:

* Add a new "CMDSET_STATUS" command in the network protocol

[2019-02-01 16:31] aquette opened #657 "Augeas support completion"
while looking back at Augeas for #656, I remembered that there were a number of things still to be done:

* [ ] add a "check" target in scripts/augeas/Makefile.am using

* [ ] complete nutupsdconf.aug.in with CERTPATH CERTIDENT CERTREQUEST (Mozilla NSS sec)
* audit for other lenses and new features TBD

[2019-02-01 16:34] aquette commented on #657
side note: tests are failing on my system:

[2019-02-02 11:44] clepple opened #658 "Distinguish between C++11 and earlier C++ revisions"
Extension of #472 and this [comment](https://github.com/networkupstools/nut/commit/760d42f17fe74deab8028cc284a9e0a742ce7de6#commitcomment-32150257).

[2019-02-02 11:50] clepple commented on #658
55055d3 is building here: http://buildbot.networkupstools.org/public/nut/builders/Ubuntu-precise-x64/builds/865

[2019-02-10 03:49] Ingramz commented on #646
Pardon me for hijacking this issue.

I received a [PowerWalker VI 2200 SH](https://powerwalker.com/?lang=en&page=product&item=10120051) today and it seems to use the same USB interface.

So far it has been working fine with minimal configuration required.

[code]

[code]

[code]

As others have noted in PowerWalker-related issues, the Liebert HID subdriver seems to be lacking certain features. For

[2019-02-11 09:02] jimklimov opened #661 "UPSD too eager to report Data stale"
On our relatively busy NAS server there are occasionally console messages that `Data for UPS X is stale`. In original default settings, the messages for `data is no longer stale` do not get to the console (which looked worrysome, to see only lots of failures, until I updated logging settings).

Now that both types of messages are here, I see that stale and not-stale often happen in the same second

[2019-02-12 11:53] clepple commented on #658
The `-std=c++0x` fix worked for Ubuntu 12.04 (gcc) but failed for OpenBSD 6.1: http://buildbot.networkupstools.org/public/nut/builders/OpenBSD-x64/builds/698

[2019-02-13 12:10] clepple commented on #658
To be fair, the `g++` version on this system (now OpenBSD 6.4) is 4.2.1, and it includes clang++ 6.0.0 (which probably understands both `--std=` options). I still think we should be handling this in the `configure` script, and maybe even switch to using `c++` as the default C++ compiler name.

[2019-02-14 08:25] aquette commented on #656
@boricj @geraldguillaume could you please give some visibility on the ETA for libnutclient completion?
Be aware that the spec has changed a bit, so refer to the net-protocol.txt doc and not to the above!

[2019-02-20 23:15] jimklimov opened #666 "Shared-Object library metadata improvements"
Follow-up to https://github.com/42ity/nut/pull/77#pullrequestreview-206044352 -- we need :

* Library symbol files, for consumers to have better run-time dependency checking than just presence of a filename
* A way to specify library versions (maj, min, patch) in such a way that both Makefiles and third-party packaging efforts can benefit (includable `key=value` files good for shells and makes?),

[2019-02-22 08:31] MDE186 commented on #170
Would just like to know if this is ever going to be added?

[2019-02-23 20:01] clepple commented on #658
See also #668

[2019-02-23 23:07] clepple commented on #658
Closed now that #668 has been merged.

[2019-02-23 23:07] #658 closed

[2019-02-26 11:45] aquette commented on #661
privet @jimklimov
I'd like to make a setup to reproduce this, since the fix may not be that trivial.
Questions:
* which driver are you using?
* are you using the default MAXAGE in upsd.conf (15 seconds)?

[2019-02-26 14:02] aquette commented on #657
on the test failure:
I just had news from Raphael Pinson. He confirmed what I saw, that is
`IniFile.indented_entry` handles quotes (and double quotes) in a specific way that can't be modified. The best would be to look elsewhere (Shellvars) to see how it is managed.

Ref: https://github.com/hercules-team/augeas/blob/master/lenses/shellvars.aug#L39

[2019-02-28 13:09] aquette commented on #300
@marcan please propose a separate PR (based on libusb-1.0+0.1 branch) and reference the present issue, thx
@jimklimov @zykh @clepple I think we should now release move on and release 2.7.5. At worst, people will be able to try and get back to 0.1, and test / report more broadly.

[2019-02-28 15:42] aquette commented on #616
@zykh do you think this one can still go into 2.7.5 if we want to release now?

[2019-02-28 19:59] jimklimov commented on #300
Was it supposed to be "we should now *merge*" ? ;)

[2019-02-28 20:13] jimklimov commented on #300
FWIW, the custom NUT build I made on an OmniOS box (using binary libraries for libusb-1.0 built on OpenIndiana's packaging framework with the patch mentioned above) works satisfactorily for the past half a year. While not all is perfectly plug-and-play, it monitors the UPS for months in a row if you don't touch the connections. :)

This is certainly better than not-connecting, losing connections a

[2019-03-02 23:06] zykh commented on #616
@aquette: sure, it's ready, but, as mentioned above, if 2.7.5 will contain one of the libusb branches, I'd prefer to (rebase and) merge this one after the libusb branch, to avoid possible conflicts there.

[2019-03-03 00:39] zykh commented on #300
@aquette: in my opinion, the `libusb-1.0+0.1` branch, in its current status, should not be released.
As previously mentioned, that branch introduces a few new bugs (some not exactly easy to be fixed), on top of older (already in master) ones.

Now, I could be wrong, and surely I'm a wee bit biased (you known, ogni scarrafone è bello mamma sua), but I think the `libusb-compat-1.0` branch is a bette

[2019-03-05 16:49] guzzim opened #674 "UPS DigiTECH Computer 650VA Not Supported"
This UPS appears to be Megatec like.  If I run the NUT driver nutdrv_qx first, it fails to start.  However, if I run the manufacturers software first (a linux binary supplied on a cd), close it, then start nutdrv_qx, it starts but displays the last value the OEM software retrieved.  I have experimented with other combinations of driver and subdriver, all without success.

The OEM software is calle

[2019-03-11 17:35] aquette commented on #656
note to self, and possibly to followers of this ticket, for comments:
if side implems, like perl / jNUT lacks of manpower to be achieved, we may simply comment about the supported Protocol version, and point at https://github.com/networkupstools/nut/blob/master/docs/net-protocol.txt#L42 for more info

[2019-03-13 12:28] clepple opened #676 "fix invocation of isdigit(), or use str* API"
`isdigit()` takes a char/int, not a char*.

[Originally mentioned here](
https://github.com/networkupstools/nut/commit/9a40084a5c756fa47c436819c2b15c41fa91d93a#commitcomment-32558936), but we need to fix this before the next release.

[2019-03-14 19:14] Ingramz commented on #646
I noticed that the connection to the UPS is occasionally lost, usually 20-24 hours after starting up (getting `Error: Data stale`).  Then I followed the advice from https://nmaggioni.xyz/2017/03/14/NUT-CyberPower-UPS/ and so far I haven't encountered any permanent disconnections.

[2019-03-15 01:47] #336 closed

[2019-03-18 01:10] zykh commented on #674
@guzzim: could you test #638, please?

[2019-03-18 13:36] jimklimov opened #678 "nut-scanner without args should scan its IP subnet with networked methods, but does not"
On a test system done from a mix of branches from different NUT PRs, I noticed that running `nut-scanner` did not produce any results, while it was expected to find some netxml and snmp devices, and maybe NUT ones too, in the connected subnet:

[code]

while the help states that a complete scan of non-serial port devices should be the defautt:

[code]

Scanning with a subnet, SNMP mode started but

[2019-03-18 15:46] guzzim commented on #674
@zykh Thank you for taking a look at this onen.  I'm a bit of a n00b with git, but I checked out github.com/marianojan/nut.git and aftering making the drivers I'm happy to report that it's working.  Readings from the driver match and change with the LCD display on the UPS.

Is there a way to git clone the master and integrate Mariano hunnox drivers?

[2019-03-19 13:25] AndiHe commented on #661
We are plagued by the same problem. In our case we would like to monitor a Eaton 93PS and tried netxml-ups and snmp-ups and get the stale/no longer stale cycle with both.
I would be able to provide tcpdump data and we are able to test/compile patches on that machine if someone is interested in solving the problem.

[2019-03-19 13:42] AndiHe commented on #661
Might this be solved with https://github.com/networkupstools/nut/issues/542 ??

[2019-03-19 23:40] zykh commented on #674
@guzzim: could you please post the output of `nutdrv_qx` launched with a debug level of 5 (let it run for a couple of minutes)?

At this point, you should have also switched to the `hunnox-hnx850` branch (not that this would have made a big difference, given that Mariano's `master` is very similar to that branch).

Not sure I understand what you mean.

If you want to have your local copy of Marian

[2019-03-20 00:09] zykh commented on #678
hmm... perhaps those options were not displayed in the help message and were skipped because they were not available? (i.e. `nutscan_avail_avahi`, `nutscan_avail_ipmi`, ..., evaluated to false)

[2019-03-20 13:57] guzzim commented on #674
Thanks for that @zykh .  I think i've done this correctly.

1. `git clone https://github.com/networkupstools/nut.git`
1. cd nut
1. `git remote add -f marianojan https://github.com/marianojan/nut.git`
1. `git merge marianojan/hunnox-hnx850`
I had a conflict with the drivers/Makefile.am, which i was able to clear up (add in the hunnox driver)

Settings used in ups.conf
[code]

Debug output from the

[2019-03-20 14:15] guzzim commented on #674
This error seems to occur on some polls.

[code]

[2019-03-21 10:33] jimklimov commented on #661
@aquette : for the device in that issue, it was a generic `usbhid-ups`:

[code]

The `MAXAGE` is not customized, so should be 15 sec per comments in the config./

[2019-03-31 22:08] zykh commented on #674
@guzzim: glad #638 worked and thanks for the logs (and `ups.conf` options), really useful.

As for the errors, you could try increasing `pollinterval`, but if they are really frequent, we could consider ignoring the first character of the reply (as we already do, for example, in the `krauler` USB subdriver).

[2019-04-01 13:55] kyuferev opened #684 "Monitor multiple bcmxcp devices troubles"
Hi there.
Pre-history: #597
I have a setup of one OrangePi One board with 3 USB hubs (each hub has its own PSU) connected to each other and 17 UPSes to monitor. Most of them are Eaton PW9120 6000i and there also are some PW9130. PW9120 are connected to USB hubs via RS232-USB cable based on PL2303 chip and are using bcmxcp driver. PW9130 are connected via USB A - USB B cables and are using usbhid-u

[2019-04-03 12:14] AndrewB82 opened #688 "CyberPower CP900EPFCLCD upsrw not working"
Hi,

been testing NUT on my CyberPower CP900EPFCLCD. While communication is ok and I've been able to read UPS status on several devices, updating values seems not to work. I've been trying through upsset CGI and upsrw in CLI. In the latter I get "OK" response but battery.charge.low I've been trying does not change.

Best,

Andrzej

[2019-04-08 13:29] kyuferev commented on #684
I've just catched another UPS getting disconnected with "short read from UPS" errors in syslog. But this time UPS got back after `upsdrvctl start upsname` with two `Communications with UPS lost: Receive error (Requested only mode command): 4!!!` errors

[2019-04-08 13:36] kyuferev commented on #684
And usbhid-ups device failed with `Can't connect to UPS [ups-8] (usbhid-ups-ups-8): No such file or directory`. upsdrvctl:
[code]

[2019-04-09 21:18] aquette commented on #684
Hi

1. There is no specific limit on the nut side, but usb may be drawing too much power if your hubs are not self powered.

2. Try lowering pollinterval in ups.conf. the ups may be flooded. Also check the battery test period. Look around MAXAGE in upsd.conf and possibly upsmon.conf

Cheers

[2019-04-09 21:24] aquette commented on #684
Btw, some hard reset of the units may be required to get back to a sane situation. Power down, unplug the power cable, count to 10, ...

[2019-04-10 06:42] kyuferev commented on #684
All hubs are self powered so it isn't a problem.

But if I'll lower pollinterval value there will be even more requests sent to the UPS or am I getting it wrong? Right now I have `pollinterval = 10` in `ups.conf` and `MAXAGE 25` in `upsd.conf`. I've tried to fix the problem by modifying this parameters but no success. Should I increase `MAXAGE` parameter even more?

I should also note that I have

[2019-04-10 06:45] kyuferev commented on #684
Unfortunately that's impossible because of large amount of servers that are connected to these UPSes.

[2019-04-10 10:09] kyuferev commented on #684
UPS got disconnected again. No errors in dmesg, all /dev/ttyUSB devices are in place. In syslog:
[code]
No response from UPS:
[code]

[2019-04-15 04:25] hoch1009 commented on #645
@Th3M1k3y @IndrekHaav do you have any workarounds or are you using nut as it is (with wrong values)?

[2019-04-15 05:48] IndrekHaav commented on #645
I ended up getting the management card for the UPS, so I'm not using NUT at all.

[2019-04-19 08:59] mitkola opened #691 "Proposal for shutdown process diagram"
I want to propose if it is applicable to add sequence diagram for illustration in user manual section "6.3. Configuring automatic shutdowns for low battery events"/"Shutdown design"
https://github.com/mitkola/nutdiag
Any comments and corrections are welcome.
The diagram was inspired from my friend Andrei Andreev.

[2019-04-29 02:07] clepple commented on #676
I'm bumping the milestone from 2.7.5 to 2.7.6 because we merged #690, which fixes the misuse of `isdigit()`. I still think that a slightly reworked version of #677 (with signed/unsigned expanded out into separate variables, etc.) should be merged into the following release.

[2019-05-07 07:31] Thermi opened #693 "upsd PID check and config loading in wrong order"
upsd version 2.7.4

Please order the check correctly. Right now, the STATEPATH in upsd.conf doesn't influence the checking of the PID file, although it should. The default path is /var/state/nut/, which is a permanent, not a volatile directory, so the PID file persists between reboots, if nut is shutdown unclean.

See 	https://github.com/networkupstools/nut/blob/241848c35b050af3d4baedb3ae646226182

[2019-05-07 08:06] Thermi opened #694 "Don't use upsd.conf in upsmon"
When STATEPATH is configured in upsd.conf, which is currently ignored by upsd, upsmon can't connect to the driver, because it itself honors STATEPATH in upsd.conf (although it's not upsmon's config file), and therefore looks in a different directory than upsd writes the PIDs to.

[2019-05-12 08:01] kevindd992002 opened #695 "Each time I reboot my computer, nut-driver.service fails to start:"
So everytime I reboot my Debian machine, I see the nut-driver.service failing to start. When I check through systemctl, it is loaded but not active. I'm using this Debian box as a simple slave monitoring client that is pointed to a NUT master in my pfsense firewall/gateway box (where my actual UPS is connected). In that scenario, I would imagine that the driver service shouldn't be loaded at all b

[2019-05-12 14:08] clepple commented on #695
Correct, the driver service is not being used in a monitoring-only setup.

You didn't specify which version of the NUT package you are using (or the version of Debian), but the most likely way to avoid this for a client-only machine is to remove the `nut-server` package. If you installed the `nut` meta-package, you might need to reinstall `nut-client`, or mark it as not automatically installed.

T

[2019-05-13 23:06] clepple opened #696 "Distinguish between config file permissions and device permissions in user manual"
Link to FAQ entry? https://networkupstools.org/docs/FAQ.html#_my_usb_ups_is_supported_but_doesn_8217_t_work

Reference: https://alioth-lists.debian.net/pipermail/nut-upsdev/2019-May/007436.html

[2019-05-14 03:15] kevindd992002 commented on #695
Right. Before I read your response I noticed that there is a nut-server and a nut-client package installed. So I removed nut and installed only the nut-client, which solved the problem.

Before doing all these, I also did configure nut.conf to mode=netclient. So that should've disabled the driver service altogether but I guess you're right that is not working with systemd.

[2019-05-14 11:10] clepple commented on #695
Since it sounds like your setup is working, I'm going to close this issue.

Ultimately, the startup scripts are handled by the packagers, so I would recommend filing a bug with Debian if you need `nut.conf` to interact differently with the systemd units.

[2019-05-14 11:10] #695 closed

[2019-05-16 16:45] rpvelloso opened #697 "Correct Solis driver voltage readings - APC BackUPS only"
Solis driver outputs voltage at 100% at all times and hence, there is no way to detected low battery. This behaviour was observed in APC BackUPS BR. The voltage readings for other Solis models are "probably" correct since the driver was originally coded for it.

I have the source code from the manufacturer for this specific model.

[2019-05-16 16:53] rpvelloso commented on #697
As soon as I have the time I'll start doing this, opened the issue so I don't forget it or if anybody wants the source to transcribe it to NUT/Solis just send me an email.

[2019-05-21 13:23] ste7677 opened #698 "apc usb: upsd long update cycle / delay"
For some reason, it takes many seconds (>20) to minutes for ups.status to get updated.

No connection errors in logs. It this a timer or driver related problem? I hope it`s not the APC UPS reporting it's status sooooo late?

upsdrvctl common:

[code]
usbhid-ups driver log detailed:
[code]
  -> see attachement: [usbhid-ups.log](https://github.com/networkupstools/nut/files/3202685/usbhid-ups.log)

u

[2019-05-21 13:46] clepple commented on #698
What part of `ups.status` do you expect to change? Did it eventually change in the log you provided? If not, please grab another log, and note the relative time at which, for instance, you cut AC power to the UPS, and wait until `ups.status` changes. (The log timestamps are in seconds since the driver started.)

I haven't followed the logic to verify this, but I suspect you want to replace `overri

[2019-05-21 13:49] clepple commented on #698
Also, I would remove `ignorelb` for now. Later you may want to add it back with an `override` for e.g. `battery.charge.low`.

I realize this may seem to contradict my previous comment about `override`. The difference is that `driver.parameter.pollfreq` is not an actual NUT variable, but a copy of the `pollfreq` value. Overriding the copy does not change the underlying value, but as mentioned, sett

[2019-05-21 14:39] ste7677 commented on #698
Tried your changes but no better results.

another idea of debugging (pls note my inserted comments). I assume "ACPresent" means that the ups is online.
[code]
This is hard to debug, always pulling the power plugs ;-)

I will give it another shot tomorrow and report back.

[2019-05-26 15:31] robbat2 opened #699 "New releases needed"
It's been 3 years since the last release, and 700+ commits to the master branch.

Please issue a new formal release, esp. since the OpenSSL 1.1 fix was merged to master recently, and is now crucial on many distributions.

[2019-05-27 00:02] aride commented on #300
As a user, I'd like to point out this issue is probably causing several of the currently open bug reports, since bugs in libusb-0.1 impede communication with some devices (notably some tripplites and a bunch of white box systems). So please merge this already if at all possible.

[2019-06-03 19:14] jjakob opened #700 "snmp-ups: load_mib2nut: testOID provided and doesn't match MIB 'apcc'!"
Two configured snmp ups's with identical configuration other than the name, IP address and passwords. One always starts fine, the other never starts. I've tried exchanging their order in ups.conf, commenting out the mibs=apcc line, no change.  Started after a recent apt-get dist-upgrade, before I've never had problems.

[code]

[code]
[code]

[2019-06-03 21:14] jjakob commented on #700
Fixed by restarting the UPS management card. I have no idea what was wrong as it was accessible fine via the web GUI and pingable. The error didn't indicate anything was wrong with the communication. Perhaps the error checking should be more concise in what's going on.

[2019-06-04 12:46] clepple commented on #700
You really shouldn't trust the guy who put together that PPA ;-) (I was wondering why upsd from a .deb was saying 2.7.4.1...)

When you say it happened after a recent `apt-get dist-upgrade`, did the `nut-server` package get upgraded then (i.e. you added the PPA)? Did the SNMP packages get upgraded?

A lot of the snmp-ups driver has been rewritten since that version. I am inclined to say that we ne

[2019-06-04 14:10] jjakob commented on #700
The dist-upgrade was a red herring, as I've added that PPA a long time ago and it worked fine before.
What I think happened was that after the dist-upgrade, the server was restarted and tried to reconnect to the UPS management card, which started behaving unexpectedly (triggered by the reconnect).
Before restarting it, I tried purging the PPA and downgrading to the distro packages (with ppa-purge,

[2019-06-07 11:18] zoon01 commented on #699
I like to see a new release version too!

not everyone/project can/wil use sources from master
For this stable releases are needed!

[2019-06-08 12:20] evilgreen opened #701 "New Ippon UPS - voltage data missing"
I've got a new Ippon UPS "Smart Power Pro II 1200" and neither Input nor Output voltage values are reported/shown by nut.
The same problem probably applies to the whole family of new (?) Ippon devices with a display - SMART POWER PRO II 1200/1600/2200 and SMART POWER PRO II EURO 1200/1600/2200.

Here is my current configuration as well as some diagnostic data.

It seems that driver just ignores so

[2019-06-08 12:26] evilgreen commented on #701
Update:
 this is what is actually reported:

[2019-06-08 13:58] tomiisp opened #702 "Best Fortress LI660 not respond"
Hi,

I have two of this serial UPS's, I configured it as:
driver = bestfortress
baudrate = 9600
and seems they not respond to NUT and upsc show "Error: Driver not connected".

I try simple serial program in python:
port = serial.Serial("/dev/ttyUSB1", baudrate=9600, timeout=3.0)
port.write("f\r")
rcv = port.read(128)
print (rcv)

And response is:
000000000001000000000000023302330000001000023300000

[2019-06-08 14:43] #702 closed

[2019-06-08 16:28] clepple commented on #702
I’m curious: how did you fix this? I was going to look later and see if we had a proposed fix for this on another branch.

[2019-06-08 16:40] tomiisp commented on #702
In truth I have no idea, it fixes itself somehow, I spent about 2 hours with trying to establish communication with this UPS and nothing, when I connect cable to APC and change config - APC works, if I switch back to Fortress - nothing - Error. Py script works always. Then I try run :
 ./bestfortress -a upsli660 -DDDDDD
and it start responding and also upsc see parameters.
(I also try to run windo

[2019-06-08 16:56] clepple commented on #702
If CheckUPS II works, it might need the “bestups” driver, superseded by “blazer_ser” and “nutdrv_qx” in recent versions of NUT.

[2019-06-08 17:20] clepple commented on #702
(Ignore my last comment - the other protocol for the Fortresses is more like contact-closure, and isn’t software selectable)

[2019-06-15 01:18] kitopopo opened #703 "Ups Salicru Soho+ (libusb_get_interrupt error on Raspberry pi 3B+)"
Hello,

I need some help. Install NUT for months on a Raspberry with Raspbian. I have a UPS Salicru Soho + and I am using the USBHID-UPS driver. Everything works fine for 1 or 2 days, but on the third day I get the following error in the syslog:

[code]

......................

In the following link --> https://networkupstools.org/docs/man/usbhid-ups.html appears write:

[code]

------------------

[2019-06-16 19:18] tri4ng1e commented on #701
Same thing, Ippon Smart Power Pro II 1600.

[2019-06-17 13:06] evilgreen commented on #701
Seems to be the same as https://github.com/networkupstools/nut/issues/646

[2019-06-17 20:36] tomiisp opened #704 "Lost communication with UPS flood syslog"
Hi,

I get this issue second time, nutups lost communication with UPS (via USB/Serial cable) and nut tools and syslog start eating all 4 cores (cpu quickly reach temperature 78C ), it produce huge log file (my poor SD card...) and it produce about **4500lines in log per second** !
Entries in log looks:
[code]

That USB/serial is only temporary solution, later UPS will be connected directly to onbo

[2019-06-18 16:54] asylum71 commented on #534
Thanks Charles!  I downloaded the installer at the beginning of #455 and Nut is working for my Win 10 and Win Server 1012 R2 hosts.

[2019-06-19 11:13] clepple opened #705 "Document structure of Tripp Lite serial numbers"
https://www.tripplite.com/support/identify-products

Reference: https://alioth-lists.debian.net/pipermail/nut-upsdev/2019-June/007443.html

[2019-06-19 14:14] optimaldev opened #706 "usbhid-ups unable to disable beeper with Eaton 3S550"
Had a very similar issue as issue #9, and reading through the comments it would seem that it was resolved? I did however encounter the same issue:
Installed NUT on CentOS system, have everything configured properly and working.
In /etc/ups/upsd.users I have

`[admin]`
 `    password = PASS`
 `    actions = SET`
 `    instcmds = ALL`

and I am able to issue a beeper.disable command to the UPS devic

[2019-06-19 14:31] optimaldev commented on #706
Could this be related to the NUT package not being a recent release (I saw the other issue that was talking about a new formal release, and thought 'hmmm... that could be it maybe I should build from source to get the updated code...')

not something that even occurred to me!

Thanks,
Omar

[2019-06-20 12:13] clepple commented on #706
Probably related, since 2.7.5 has not been released yet. If you have a Debian- or Ubuntu-based system, we have instructions for building packages here: https://github.com/networkupstools/nut/wiki/Building-NUT-on-Debian,-Raspbian-and-Ubuntu

I don't remember off the top of my head if any of the RPM repositories build from the Git master branch, but you might want to check the mailing list archives

[2019-06-20 13:08] optimaldev commented on #706
Thanks, I'm pretty certain that is the issue! Good luck with the release!

[2019-06-20 13:08] #706 closed

[2019-06-21 12:15] japurillo opened #707 "American Wise Power ARC2000RT"
Hi All,

I tried just the drivers and can't seem to get it to work with any. From testing the Windows application itself, it looks like it works perfectly using UPSmart application on singlephase USB driver.

On a linux box, it displays an HID device on usb but I cant seem to get it to work. Anyone got this to work?

[2019-06-21 12:54] clepple commented on #707
I don't think we've seen that vendor before. As such, if you don't start the driver with "-u root", the default permissions on the USB /dev nodes won't allow the driver to see UPS. (We don't recommend running the driver as root all the time, but it's quicker and less error-prone to test that way than to change the udev files.)

What does `lsusb -v` return? (You can trim the output to just the UPS,

[2019-06-21 13:38] clepple commented on #707
#674 mentions UPSmart

[2019-06-22 22:00] kitopopo commented on #703
Hi,

Today again the same errors, i can read in the log :
[code]
**Repetitive timeout and staleness:**

_Some models tends to be unresponsive with the default polling frequency. The result is that your system log will have lots of messages like:

usb 2-1: control timeout on ep0in
usb 2-1: usbfs: USBDEVFS_CONTROL failed cmd usbhid-ups rqt 128 rq 6 len 256
ret -110
In this case, simply modify the ge

[2019-07-08 07:43] mdillmann commented on #569
I also own this device.
In the current git-version the MGE-HID driver claims this vendor/product id and actually delivers more values (eg support for the outlets) and command support:

[code]

BUT:
the online/onbatt status fluctuates:
[code]
During "quick poll" all is good, only a full-hid-scan sets it as offline.

The issue is, that the firmware of this device sends a "UPS.PowerConverter.Input.[3

[2019-07-08 07:46] mdillmann commented on #701
Create a custom build with current git-version. The MGE-driver now claims this vendorid/productid and supports more values

[2019-07-08 17:33] tedder commented on #408
I've been thinking about passive support for [flashed Sonoff type devices](https://github.com/arendst/Sonoff-Tasmota). This would help with that.

[2019-07-09 09:24] bigon opened #709 "Please use Requires field instead of Libs/Cflafgs in lib/libupsclient.pc.in"
Hello,

In lib/libupsclient.pc.in you are explicitly setting Libs and Cflags.

IMVHO, it would be better to use the Requires field and let pkg-config populate these

[2019-07-09 09:37] bigon opened #710 "Please use PKG_CONFIG environment variable instead of using the one on the path"
Hello,

It seems that multiple/all m4 files are not using the PKG_CONFIG environment variable and are instead just using pkg-config from the path

AFAICT, this can break cross-compilation.

The build system should obey the PKG_CONFIG environment variable with the default to the one on the path

An other solution might be to use the PKG_CHECK_MODULES macro. I'm not sure that this is available on al

[2019-07-09 14:59] bigon opened #713 "Please only export functions that are supposed to be public"
Hello,

ATM, I've the feeling that the different libraries are exporting all their symbols.

It would be nice if they were only exporting the one that are part of the public API

Thanks

[2019-07-10 11:02] mdillmann commented on #586
Looks like the exact same problem I have. My UPS is named differently but vendorid/productid are the same.
Did you experience any negative side-effects from your modifications ? Because I would need to apply the same hack ...

Thanks,
-Markus

[2019-07-10 14:54] kvaster commented on #586
I have no negative impact. It's just working.

[2019-07-12 10:22] atisharma opened #716 "HCL V7 UPS1RM2U1500-1E UPS 1500VA Rack Mount 2U supported by blazer_usb"
Tested and working, V7 1500VA 2U rackmount UPS (EU version), over USB.

[code]

[code]

Shutdown sequence tested via
[code]
shuts down as expected.

[manufacturers description](http://www.v7world.com/uk/ups-1500va-rack-mount-2u-eu.html)

[2019-07-15 11:36] germanbour commented on #674
@guzzim Hola, tengo la misma ups y no logro hacerla funcionar, soy nuevo con git no se como compilar el proyecto menos como uniste las dos ramas. Si me explicas te agradecere me seria de mucha ayuda. Saludos.

[2019-07-17 20:34] autofrank commented on #530
HI @clepple
Could you clarify how to perform step 5.5.
Did the patch get downloaded with the clone - if so where is it ?
If not - how can I get the patch and what is it called ?
I'm not terribly familiar with the raspian commands so any help really appreciated

Thanks

[2019-07-17 20:34] autofrank commented on #530
Hi @ulesin
Did you manage to resolve ?

Thanks

[2019-07-17 21:44] autofrank opened #718 "delete"

[2019-07-17 21:46] #718 closed

[2019-07-18 02:02] clepple commented on #530
@autofrank I think I was referring to this patch from this message to nut-upsdev:

http://lists.alioth.debian.org/pipermail/nut-upsdev/2018-February/007374.html

It’s the link below this: “Desc: riello.diff.gz”

[2019-07-18 06:40] autofrank commented on #530
Thanks Charles..I located the patch and applied it.I'm trying to run the mega  "./ configure....." command you suggest but all the combinations I try don't work. It seems like the command is not supported.  I can only find a configure.au file on the pi and  I'm also not sure if the command should be run as a single long string or a set of separate commands Any help appreciated...Thanks Could you h

[2019-07-18 11:00] clepple commented on #530
Hmm, it looks like the backslashes got stripped out. It should look like the `./configure" line (step 7) on this page: https://github.com/networkupstools/nut/wiki/Building-NUT-on-Debian,-Raspbian-and-Ubuntu

The backslashes make it all one command. It would need to be run from within the "nut" directory created by `git clone`.

Also, I must have dropped the step that says to run "./autogen.sh", wh

[2019-07-18 12:30] autofrank commented on #530
Thanks @clepple
I'll give that a go this evening ...
Just so I'm clear - the command in your post appears over several lines. I assume I don't need to sequence that into one string. The reason I ask is because the Pi wouldn't accept it last night as it tried to execute the parts at the start. It sounds like that is because the backslashes were missing ....

[2019-07-18 12:34] clepple commented on #530
Yes, use backslashes to join all of the lines into one command, as shown in the wiki page. (I will try to edit the comment in this issue, but no promises, since there are backslashes in the raw text already.)

[2019-07-18 13:14] autofrank commented on #530
Perfect @clepple
It looks like I should run it as attached

![string](https://user-images.githubusercontent.com/20369477/61460247-41f75f80-a966-11e9-8435-a99e6b8cf749.PNG)

[2019-07-18 19:06] clepple commented on #530
In general, either use backslashes and multiple lines, or no backslashes and all on one line. (They might not be a problem in this case- hard to see on a small screen. )

[2019-07-18 19:09] autofrank commented on #530
Thanks @clepple
I got that part to work earlier but the "make"command  won't work
I've decided to start from scratch and see if'll work from a fresh raspbian buster image

[2019-07-18 20:00] autofrank commented on #530
@clepple

make still not working

sequence of events as follows..

login as: pi
pi@192.168.1.239's password:
Linux raspberrypi 4.19.57+ #1244 Thu Jul 4 18:42:50 BST 2019 armv6l

The programs included with the Debian GNU/Linux system are free software;
the exact distribution terms for each program are described in the
individual files in /usr/share/doc/*/copyright.

Debian GNU/Linux comes with ABSO

[2019-07-18 20:20] autofrank commented on #530
I think the issue is that i have a makefile.am and a makefile.in but no makefile
.. don;t know how to solve that one

[2019-07-19 02:42] clepple commented on #530
Did you run `sudo apt-get build-dep nut`? That grabs the dependencies.

`./configure` needs to not error out, then it will create `Makefile`s. (You can remove some of the options like the SSL-related ones if you don't want to build those components.)

[2019-07-20 14:52] autofrank commented on #530
@clepple
I finally got it working , thanks for the assistance

The 255 is now gone but my battery capacity is showing as 7 and the temp reading is now gone
see below
`

battery.capacity: 7
--
battery.voltage: 13.5
battery.voltage.nominal: 12
device.mfr: RPS S.p.a.
device.model: UNV1
device.serial:
device.type: ups
driver.name: riello_usb
driver.parameter.pollinterval: 2
driver.parameter.port: auto

[2019-07-20 15:29] autofrank commented on #530
@sgiannulli
Just wanted to check if you got the correct values
I applied the patch and no longer have 255 as battery charge but now  I have 7
Is this what you are also seeing (IDG800)

battery.capacity: 7
--
battery.voltage: 13.5
battery.voltage.nominal: 12
device.mfr: RPS S.p.a.
device.model: UNV1
device.serial:
device.type: ups
driver.name: riello_usb
driver.parameter.pollinterval: 2
driver.para

[2019-07-21 11:26] autofrank commented on #530
Hi @CentroricercheRPS
I installed the patched ups driver and the battery.charge  and battery.runtime are missing
how can I calculate how much capacity I have left if power is being drawn from the UPS during an outage ?

![image](https://user-images.githubusercontent.com/20369477/61590533-c0484180-abb2-11e9-8c33-2a3f0813e5bb.png)

[2019-07-21 11:36] clepple commented on #530
@autofrank `riello_usb` is still the name to use in `ups.conf`. The `riello_usb.c` file is just the primary source file that is used to build the driver.

I must have been thinking of a different patch, though. All this one does is prevent `battery.charge` and `battery.runtime` from being displayed if the values correspond to `0xff`. I assume this means that the UPS does not calculate these values

[2019-07-21 12:07] autofrank commented on #530
thanks @clepple
I'm in the process of running it down to see how long it lasts but it seems that even from the  riello sw itself (power shield3) I can't seem to find the rundown time... may need to return it for another device...

[2019-07-21 18:49] BrunoAFK opened #719 "Elsist UPS Nemo2.0 160 UPSilon"
I will try to follow your guide for reporting new device, but it will not be esay.

- Elsist UPS Nemo2.0 160
- I cant get upsc report
- http://www.naicon.com/company/wp-content/uploads/2017/05/Manual-NEMO2.0-Ver.02-Eng.pdf

Before 6 or 7 months everything was working out of the box with usb and blazer. This UPS is using older version of UPSilon2000 (v5).

[2019-07-25 10:59] javier-izquierdo-visualfy commented on #554
@vanmaal Could you send me the configuration? I can't get it to work, thanks.

[2019-07-25 16:41] vanmaal commented on #554
@javier-izquierdo-visualfy Ooops... Unfortunately this machine is out of reach for me now... Hopefully next week will get it online again, so if you still need it I'll get it for you. I assume you need ups.conf? Another config file...?

[2019-07-26 09:48] javier-izquierdo-visualfy commented on #554
@vanmaal Any other that may be necessary, in principle only the ups.conf.

[2019-07-27 00:28] tazhate opened #721 "weird behaviour when switching PC's"
I have ups dexp mix 850va.

Here is my config:

[code]
It is seems working ok:

[code]

but when i put usb cable into another machine - all values become zeroes, reboots and restarts doesnt help. all configs and versions of the nut is the same, the only difference is that second PC have only usb 2 instead of usb 3 at machine where everything works ok.

nut version: 2.7.4-5.1ubuntu2

[code]

is the

[2019-07-27 12:25] bigon opened #722 "Please add Documentation= field in systemd .service files"
Hi,

systemd .service files can add a reference to a man page with documentation about the daemon it starts (ie `Documentation=man:upsd(8)`)

Would be nice if this was added

[2019-07-27 13:54] bigon opened #723 "upsd dies if upsd.conf contains LISTEN line with nonexistant ip"
The following bug has been open in debian (https://bugs.debian.org/cgi-bin/bugreport.cgi?bug=926329)

===
Dear Maintainer,

After reconfiguring 1 network interface to a new range, but forgetting to remove the last line, then one with 192.168.123.9 from /etc/nut/upsd.conf

LISTEN 127.0.0.1 3493
LISTEN 192.168.119.253 3493
LISTEN 192.168.123.9 3493

The nut daemon refused to run after it at a later

[2019-07-27 15:46] bigon opened #724 "Please update nut-monitor.appdata.xml to follow the new version of the specification"
Hello,

Apparently https://github.com/networkupstools/nut/blob/master/scripts/python/app/nut-monitor.appdata.xml is following an old version of the specification

It should be updated to the newer version, see: https://freedesktop.org/software/appstream/docs/chap-Quickstart.html

[2019-07-27 20:13] bigon opened #725 "Missmatch between service name in avahi .service file and nut-scanner code"
Hi,

I'm looking that the avahi support in nut and I see something that I think is a mismatch in the service name.

In the avahi `nut.service` file, the name of the exported service is `_nut._tcp`, but in the code of nut-scanner, the name is `_upsd._tcp`

Am I overlooking something here or is there a bug?

[2019-07-27 21:32] bigon commented on #505
Adding `.NOTPARALLEL:` at the end of the Makefile in the `docs/` directory workaround the problem

It will prevent that makefile to be run in parallel and prevent the build to fail

[2019-07-28 00:19] bigon opened #726 "Suffix rules in Makefile"
Hello,

If I'm not wrong, the Makefiles in docs/ are using [Suffix rules](https://www.gnu.org/software/make/manual/html_node/Suffix-Rules.html)

Something like:
[code]

If I understand the documentation well, you cannot add prerequisites to such rules, documentation says: `Suffix rules cannot have any prerequisites of their own. If they have any, they are treated as normal files with funny names,

[2019-07-30 00:07] zykh opened #728 "Update library versions, as per changes vs 2.7.4"
(just a memo)

[2019-07-30 00:32] zykh commented on #721
@tazhate: could you please post the logs of the `blazer_usb` driver launched with a debug level of 3? (i.e. `-DDD`)
Also, do you notice any difference with the `nutdrv_qx` driver?

[2019-07-30 00:38] tazhate commented on #721
[code]

There is no any difference with nutdrv_qx driver :(

[code]

[2019-07-30 04:16] zykh commented on #726
Unless you're using a not-yet-released version of GNU make which incorporates [this commit](http://git.savannah.gnu.org/cgit/make.git/commit/?id=67e6d81256486cbf160208c5b7ea164964c49dd4), apparently, they are supported since version 3.58 (see also http://savannah.gnu.org/bugs/?40657).
I guess we should fix them.

[2019-07-30 04:29] zykh commented on #721
hmm...
a few questions:
1. if you replug the UPS to PC 1 (the one where data was retrieved correctly), does the driver get the missing data again?
2. did PC 1 have perhaps the original software running before launching NUT?
3. using `nutdrv_qx` from #638 does any difference?

[2019-08-01 20:30] tazhate commented on #721
1. yeah, after some time of uptime
2. yeah, but it is not "original". it is upsmart, in windows vm.
3. i'll check, thanks

[2019-08-09 08:11] aquette commented on #416
@autumnwalker  any update on this? If possible, the minimum would be to provide a complete SNMP walk of the unit, so that I can process this and bootstrap a subdriver.

[2019-08-11 20:58] jack-l0 commented on #700
Hello all,

As this is my 1st comment here I'd just like to say thank you for your work on this project that powers so many others.

I've also been having the same issue as @jjakob with various APC UPS.

Attached is gen-snmp-subdriver.sh generated files using method 1.

[Archive.zip](https://github.com/networkupstools/nut/files/3490436/Archive.zip)

[2019-08-18 12:57] henfri commented on #515
Hello,

I have the same (?) Issue:
After reboot, the device does not show up.
lsusb -v does not show the device. Unplugging and re-plugging the device does fix this.

I have switched to a different USB-Cable -without success. Any Idea how I could fix this? Can I re-trigger whatever I retrigger by unplugging by software instead of doing it physically?

Regards,
Hendrik

[2019-08-19 03:41] daphatty commented on #277
FWIW, this issue is still present nearly three years later. My setup is a bit evolved (Raspberry Pi 3, Raspbian Buster, nut version 2.7.4, upshid-ups driver) but the behavior is identical. On boot-up, the LISTEN directive only works on localhost but not on the static IP. Manually restarting (stop/start) the nut-server service fixes the problem.

[2019-08-20 00:13] tri4ng1e commented on #701
It's working now. Nice!

[2019-08-28 09:57] CentroricercheRPS commented on #530
Yes, as @clepple <https://github.com/clepple> sayd some devices do not
provide the charge or authonomy indication.

Il giorno dom 21 lug 2019 alle ore 14:07 autofrank <notifications@github.com>
ha scritto:

[2019-09-08 11:25] kitopopo commented on #703
Hello everyone,

In case anyone else has this problem after many tests I have discovered what was the problem that caused the error. Using a shorter usb cable the problem does not appear in 30 days, verified. If I put a longer USB cable again the problem reappears.
Verified with this UPS model. Thank you all

[2019-09-08 22:41] autumnwalker commented on #416
Hey @aquette - admittedly I'm not familiar with SNMP. I loaded up the mib provided by Liebert and did a walk. Below are the results; is this what you are looking for?

lcUpsIdentManufacturer.0
Liebert
lcUpsIdentModel.0
GXT2-1500RT120
lcUpsIdentSoftwareVersion.0
2.7.3
lcUpsIdentSpecific.0
.iso.org.dod.internet.private.enterprises.emerson.liebert Corp.liebertUps.luExtensions.luUPStationGxt
lcUpsIden

[2019-09-08 23:31] autumnwalker commented on #416
Would it be easier to just see the MIB from Liebert? [liebert-mib.zip](https://github.com/networkupstools/nut/files/3588173/liebert-mib.zip)

[2019-09-13 09:36] jimklimov commented on #699
Yes, maintained NUT is, actively developed also. There are several regular contributors and quite a few individuals submitting a handful of changes to "scratch their itch", in a good sense.

There is a semblance of a roadmap for the release (some of the issues are tagged as 2.7.5 goals), as well as quite a bit of development and cross-pollination in forks that bubble back up to this project as the

[2019-09-17 12:51] curlyel commented on #359
... one year later ;-)
I'm still not having a working solution which provides me more than the very basic information from my UPS.

The only software I've tried so far which provides the internal sensor readings is _APC PowerChute Business_. This proves, that the UPS has the measurements and that they are available via usb (modbus? or _whatever_?):
![SnipImage](https://user-images.githubuserconten

[2019-09-18 00:02] clepple commented on #359
@curlyel I wish I had a better answer, but I have had a Smart-UPS C 1000 sitting around for over a year, and as I mentioned to Gene on the nut-upsuser email list the other day, it's hard to argue with "it just works". (Developing a NUT APC Modbus driver would probably mean some network downtime, and it is currently powering the NUT Buildbot server. Moving it is certainly an option, but inertia...)

[2019-09-18 05:45] curlyel commented on #359
Thanks @clepple for looking into it!

O.k. that's an easy one:

[code]

[2019-09-18 11:15] clepple commented on #359
The `ModbusRTUTx` Usage ID (FF86:FD) is in the descriptor under Report ID 0x89:

[code]

From `MPAO-98KJ7F_R1_EN.pdf` ("Application Note 176: Modbus implementation in Smart-UPS"; available from APC.com, and R0 from apcupsd source tree):

[2019-09-18 12:29] curlyel commented on #359
Yes, I found this paper too. Unfortunately, my UPS does not have the option to enter a "Advanced Menu". The frontpanel LCD has some symbols only and a numeric line and the "Configuration Menu" is limited to setting of `sensitivity, output voltage, green-mode` and `self-test`.

No advanced mode :-(
See manual page below...

The front panel looks identical. Maybe you can try it yourself. Probably yo

[2019-09-18 17:57] curlyel commented on #359
The newer SMC1500I models with "Cloud Connect" seem to have the config option on front panel for modbus _although_ having the limited symbol/numeric display. _And:_ Not necessary to enable anymore. It's on by default now. :-(

[2019-09-20 11:23] NightDragon1 opened #731 "Battery.runtime maximum at 65535"
Hi!

I'm using a Dell UPS 2700W with an extended Battery Modul (EBM).
As i have a quite low load on the UPS (about 5%) it's easy to reach a very high runtime (in sec)

For now it seems like i reached the max of a 16Bit variable.
Is this limit given by NUT? if so, could you please increase it?
Thanks!,

Rob

PS: Here some more data about the UPS:

[code]

[2019-09-20 19:02] clepple commented on #731
NUT gets the size of the variables from the USB HID descriptor. The 65535 is probably intended to be a 16-bit signed value of -1 for "unknown". I would recommend running a battery test, and seeing if the "ups.test.result" variable changes.

[2019-09-21 22:04] clepple commented on #359
Certainly possible. I have not used PowerChute recently, so I don't have much information there.

You can find the list of HID descriptor items not known by stopping NUT, manually starting the driver in debug mode, and looking for messages as the driver iterates through the HID items. It will probably need at least debug level 3, e.g. `/lib/nut/usbhid-ups -DDD -a ups`

I think we got most of them

[2019-09-22 17:37] ShahimEssaid commented on #520
I'm not able to set battery.charge.low

~# upsd -V
Network UPS Tools upsd 2.7.4

On Debian Stretch

~# upsc CyberPower@10.27.47.49
Init SSL without certificate database
battery.charge: 58
battery.charge.low: 10
battery.charge.warning: 20
battery.mfr.date: CPS
battery.runtime: 4944
battery.runtime.low: 300
battery.type: PbAcid
battery.voltage: 24.0
battery.voltage.nominal: 24
device.mfr: CPS
device

[2019-09-23 11:55] ghost opened #732 "Incompatible salicru SPS home (UPDATE: usbhid-ups subdriver added and tested)"
Hi I used nut, to monitor other sais, but I recently bought a salicru sps home, and I am not able to make it work with any driver, could someone help me?
![image](https://user-images.githubusercontent.com/46961459/65423788-3878f080-de0a-11e9-9f16-21dda592b20b.png)

[2019-09-23 12:57] clepple commented on #732
from https://networkupstools.org/support.html#_request_help :

* be sure to include the following information:
  * OS name and version,
  * exact NUT version,
  * NUT installation method: from source tarball, package or Subversion [git],
  * exact device name and related information (manufacturing date, web pointers, …),
* complete problem description, with any relevant traces, like system log exc

[2019-09-27 18:56] NightDragon1 commented on #731
It does change as i have seen it loading the batteries and reaching the limit.
By now i run a test:
[code]

[2019-09-29 14:02] misiektoja commented on #520
Hey, I have the same issue as ShahimEssaid with the same CyberPower UPS CP1500EPFCLCD. I have nut-ups (2.7.4-16) configured on my AsusWRT-Merlin router and even though upsrw shows the change was successful in fact it is not reflected in the UPS config. Google search brought me here as there is not that much info about it.

# upsrw -s battery.charge.low=5 -u upsuser -p mypwd CyberpowerUPS
OK

# ups

[2019-10-09 11:20] CindyZhan commented on #450
Hello clepple:
I'm sorry but may I know the status of this request? I still do not find this product added into NUT supported list. What should I do to make it done? Thanks.

[2019-10-09 11:21] CindyZhan commented on #450
@clepple , I add new comment regarding this request. Please help to check.

[2019-10-09 22:33] harsh-w opened #734 "snmp-ups doesnt work for APC UPS: testOID provided and doesn't match MIB"
Running Network UPS Tools 2.7.4 on Ubuntu 18.04 and trying to work with an APC SMT2200 with an AP9631

[code]

For some reason the upsd driver cannot seem to match any OID, either the ietf or the apcc ones.

The contents of the ups.conf file
[code]
Running `$ sudo /lib/nut/snmp-ups -DD -a APC_UPS` gives

[code]

Yet running snmpwalk with the same values for authPassword and privPassword works

for

[2019-10-10 14:36] bigon commented on #521
Python 2 and pygtk are actively being removed from debian unstable

That means that I'll have to remove nut-monitor from debian

Has anybody looked at that already?

[2019-10-16 00:13] abrownsword opened #735 "CyberPower OR2200PFCRT2U unstable connection?"
I recently acquired this UPS and install NUT to communicate with it.  I am using the usbhid-ups driver and it seems to work correctly, except that it loses connection after some amount of time (on the order of hours or days) and seems unable to regain it.  Restarting the driver gets them talking again, but it fails eventually.

I am running Ubuntu 18.04 on an aarch64 w/ nut 2.7.4-5.1ubutun2 instal

[2019-10-21 20:06] abrownsword commented on #735
If anyone else comes across this issue, the settings suggested in this link seem to have solved my issue:  https://nmaggioni.xyz/2017/03/14/NUT-CyberPower-UPS/

[2019-10-26 01:22] autumnwalker commented on #416
I spun up a Ubuntu box and installed NUT via APT. I pulled down gen-snmp-subdriver.sh and had it generate a .mib using mode 1. Now I'm lost - I don't have /drivers or snmp-ups.c in order to continue.

For C-style integration, do not forget to:
* bump DRIVER_VERSION in snmp-ups.c (add "0.01")
* copy "liebert-voyager.mib-mib.h" and "liebert-voyager.mib-mib.c" to "../../drivers"
* add #include "liebe

[2019-10-28 19:38] autumnwalker commented on #416
So, I found [this article](https://github.com/networkupstools/nut/wiki/Building-NUT-on-Debian,-Raspbian-and-Ubuntu) and followed the steps to get the dev files on my box. I followed the instructions there combined with the "C-style" integration instructions from above and I still get:

Network UPS Tools - UPS driver controller 2.7.4
Network UPS Tools - Generic SNMP UPS driver 1.12 (2.7.4-734-g1b21

[2019-11-02 17:10] Jonn3y opened #736 "apcupsd-ups: Override battery.charge.low"
Hey,

i tried to setup Freenas as slave using a RaspberryPi on the UPS with apcupsd as master.

Now I want to override the charge.low value. But it seems like it is not possible with the apcupsd-ups driver?

What am I doing wrong?

ups.conf:
[code]

root@freenas:~ # upsc ups
[code]

And yes i could modify the apcupsd.conf but that's not what i want.
Freenas should shutdown earlier than the other c

[2019-11-02 20:08] clepple commented on #736
You did restart the `apcupsd-ups` driver on the FreeNAS box after changing `ups.conf`, correct?

If not, I'm wondering if there was some sort of parse error on `ignorelb =` - usually we recommend just `ignorelb`.

I don't have things set up to test that driver right now, and nothing is jumping out at me when I look at the code. If the above two suggestions don't work, please stop the driver, and m

[2019-11-02 21:27] Jonn3y commented on #736
Well, i just did `service nut restart`, does it restart the apcupsd-ups driver ?

replaced  `ignorelb =` with  `ignorelb` , nothing changed

___
Logs:
`root@freenas:~ # /usr/local/libexec/nut/apcupsd-ups -DD -a ups > /tmp/apcupsd.log 2>&1`
`
Ambiguous output redirect.
`

`root@freenas:~ # /usr/local/libexec/nut/apcupsd-ups -DD -a ups >& /tmp/apcupsd.log `
and
`root@freenas:~ # cat /tmp/apcupsd.log

[2019-11-02 22:26] clepple commented on #736
Theoretically, if FreeNAS is using the same startup scripts as FreeBSD Ports. It should call `nut_poststop()` and `nut_prestart()` in `/usr/local/etc/rc.d/nut`, and those restart the driver through `upsdrvctl`.

I was looking at the wrong line for the debug level. You'll need `-DDDDD`. (As you noticed, there is not much debug output from the `apcupsd-ups` driver. I'm looking for output from [dstat

[2019-11-02 22:41] Jonn3y commented on #736
`/usr/local/etc/rc.d/nut` looks good

root@freenas:~ # cat /tmp/apcupsd.log
[code]

doesn't look like there is any override happening with a value of `30`

[2019-11-02 22:54] clepple commented on #736
Argh, I forgot that this driver does a `dstate_delinfo()` on all of the variables each time it polls. The override only gets set on the initial `battery.charge.low`, then it gets deleted.

[2019-11-02 22:56] Jonn3y commented on #736
Oh wow, yeah i see it. set on line 3 correctly, deleted override with the wrong values.
Is there a way to stop the driver from doing it?

[2019-11-02 23:02] clepple commented on #736
In general, `dstate_delinfo()` should respect the `ST_FLAG_IMMUTABLE` flag that the `override.*` vars set. I'll create a separate issue for that.

You might be able to change `DU_FLAG_NONE` to `DU_FLAG_INIT` (on the `battery.charge.low` line) in [`drivers/apcupsd-ups.h`](https://github.com/networkupstools/nut/blob/v2.7.4/drivers/apcupsd-ups.h#L128). Do you have a way to rebuild the driver on FreeN

[2019-11-02 23:05] clepple opened #737 "dstate_delinfo() should respect ST_FLAG_IMMUTABLE (for override.*)"
The `apcupsd-ups` driver calls `dstate_delinfo()` on all of the variables it retrieves from `apcupsd` (see log in issue #736). However, `dstate_delinfo()` apparently does not respect the `ST_FLAG_IMMUTABLE` bit, which is set by the `override.*` variables.

[2019-11-02 23:16] Jonn3y commented on #736
I'm not sure if FreeNAS allows that. Because of its appliance state it's not designed to install compilers and other packages the way i know it from debian/apt-get ...
maybe i should not give it a try on my productive system. I'll not know what i'm doing exactly

[2019-11-02 23:20] clepple commented on #736
I think people have had success with finding the corresponding FreeBSD version, building NUT there, and copying the binaries over to FreeNAS [citation needed]. But probably best not to experiment without a backup system.

[2019-11-03 01:02] Jonn3y commented on #736
Well, was kinda confusing to compile nut (or the apcupsd-ups driver) on FreeBSD 11.1 but i did it.
replaced `/usr/local/libexec/nut/apcupsd-ups` with the new one. `chmod 0555 apcupsd-ups && service nut restart` and it works!

`battery.charge.low` is now on `30`, awesome!

I'll test if the shutdown at 30% battery capacity works as expected tomorrow.

[2019-11-03 16:55] clepple commented on #736
Cool. If you wouldn't mind, could you please create a wiki page with any tips on compilation, or links that you used? Feel free to use the Debian/Ubuntu one as a model: https://github.com/networkupstools/nut/wiki/Building-NUT-on-Debian,-Raspbian-and-Ubuntu

I will try to figure out whether we can add `DU_FLAG_INIT` for everyone - I think it might cause confusion if a given `apcupsd` connection doe

[2019-11-03 18:55] Jonn3y commented on #736
Done, it's not perfect and my english language skills might not be perfect, but this is what i did:
https://github.com/networkupstools/nut/wiki/Building-NUT-on-FreeBSD

I could share my compiled apcupsd-ups driver if needed.

[2019-11-04 11:26] Skarafaz opened #738 "riello_ser driver does not support ondelay/offdelay"
Hi!

I'm monitoring a Riello NDG1500 with nut 2.7.4 (debian package) using riello_ser driver.
When I try to set ondelay/offdelay variables in ups.conf I get the error "variable not supported"; is this hardware related? I really need to set an off delay because my nas takes about 5 minutes to shutdown. Thanks.

[2019-11-04 12:10] clepple commented on #738
Per the protocol documentation, this should be supported by the hardware (NDG1500 uses the GPSER protocol): https://networkupstools.org/ups-protocols.html#_riello

However, it does not look like the driver implements any variables: https://github.com/networkupstools/nut/blob/v2.7.4/drivers/riello_ser.c#L758

[2019-11-04 12:17] clepple commented on #738
The authors of the driver seem to have been working on a patch, but it stalled:

* https://alioth-lists.debian.net/pipermail/nut-upsdev/2018-February/007374.html
* https://alioth-lists.debian.net/pipermail/nut-upsdev/2018-March/007388.html

@CentroricercheRPS do you have a version of the patch with `setvar`?

[2019-11-04 12:21] clepple commented on #738
@CentroricercheRPS Since the `ups.delay.shutdown` variable is sent at shutdown, and is not maintained in non-volatile memory on the UPS, @zykh's [2nd comment](https://alioth-lists.debian.net/pipermail/nut-upsdev/2018-March/007388.html) applies:

[2019-11-04 22:13] BradenM commented on #735
Hi,

I was also experiencing this issue with a CyberPower OR2200LCDRM2U and can confirm that the changes suggested in your link has solved it.

For reference, here are my (now working) settings:

**ups.conf**
[code]

**upsmon.conf**
[code]

[2019-11-05 12:23] Skarafaz commented on #738
Thanks for the support @clepple!

[2019-11-05 15:28] TheKaban opened #739 "Battery statuses and system statuses (New Driver creation)"
Hello!)
Having difficulty writing a new Sub-Driver for SNMP-UPS.

Please tell me, for battery statuses, should I use SU_STATUS_BATT, and for system statuses should UPS use SU_STATUS_PWR? For both cases info_type will be ups.status? Do I get it right?

For my ups, I have the following statuses:
Battery Statuses:
{1, "UNKNOWN"},
{2, "BATTERY-NORMAL"},
{3, "BATTERY-LOW"},
{4, "BATTERY-DEPLETED"},
{5,

[2019-11-06 07:23] zegelin opened #740 "usb-hid/mde-hid Nonsensical Variable Types"
I have an Eaton Powerwave 1500VA connected to my server via USB.

I wrote a small Python program using [nut2](https://github.com/rshipp/python-nut2) (similar to the built-in PyNUT library), which communicates to NUT via TCP using the protocol detailed in [the NUT documentation (_9. Network protocol information_)](https://networkupstools.org/docs/developer-guide.chunked/ar01s09.html).

My program p

[2019-11-06 08:08] aquette commented on #416
hi @autumnwalker
bad timing, notification received while moving on vacation :dagger:
could you please post a zip with the generated files.
Using these files, and doing the integration mentioned by the script implies indeed to modify sources and recompile, which may not be trivial.

[2019-11-06 12:36] autumnwalker commented on #416
Hi @aquette, no problem at all! I hope your move went well and you had a relaxing vacation!

Zip file is here with the .c and .h file generated by the subdriver script.

[liebert_voyager.zip](https://github.com/networkupstools/nut/files/3814400/liebert_voyager.zip)

[2019-11-06 13:35] clepple commented on #740
(fixed a few typos to help with searching)

More detail: #134

[2019-11-06 14:34] #648 closed

[2019-11-06 14:35] clepple commented on #648
@bkvamme feel free to reopen if you have additional details on shutdown, or discrepancies in the variables.

In particular, is `ups.status: OL OFF` correct?

[2019-11-07 21:18] Skarafaz commented on #738
@clepple just in case... what is the right way to deal with slow slaves without offdelay? Should I increase FINALDELAY variable in upsmon.conf?

[2019-11-09 12:13] einhander commented on #617
Hi, I have same Issue with Powercom IMP 525AP on Debian buster.
Here is a relevant part of /lib/nut/usbhid-ups -DDDD -a ups:
[code]

lsusb -d 0d9f: -vvvv

[code]

And it's occures after shutdown and cleaning the PC.
I tried Windows tool to check out UPS, and it's working. After disconection from windows (I used VM, so phisucal hardware is the same)  iManufacturer  field rerorted correctly, but   u

[2019-11-12 09:02] thedarkb opened #741 "Powerpanel driver, no such file or directory."
[code]
I'm trying to manage two CyberPower 1500AVR UPSs using NUT, but it responds with the preceding error message whenever I try to start upsd.

Here's the contents of my ups.conf, I've left off the second UPS for testing purposes, but it's identical and on /dev/ttyUSB1.

[code]

[2019-11-12 12:14] clepple commented on #741
From https://networkupstools.org/docs/user-manual.chunked/ar01s02.html#_network_server :

The driver(s) should be running before starting `upsd`, otherwise you will get the `Can't connect` message. (It should notice when a driver is restarted, though.)

Are you installing from packages or building from source? If the latter, is it possible that your driver was built from source, and was not config

[2019-11-14 14:49] aquette commented on #416
hi @autumnwalker
finally got the few seconds to look at. thanks for the archive!
question: how would you be able to test? Git (branch or master), binary, ...?
I'd like some checks from you, since I don't have such HW underhand, despite the sample values in your provided dump.

[2019-11-14 19:10] autumnwalker commented on #416
Hey @aquette! I can test however you'd like me to. I can spin up a VM and install however it would work best.

The target install is with the NUT plugin for Unraid [https://forums.unraid.net/topic/60217-plugin-nut-v2-network-ups-tools/](url), but I have been doing my testing in a Ubuntu 18.04 VM with the Ubuntu NUT package + dev files. I can nuke / pave and pull from Git or go from binaries if you

[2019-11-15 10:35] aquette commented on #416
hi @autumnwalker
so, going the git path, faster for me.

I've made a 1rst stab, available on the *liebert-voyager* branch.
To test it:
* git clone as usual
* switch to that branch (git checkout liebert-voyager)
* compile as usual

Few comments:
* this is a first stab. Basic info for upsc, no command nor settings yet!
* there is nothing to fill ups.status. This is probably provided through the IETF

[2019-11-15 11:48] thedarkb commented on #741
I've installed from a package.

[2019-11-15 12:27] clepple commented on #741
If you run `upsdrvctl start`, do you get an error message from the driver?

[2019-11-15 12:31] clepple commented on #741
This likely isn't causing the issue you are seeing, but down the road, you may want to use a different path to the `/dev` node: https://unix.stackexchange.com/questions/382831/raspian-statically-map-dev-ttyusb#382913

The link says Raspbian, but it should apply to any distribution that uses `udev` (and there is one built into systemd, so that makes it fairly common).

That said, we can take a bit

[2019-11-15 14:19] PrplHaz4 commented on #741
@thedarkb if you are connected over USB, you may want to try the usbhid driver

[code]

[2019-11-15 15:40] clepple commented on #741
Good point. What does lsusb show?

[2019-11-15 20:33] autumnwalker commented on #416
Thanks @aquette!

I tried to build NUT from scratch using the source on Git; did the following:

- Created a fresh Ubuntu 18.04 server container (LXC) and upgraded base packages.
- Installed libsnmp-dev, build-essential, autoconf, automake, and libtool.
- Created a user / group called ups.
- Cloned and checked out the liebert-voyager branch.
- Ran ./autogen.sh
- Ran ./configure --with-user=ups --w

[2019-11-16 00:17] clepple commented on #416
@autumnwalker You got most of the build steps, but steps 1 and 3 on the [wiki instructions](https://github.com/networkupstools/nut/wiki/Building-NUT-on-Debian,-Raspbian-and-Ubuntu) grab all of the dependencies like `pkg-config` automatically.

[2019-11-19 15:05] aquette commented on #416
@autumnwalker  thanks for the preliminary feedback. Please follow @clepple advice on compiling.

Beside from this, I'm still puzzled by your feedback on the missing IETF MIB info (empty results of snmpwalk on .1.3.6.1.2.1.33) and the lack of other OIDs to feed ups.status (at least OL, OB, LB).
The only thing I saw is the BYPASS status

Once good, or beside from this, could you make an additional t

[2019-11-20 16:37] autumnwalker commented on #416
Compiled via wiki and did a basic nut.conf (netserver) and ups.conf. Ran upsdrvctl start and got the following:

Network UPS Tools - UPS driver controller 2.7.4
Network UPS Tools - Generic SNMP UPS driver 1.12 (2.7.4-736-gf9fa0f63)
Detected GXT2-1500RT120                 on host 192.168.2.21 (mib: liebert_voyager 0.1)

Ran upsd and got the following:

Network UPS Tools upsd 2.7.4
fopen /var/run/nu

[2019-11-21 10:43] aquette commented on #416
thx for the feedback @autumnwalker , indeed progressing ;)
that also confirms partially some of the ups.status points. This will btw cause me some implementation troubles for the "OL" status at least.
For the others, when doing your on battery test, could you please also snmpwalk on ".1.3.6.1.4.1.476.1.1.1.1.6"
as for the battery and 19, you're indeed right, it's not the percentage but the runtime

[2019-11-21 13:27] autumnwalker commented on #416
Thanks again @aquette. Pulled, recompiled. Looks like the data is correct!

Init SSL without certificate database
battery.charge: 100
battery.runtime: 1140
battery.voltage: 54
device.firmware: GXT2MR14
device.firmware.aux: 2.7.3
device.mfr: Liebert
device.model: GXT2-1500RT120
device.serial: 0219100012AF051
device.type: ups
driver.name: snmp-ups
driver.parameter.pollinterval: 2
driver.parameter.po

[2019-11-22 01:35] autumnwalker commented on #416
Ran the on battery tests. I ran them each without specifying the MIB and also with specifying (-m) the Liebert MIB. Interestingly, the first command returned the same result while powered and while on battery.

Powered:

SNMPv2-SMI::enterprises.476.1.1.1.1.5.1.0 = INTEGER: 2

LIEBERT-UPSTATION-GXT-UPS-MIB::lcUpsInverterStatus.0 = INTEGER: on(2)

SNMPv2-SMI::enterprises.476.1.1.1.1.6.1.0 = Gauge32:

[2019-11-22 14:12] #16 closed

[2019-11-22 21:48] evilangel-ru opened #742 "Ippon BackPower Pro II 800 supported by blazer_usb"

[2019-11-24 12:33] thedarkb commented on #741
I changed over to USB and I'm no longer having issues.

[2019-11-24 12:33] #741 closed

[2019-11-28 15:37] RebelPhoton commented on #732
Hello. I have a similar unit: Salicru SPS Home 850 VA https://www.salicru.com/en/sps-home-eng.html
I got to the point of running the usb hid debug driver exploration.

`/lib/nut# ./usbhid-ups -DD  -x explore -x vendorid=2e66 -a salicru >& salicru-usbhid-explore.txt`

It gets into a loop. I stopped it after a while with ctrl+c. a The info is attached to this post.

[salicru-usbhid-explore.txt](http

[2019-12-07 15:18] ssbarnea opened #743 "Warning: excessive poll failures adding APC NMC card"
I tried adding the UPS and got:
[code]

How can I provide more info so we avoid the `No matching MIB found for sysOID '.1.3.6.1.4.1.318.1.3.27'!` line?

What is the purpose of these warnings, can we avoid it?

I would be happy to provide the output of upsc for my device but sadly that error line does not tel how to obtain this output.

[code]

I tried to list output but all I got was:
[code]

PS.

[2019-12-09 10:03] yarons opened #744 "Advice Top V Pro 6-10K working"
I managed to make [the following product](https://www.advice.co.il/en/advice-products/ups-systems/ups-online-systems/one-phase-ups-5k-10k/%D7%90%D7%9C-%D7%A4%D7%A1%D7%A7-%D7%90%D7%95%D7%9F-%D7%9C%D7%99%D7%99%D7%9F-top-v-pro-6-10k-detail) work with nut.

The correct config is the same as the rest of the products from the same manufacturer (blazer_usb).

So the device is connected to my server via a

[2019-12-10 23:34] vitlav commented on #699
still wait when #486 will fixed...

[2019-12-13 00:28] martin3142 opened #745 "riello_usb driver: 'vendorid' is not a valid variable name for this driver"
Using:

`nut-scanner -U`

gave the output:

[code]

However, using that in /etc/nut/ups.conf causes the upsdrv service to fail with the error:

`'vendorid' is not a valid variable name for this driver`

The fix is to comment out or delete the offending lines to instead use:

[code]

And that works fine. (Aside: 'nutdev1' can be renamed as wished.)

Should the riello_usb driver be updated to accept

[2019-12-15 20:06] bigon opened #746 "Port PyNUT.py to python3"
Hello,

In addition to #521 PyNUT.py should also be ported to python3

The main problem here seems to be the fact that telnetlib is not accepting bytes:

[code]

Distributions are actively removing python2

[2019-12-15 23:44] bota87 opened #747 "[HCL] Tecnoware UPS ERA PLUS 1100 supported by BLAZER_USB"
Tecnoware UPS ERA PLUS 1100
https://www.tecnoware.com/Prodotti/FGCERAPL1100/ups-era-plus-1100.aspx

[code]

[code]

[2019-12-18 02:31] linch14 opened #748 "Smart-UPS 1500 RM support with apcsmart"
I use Smart-UPS 1500 RM device with Ubintu NUT package.
I tried apcsmart and apcsmart-old drivers, but nothing.
Driver seems to be running, but upsc says that it doesnt, what am I doing wrong?

[code]

[code]

[code]

[code]

[2019-12-18 19:25] Alphaprot opened #749 "nut-server.service fails to start because network is not brought up at unit start"
**Issue**
The systemd-unit `nut-server.service` fails to start if the network is not brought up, so it cannot listen on network interfaces (neither localhost nor static IPs).

This is because the units all use the outdated ´network.target´ as their start requirement

**Recommended Solution**
Add the `network-online.target` at least in the `nut-server.service` like this:
[code]
You can still keep `

[2019-12-18 19:57] martin3142 opened #750 "Bad data from riello_usb driver for Riello Net Power NPW 800"
Using in ups.conf:

[code]

with a usb connected Riello Net Power NPW 800 USB, the following reported data values are good/bad:

[code]

Note: The load values remain unchanged even when running from the battery (no mains).

Update needed for the Riello NPW series of UPS?

Thanks,
Martin

[2019-12-18 23:15] clepple commented on #750
You may find the discussion in issue #530 relevant. Apparently, 255 is the placeholder value used when a Riello UPS does not support a variable.

[2019-12-19 06:46] #748 closed

[2019-12-22 21:33] dogsbody commented on #590
+1

This card supports SNMP v1 & v3

The MIB file is [CyberPower_MIB_v2.9.MIB.TXT](https://github.com/networkupstools/nut/files/3993029/CyberPower_MIB_v2.9.MIB.TXT) which was downloaded (and renamed for uploading) from https://www.cyberpower.com/uk/en/product/sku/rmcard205#downloads

[2019-12-23 17:18] aquette commented on #590
Please look ar #416 to prépare the needed data. I'll do my best in january
ti look ar this.

Le dim. 22 déc. 2019 à 22:33, Dan Benton <notifications@github.com> a
écrit :

[2019-12-31 13:46] kevindd992002 opened #751 "upsmon -c fsd command in pfsense master does not shutdown Synology slave"
I have pfsense set as the NUT master and my Synology NAS as a slave client.

I tried recreating a shutdown sequence by issuing a /usr/local/sbin/upsmon -c fsd command in pfsense (so as to preserve battery lifetime while testing all these) but the weird thing is that my Syno doesn't seem to get a hold of the FSD event. My pfsense master and UPS shuts down properly though. As soon as I issue the FSD

[2020-01-02 02:36] kevindd992002 commented on #751
@clepple Do you have any comments on this?

[2020-01-02 02:57] clepple commented on #751
I don't have a Synology, but `WARNING: UPS is On-Line` seems to indicate that they are looking for OB status.

Do they publish source for the Synology code?

[2020-01-03 16:49] kevindd992002 commented on #751
I'm not sure with the Synology code but I would imagine it is not open-source as it is a commercial product.

[2020-01-03 23:24] tryfail commented on #745
Just to comment that while the configuration successfully connects to the UPS it results in inaccurate data as reported by @martin3142 at  https://github.com/networkupstools/nut/issues/750

[2020-01-03 23:48] clepple commented on #751
Right, but it's apparently a commercial product using open-source packages (NUT, for one). That's not to say they have to publish everything, but it sure would be handy to have access to some of the code for situations like this. It also could be a shell script logging that message, so it is probably worth poking around with `grep` (starting with some of the scripts referenced by e.g. `upsmon.conf

[2020-01-05 03:23] fernandolcx commented on #697
Tried solis driver from master branch with my new Back-UPS 1500
but the readings seems unusable:

[code]

From SGM:
![image](https://user-images.githubusercontent.com/38504809/71774613-002c9680-2f51-11ea-8ee1-cc5c8e9ee1ba.png)

Is this related or is another problem?

[2020-01-06 04:51] fernandolcx opened #752 "missing apcupsd variables"
Some variables are missing in upsc when using apcupsd-nut driver, like `LOAD_W`, `LOAD_VA` and `OUTCURNT`.

Is this a lack from the driver itself, or there's something I can do to show them?

[2020-01-06 10:19] aquette commented on #751
hi fellows,
all my best wishes for 2020.

FYI, I've just asked to one of my contact at Synology, if some of their tech could consider this, and collaborate with us.

[2020-01-06 14:06] kevindd992002 commented on #751
Thanks @aquette! Please keep us posted.

[2020-01-06 14:27] clepple commented on #752
It is possible that the user who contributed the driver didn't have those variables to test. Here is the full mapping from apcupsd to NUT names: https://github.com/networkupstools/nut/blob/master/drivers/apcupsd-ups.h#L97

If you can recompile NUT and test, we'd be happy to take a patch or pull request to add the missing variables.

[2020-01-06 17:34] tnagels commented on #590
@aquette I'd love to help with this as I am also in need of the update. I don't understand what you mean by referring to [#416](https://github.com/networkupstools/nut/issues/416), there is a ton of information there. What exactly do you expect from me/us?

[2020-01-07 07:53] aquette commented on #590
hi @tnagels
look for the instructions around gen-snmp-subdriver.sh to provide me a base.
I'll then turns this into a branch like in https://github.com/networkupstools/nut/issues/416#issuecomment-554307433, so that you can test and we can progress

Update: note that we already have https://github.com/networkupstools/nut/blob/master/drivers/cyberpower-mib.c
I'd be first interested in seeing the resu

[2020-01-07 08:41] tnagels commented on #590
@aquette I will try to check this later this week on a separate system. The setup I am using now does not allow me to do this (it is in a managed container I have little control over).

Meanwhile, I'll also check the driver you referenced by just comparing the MIB entries with what I get when doing an snmp walk. If they match up there is a decent chance the driver will work i guess.

Thomas

[2020-01-07 10:15] aquette commented on #590
@tnagels ack. it's possible that this current driver needs some update and completion though. Time (and your tests) will tell.

[2020-01-08 04:47] fernandolcx commented on #752
Check #753

[2020-01-08 20:50] lkraider opened #754 "NSYS E series not supported"
Hi, I am trying to setup the [NSYS SERIE E ONLINE 3kVA UPS](https://nsys.ind.br/produto/nobreak-serie-e-3kva/
), but it seems not to be supported.

As it creates a HID device, I tried the generic hid driver, here is the output:
https://gist.github.com/lkraider/729223f16025c1ff6223536896465e36

I also tried the blazer_usb driver, but all data is read as zeros:
https://gist.github.com/lkraider/21ab0

[2020-01-08 22:28] lkraider commented on #754
I managed to get an USB trace from the windows software.

I sent a few commands using the interface, including switch to battery test mode, cancel battery test mode and switch buzz on/off:
[ups-trace.log](https://github.com/networkupstools/nut/files/4037602/ups-trace.log)

[2020-01-09 09:37] aquette commented on #754
hi @lkraider
could you please post here (or attach a zip) of the generic hid output, since I can't currently access it (forbidden from work).
if it's indeed a HID device, very possibly with specific usages (i.e. non standard), we'll have to create a new HID subdriver, referencing these, as visible for example here: https://github.com/networkupstools/nut/blob/master/drivers/mge-hid.c#L813
And then

[2020-01-09 12:19] clepple commented on #754
I haven't had a chance to look at this thoroughly, but @zykh was helping with another MEC0003 device in #638. That branch might be a good starting point.

[2020-01-09 17:56] fernandolcx commented on #752
Solved in commit f096d98

Thanks!

[2020-01-09 17:56] #752 closed

[2020-01-09 20:05] lkraider commented on #754
I think this is a Mega* (megatec?) protocol, as it is what the UPSmart program calls the connection type, but I don't know.

Here is the generichid output:
[ nut-nsys-hid-explore.zip](https://github.com/networkupstools/nut/files/4042264/729223f16025c1ff6223536896465e36-e2a1ca7b06a013cea7300da010c29f2fa4f68269.zip)
 output:

[2020-01-09 23:33] fernandolcx commented on #697
As there is really something wrong with solis driver when using this model (0xBE), I've sniffed four packet samples and readings from SGM (official APC's software for brazillian Back-UPS models).

My C skills are very weak, can't fix this myself, but I hope this helps whoever.

---

Packet `be 78 72 b0 00 2e a4 95 15 29 30 14 00 00 00 00 01 00 89 16 49 60 60 ea fe`:

Input voltage: 207,0 V
Input c

[2020-01-17 23:58] oseiasslompo commented on #697
Hello guys! It really would be simply awesome if you guys corrected it. I've looking for a long time for a drive to rely on. I'm still using driver solis 2.0, but as you told, it's not working properly. There are a lot of people looking for that. I wish you the best luck.

[2020-01-20 13:02] jimklimov commented on #17
Started an in-tree document (summarizing the bits of mails and blogs from the past decade or more) at #755

[2020-01-21 15:49] autumnwalker commented on #416
Hey @aquette, anything else you need from me here? I'm unclear on next steps. Thanks!

[2020-01-22 04:06] fernandolcx commented on #697
![image](https://user-images.githubusercontent.com/38504809/72864524-18234a80-3cb3-11ea-9530-29ca1d2e0a8e.png)

Not sure if this helps, but opening SGM's classes in JD-GUI may be useful as source for corect protocol implementation.

[2020-01-22 20:55] schumar opened #756 "Support for PowerWalker VI 2200 SHL"
PowerWalker VI 2200 SHL
[code]

[2020-01-22 20:56] schumar commented on #756
p.s. this is indeed without any load connected yet, just unpacked it :)

[2020-01-23 12:50] fernandolcx opened #757 "apcsmart: missing output.current on Smart-UPS 1500 RM"
In SUA1500RMI2U, when sending `/` char I got `00.88`, but there's no `output.current` reported by apcsmart.

[code]

[2020-01-23 20:19] rpvelloso commented on #697
@fernandolcx can you send me this decompiled code? As soon as I have som time I'll fix the driver. Thanks.

[2020-02-02 14:05] 19wolf opened #758 "Error: Connection failure: Connection refused"
Hello,

I'm having this issue and everything I've read about fixing it relates back to a bug that has since been fixed in the last few years. So I'm not sure what to do next.

[code]

Let me know what else you need

[2020-02-02 15:49] clepple commented on #758
at the very least, NUT version number. Also helpful: info about the UPS such as model number (assuming USB given the driver name); configuration options in ups.conf; OS/distro; virtual or physical server.

[2020-02-04 23:26] harsh-w commented on #734
I found changing authProtocol to MD5 instead of SHA and privProtocol to DES instead of AES - and changing the values correspondingly on the NMC card -  will cause snmp-ups to work. Any idea of why AES is not supported?

[2020-02-05 20:19] woffko commented on #698
Hi!
I am running SUA1000 and it have the same problem, voltage and anything else reported correctly but status updates in ~30 sec, it' too slow. Yes we can do some script monitoring input voltage, but....
Any updates on it?

[2020-02-09 18:44] #724 closed

[2020-02-10 12:18] RebelPhoton commented on #732
This issue is still tagged as "need more info"... can I help with any more information?
Thanks.

[2020-02-11 09:25] gnomework commented on #732
Hi, I am trying to run the same unit as @RebelPhoton.

My OS is Raspbian and running uname -a retuns:
`Linux pi-hole 4.19.97+ #1294 Thu Jan 30 13:10:54 GMT 2020 armv6l GNU/Linux`

I have Nut version 2.7.4-8 installed via apt-get
`Package: nut
Version: 2.7.4-8
Priority: optional
Section: metapackages
Maintainer: Arnaud Quette <aquette@debian.org>
Installed-Size: 270 kB
Depends: nut-client, nut-serv

[2020-02-17 16:57] Lebensgefahr opened #759 "Ippon Smart Power Pro Euro 2200 supported by blazer_usb"

[2020-02-17 17:05] Lebensgefahr opened #760 "Ippon Smart Power Pro Euro 2200 supported by blazer_usb"
Ippon Smart Power Pro Euro 2200

When Iam trying to run sudo /usr/sbin/upsdrvctl -D start ippon-smart-2200 I've got the error:

[code]
ups.conf
[code]
BUt if I change driver to usbhid-ups it works.
[code]
upsc output
[code]

Debian 10
nut version is 2.7.4-8

[2020-02-17 17:08] #759 closed

[2020-02-22 15:30] freecableguy commented on #590
Would also appreciate seeing RMCARD205 support added.

[2020-02-25 17:28] asychev commented on #483
My 5 cents. I own the same model: [PowerWalker VI 650 SH](https://powerwalker.com/?page=product&item=10120048&lang=en). Debian 10, x86-64, nut deb 2.7.4-8 with updated drivers from git master (using [this guide](https://github.com/networkupstools/nut/wiki/Building-NUT-on-Debian,-Raspbian-and-Ubuntu), only `make install` from `drivers` directory).

`ups.conf`:
[code]

`upsc pw:`
[code]
`upscmd -l p

[2020-02-25 17:28] asychev commented on #483
My 5 cents. I own the same model: [PowerWalker VI 650 SH](https://powerwalker.com/?page=product&item=10120048&lang=en). Debian 10, x86-64, nut deb 2.7.4-8 with updated drivers from git master (using [this guide](https://github.com/networkupstools/nut/wiki/Building-NUT-on-Debian,-Raspbian-and-Ubuntu), only `make install` from `drivers` directory).

`ups.conf`:
[code]

`upsc pw:`
[code]
`upscmd -l p

[2020-02-25 17:29] asychev commented on #483
My 5 cents. I own the same model: [PowerWalker VI 650 SH](https://powerwalker.com/?page=product&item=10120048&lang=en). Debian 10, x86-64, nut deb 2.7.4-8 with updated drivers from git master (using [this guide](https://github.com/networkupstools/nut/wiki/Building-NUT-on-Debian,-Raspbian-and-Ubuntu), only `make install` from `drivers` directory).

`ups.conf`:
[code]

`upsc pw:`
[code]
`upscmd -l p

[2020-02-25 17:34] asychev commented on #483
Without this
[code]
UPS not reporting Low Battery for some reason (tried running on battery till the 1% `battery.charge`). Charging status and `battery.voltage` is missing too (but they are present with  Phoenixtec/Liebert HID 0.3), as you can see.

[2020-02-25 17:37] asychev commented on #483
I will be glad to provide any assistance for the proper support of this UPS.

[2020-02-26 18:44] GreaseMonkey88 commented on #589
I have the same problem. I read somewhere that it is not possible in ESXi to passthrough USB HID devices.

[2020-02-27 10:02] gsalnikov opened #762 "[HCL] EnergTechnology DPK1/1-3 supported by blazer_ser"
Device manufacturer: Energy Technologies, http://www.tensy.ru/
Device name: DPK1/1-3, https://www.tensy.ru/podderzhka/dokumentatsiya/ibp-serii-dpk/ e.g. https://www.tensy.ru/attachments/get/25/rukovodstvo-dpk-1-3-kva-7ah.pdf

cat /usr/local/ups/etc/ups.conf
[dpk]
        driver = blazer_ser
        port = /dev/ttyS0
        desc = "DPK-1/1-3"
        offdelay = 60
        ondelay = 1

/usr/local/u

[2020-02-28 08:21] asychev commented on #483
Have the same Stale Data problem as https://github.com/networkupstools/nut/issues/646

[2020-02-28 08:22] asychev commented on #646
The same problem for me, configuration details at https://github.com/networkupstools/nut/issues/483#issuecomment-590977267

[2020-03-06 06:10] kevin201 commented on #262
+1

I found instructions here: http://jtkdev.com/wp/2016/04/10/nut-for-windows/ before looking here.

Using nut as a slave on Windows.

[2020-03-08 14:23] TRex22 commented on #630
I also hit this problem on Majaro with kernel 5.5.7-1-MANJARO (linux55). It appears to be kernel related. There is a patch for the kernel source: https://bugzilla.kernel.org/show_bug.cgi?id=203569 but that may not be ideal for everyone.

Deep searching the internet I found a workaround (that worked for me): https://bugzilla.redhat.com/show_bug.cgi?id=1715504

Add `usbhid.quirks=0x0463:0xffff:0x08`

[2020-03-09 16:11] rchovan opened #763 "usbhid-ups: multiple UPS - Can't claim USB device"
Hi,
I'm using NUT 2.7.4 from package repository on Suse. I have multiple APC UPS connected to USB, but usbdrvctl start only 1 of them. Second driver is not started and I see this error:

**upsdrvctl start**
[code]

**cat /etc/udev/rules.d/ups.rules**
[code]
**lsusb**
[code]

**ups.conf**
[code]

When I try to debug driver, it show this error:

**I have noticed, that I'm trying to start ups_1500 bu

[2020-03-10 00:13] clepple commented on #763
As mentioned in the [usbhid-ups man page](https://networkupstools.org/docs/man/usbhid-ups.html#_implementation), `port` is not used to distinguish between multiple USB UPSes. (It is actually ignored by this driver since the underlying libusb code cannot use it; we recommend the value "auto" since the rest of NUT still requires a port value.) You should be able to use `serial` instead.

Closing thi