[2013-02-12 23:01] aquette opened #1 "Complete migration to Git"
using ESR' reposurgeon

[2013-02-12 23:03] #1 closed, assigned to clepple

[2013-02-12 23:05] aquette opened #2 "New source tree layout"
FIXME: Need completion from Arno

[2013-02-12 23:32] aquette opened #3 "QA regression test (QRT) suite integration"
Integrate the QRT work done for Ubuntu in NUT mainline.
Quoting docs/nut-qa.txt:

This probably involves testlib.py, but should be limited if it goes beyond!

NOTE: it's a good time to reconsider QRT as a whole!
Other framework may now be more suitable to test our broader scope (OS at least)

Also hook it to the "check" target, for buildbot use.

[2013-02-13 03:35] clepple opened #4 "Replace svn2cl with a git-based tool to generate ChangeLog"

[2013-02-14 22:09] aquette opened #5 "Windows port"
Complete port of NUT to MS Windows.

Alioth feature request:
https://alioth.debian.org/tracker/index.php?func=detail&aid=302177&group_id=30602&atid=411545

[2013-02-14 22:44] aquette opened #6 "Configuration library and tool"
libnutconf and nutconf are available in branch libconf:
https://github.com/networkupstools/nut/tree/libconf

[2013-02-14 23:08] aquette opened #7 "Add a timeout option to client commands"
upsc, upscmd and upsrw should provide a -t timeout option.
Underlying mechanism is already available in libupsclient->upscli_tryconnect(...).

Alioth patch #313881
https://alioth.debian.org/tracker/index.php?func=detail&aid=313881&group_id=30602&atid=411544

An external contributor (Imene Guerfa) is already working on this.

[2013-02-14 23:53] aquette opened #8 "Powerchain support"
The idea behind the PowerChain is simple:
There are many links in a powerchain, that supplies power to a device (server, appliance, ...):
- power supply unit,
- UPS,
- PDU.
- STS (static transfer switch),
- bypass module,
- genset,
- ...

Monitoring only UPS is not sufficient to guaranty a smart power protection.
Having a consolidated view on the whole also allows real HA, Green Grid and SmartGrid

[2013-02-15 21:21] aquette opened #9 "usbhid-ups does not disable beeper with Eaton 3S550"
Alioth bug #313884
http://lists.alioth.debian.org/pipermail/nut-upsuser/2012-October/007994.html

[2013-02-15 23:10] aquette opened #10 "Use monotonic clock for monitoring"
- Alioth patch #313714
  https://alioth.debian.org/tracker/index.php?func=detail&aid=313714&group_id=30602&atid=411544
- Available on branch Vaclav
- this has superseded Alioth bug #313634, Use difftime for time comparison:
  https://alioth.debian.org/tracker/index.php?func=detail&aid=313634&group_id=30602&atid=411542

[2013-02-15 23:51] aquette opened #11 "SNMP Agent"
Legacy work (refer to ticket #101):
- Alioth patch ##312563: https://alioth.debian.org/tracker/index.php?func=detail&aid=312563&group_id=30602&atid=411544
- this version was limited to RFC1628, thus 1 device of type UPS

A more recent effort, from @luizluca (Luiz Angelo Daros de Luca) is providing an agent and a MIB that provide NUT features (multiple devices, of various types):
https://github.com

[2013-02-25 13:48] clepple opened #12 "USB integration on FreeBSD"
(Theoretically, this applies to NetBSD and OpenBSD as well, but FreeBSD's USB stack seems more complete at the moment.)

Some code: https://github.com/clepple/nut/tree/devd-usb

Things to do:
- [x] Generate devd.conf files for known USB devices
- [x] Install devd.conf files in the right place (includes detection of *BSD)
- [ ] Document the installation process (restarting devd, other permissions i

[2013-02-26 16:34] aquette opened #13 "NUT Controller (nutctld)"
A daemon to control NUT features locally or remotely:
- scan,
- configuration,
- daemons start / stop / restart / reload.

Use cases:
- mass configuration (including initial configuration) of a network of NUT systems,
- automated initial configuration of system with USB devices.

@balooloo: **to be completed**

[2013-02-27 23:41] aquette opened #14 "nut-scanner Gen2"
2nd generation of lbnutscanner and nut-scanner:
- plugin design:
  - each "bus" is provided through a specific library (aka "plugin"),
  - each plugin provides everything: help, init, scan, cleanup/close,
  - plugins using weak dependencies through dl_\* functions (no hard link)
  - ip address iterator is also perfectible
- libnutscanner provides .so listing and loading (to wrap available and usab

[2013-02-28 14:14] clepple opened #15 "Avoid "2.6.x-Unversioned Directory" version numbers"
This stems from not including nut_version.h in the distributed tarball. However, it was removed due to this Debian bug which I don't completely understand:

http://bugs.debian.org/cgi-bin/bugreport.cgi?bug=613643

Further discussion on nut-upsdev:

http://article.gmane.org/gmane.comp.monitoring.nut.devel/6388

[2013-02-28 14:16] #4 closed, assigned to clepple

[2013-03-01 15:45] geniv opened #16 "support FORTRON?"
Do you will support http://www.fsp-europe.com/ep850.php or series FORTRON FSP "Line Interactive"?

[2013-03-01 22:43] aquette opened #17 "USB integration on Solaris"
USB support on Solaris exists for years.
But it has never been fully completed.

Some information:
- base README info: https://gist.github.com/aquette/5068233
- Alioth patch #310561:
  https://alioth.debian.org/tracker/index.php?func=detail&aid=310561&group_id=30602&atid=411544

Things to do:
- [ ] Generate a script that executes add_drv/update_drv/rem_drv (step 4-c of the above gist) for known US

[2013-03-13 12:45] clepple opened #18 "informal code review of the libconf branch"
Some of the warnings on the clang builders prompted me to take a closer look at the libconf branch.
- https://github.com/networkupstools/nut/blob/libconf/common/nutstream.cpp#L346

NutStream::status_t NutFile::putData(const std::string & data) has a comment that there is not a FILE\* interface for writing arbitrary data. What about fwrite()?
- https://github.com/networkupstools/nut/blob/libconf/co

[2013-03-13 17:58] aquette opened #19 "Refresh FAQ"
FAQ needs an overall refresh.
Some important topics may still be missing (see commit eb1f01ed6f0e3844d00876b748287976b7c2478a) or not enough visible, others may not be applicable anymore, ...

[2013-03-21 12:51] aquette opened #20 "SNMP driver Gen3"
- in usbhid-ups spirit (2nd generation of meta driver, with sub-drivers)
- support external MIB2NUT files (externalize all mib2nut?)
Already available through the DMF
- support SNMP traps ("events notification")
  - how to handle traps for multiple drivers?
  -  ==> nutdrv-trap{d,handler,dispatcher,whatever_name} is a driver that receives traps and dispatches it over the nutdrv-snmp driver(s) inst

[2013-04-02 21:49] aquette opened #22 "jNUT split"
Split jNUT source code and distribution from the mainline.
Create a new repository on github, dedicated to jNUT.

[2013-04-04 17:15] stevenbg opened #23 "Non-standard USB_TIMEOUT in libusb.c is causing problems with Eaton 5PX UPS, usbhid-ups won't start"
Hello,

I reported a problem with the USB driver and an Eaton 5PX UPS. usbhid-ups failed to start, because it timeouts while receiving the descriptor. The USB_TIMEOUT constant in libusb.c is set to 4 seconds, instead of the standard 5 seconds.

Here is the original thread: http://www.mail-archive.com/nut-upsuser@lists.alioth.debian.org/msg07676.html

Here is the constant I'm talking about: https:/

[2013-04-04 20:37] #22 closed, assigned to EmilienKia

[2013-04-11 21:45] aquette opened #24 "usbhid-ups / mge-shut: add a new "communication timeout" option"
Refer to issue #23

This should address both usbhid-ups and mge-shut, since they share most of the code and logic. Possibly through a generic "com-timeout" option

[2013-04-11 22:20] aquette opened #25 "blazer / Megatec/Q1 / Qx driver Gen4"
Create the 4th generation driver to address all older Q1 and newer Q5 / QFS protocol variations.

The general idea is to have something between the current blazer\* and usbhid-ups like claiming and data mapping structure.

A special care must be taken to old dumb things:
current parameters have to be kept, and a "force q1" should probably be added.

[2013-04-24 17:19] #23 closed, assigned to aquette

[2013-04-25 11:53] morfoh opened #26 "usbhid-ups: trailing spaces in nut-scanner output not ignored when trying to find ups"
Hi,
I discovered an issue when trying to configure an APC Back-UPS ES 700G.

As I assume from the documentation `nut-scanner -qNU` should create a usable configuration entry which can be directly copied into `ups.conf`.

When running the above command I get:

[code]

For a first quick test I used:
`usbhid-ups -DD -u root -a nutdev1`
------------%<---------------------------------------------------

[2013-05-14 12:34] #26 closed, assigned to nobody

[2013-06-21 02:19] clepple opened #28 "genericups: add debug code for parsing the signal override settings"
When parsing the overrides for OB/LB/CP/SD, show names as they are encountered. Unknown names just fall through, so a typo in a signal name might go unnoticed.

[2013-06-27 22:17] aquette opened #30 "NSS support broke upsc output"
Versions prior to NSS merge provided the following output:

Since the merge of NSS, we now have (here using the latest git master):

This should be fixed prior to the next release, since it breaks compatibility with, for example, scripts and tools using upsc output.

The issue lies in clients/upsclient.c, when tryssl (default) is set and SSL can't be enabled...

[2013-07-03 20:55] clepple opened #31 "Consolidate bool_t definitions into a common header file"
Several drivers have some boilerplate code that implements a boolean type through an enum or an int. Some, such as the one in mge-utalk.h, are slightly different from the rest. This should be moved to a common header file.

[2013-07-10 18:59] aquette opened #36 "IPMI support completion"
A few things are still missing, to complete IPMI support:
- [ ] IPMI scan should first do an "ipmi ping", prior to doing an actual ipmi open.
  Refer to http://www.gnu.org/software/freeipmi/manpages/man8/ipmiping.8.html
  This is applicable to both nut-ipmipsu and nut-scanner
- [ ] IPMI driver still does not handle commands (on, off, sw off)
  Refer to http://www.gnu.org/software/freeipmi/manpages

[2013-07-10 20:48] aquette opened #37 "2.7.1 checklist"
Checklist for the 2.7.1 interim release:
- [x] @clepple: update dowload info for git
- [x] update client info with walNUT
- [x] address issue #30 (NSS support broke upsc output)
- [x] address issue #15 (Avoid "2.6.x-Unversioned Directory" version numbers)
- [x] check branch bcmxcp and merge if ok
- [x] check branch voltronic-driver and merge if ok (but see #57)
- [x] #57: check branch blzr and mer

[2013-07-23 12:00] #15 closed, assigned to clepple

[2013-07-25 19:48] #30 closed, assigned to aquette

[2013-07-31 12:40] clepple opened #44 "EPROTO undefined in OpenBSD"
Compiling usbhid-ups.c fails.

This was first reported for OpenBSD 4.8: http://thread.gmane.org/gmane.comp.monitoring.nut.user/6073

And still in 5.3: http://thread.gmane.org/gmane.comp.monitoring.nut.user/8006/focus=8017

It is probably just a matter of commenting out that case, but someone with OpenBSD should check to see what other error codes are used for USB errors.

[2013-07-31 13:07] clepple opened #45 "Normalize upsd/upsmon PID file handling and error reporting"
Error messages are generated at LOG_NOTICE when PID files can't be opened. In some cases (checking for existing processes, etc.) these "errors" are expected. Also, upsmon apparently does not remove its PID file when it exits, but upsd does.

http://thread.gmane.org/gmane.comp.monitoring.nut.user/8019

[2013-08-28 12:26] clepple opened #48 "HCL: show legend even when JavaScript is disabled"
While the selectors for the jQuery filters on the HCL do not need to be displayed if JavaScript is disabled, the key which shows the meaning of the colors should be enabled.

Similarly, we should check to see that this makes sense in something other than Mozilla-based or Webkit-based browsers.

[2013-09-13 21:31] aquette opened #50 "Modbus driver"
Create a generic driver to support Modbus devices.

It will:
- use libmodbus (http://libmodbus.org)
- support both RTU (RS232/485) and TCP communication
- support various devices (ups, meters, ...)
- use external definition files, including default communication settings (for RTU), and data mapping

A preliminary support has already been committed:
https://github.com/networkupstools/nut/tree/nutdr

[2013-11-07 13:37] clepple opened #64 "Tripp Lite HID: USB Product ID is Protocol number"
Tripp Lite has provided a list of models and Protocol numbers:

http://article.gmane.org/gmane.comp.monitoring.nut.user/8173

The Protocol number for HID PDC devices is equal to the USB Product ID, so this should be reflected in the detection routine and documentation.

[2013-11-11 03:30] #48 closed, assigned to nobody

[2013-11-18 01:33] clepple opened #68 "Add apcupsd support to nut-scanner"
With the apcupsd-ups driver merged into master, it would be handy to be able to scan for existing apcupsd NIS servers.

Basic detection would be an open TCP port 3551.

[2013-11-18 16:43] navytux opened #69 "al175"
Hello up there, NUT people.

Here is AL175 driver patch, updated again, based on feedback from 2009:

http://lists.alioth.debian.org/pipermail/nut-upsdev/2008-December/003641.html
http://lists.alioth.debian.org/pipermail/nut-upsdev/2008-December/003644.html
http://lists.alioth.debian.org/pipermail/nut-upsdev/2009-January/003710.html
http://lists.alioth.debian.org/pipermail/nut-upsdev/2009-January/

[2013-11-20 04:16] #69 closed, assigned to nobody

[2013-11-20 13:31] #37 closed, assigned to aquette

[2013-11-24 17:10] bigon opened #73 "libupsclient should link against libcommon"
When building nut 2.7.1 on debian, I get the following warnings:

[code]

I guess that libupsclient should link against libcommon

[2013-11-24 18:08] bigon opened #74 "POWERDOWNFLAG path changed to @CONFPATH@/killpower"
Hi,

With the new 2.7.1 version, the POWERDOWNFLAG path has changed from /etc/killpower to @CONFPATH@/killpower

This means that the new default path is /etc/nut/killpower on most of the distributions.

I'm wondering if this shouldn't be reverted to /etc/killpower

[2013-12-02 13:42] clepple opened #77 "Provide better diagnostics for upsmon's system(shutdowncmd) operation"
Log the error code here:

https://github.com/networkupstools/nut/blob/v2.7.1/clients/upsmon.c#L1683

The Linux system(2) man page doesn't say that errno is set, but we should log the return code if system() fails.

[2013-12-03 14:07] clepple opened #78 "Add HTML <meta> tag to not auto-create telephone number links on mobile browsers"
Some of the UPS model and cable names turn into telephone numbers on Safari on iPhone, especially on the HCL.

Add something like this:

[code]

[2013-12-05 13:11] clepple opened #79 "Increase logging verbosity"
See discussion:
- [ ] General: http://thread.gmane.org/gmane.comp.monitoring.nut.user/8218
- [ ] Specific to upsmon: http://thread.gmane.org/gmane.comp.monitoring.nut.user/8204
- [ ] upsd/driver events: http://article.gmane.org/gmane.comp.monitoring.nut.user/8233
- [ ] getaddrinfo(3) in upsd [citation needed]
- [ ] instcmd() in usbhid-ups: http://thread.gmane.org/gmane.comp.monitoring.nut.user/852

[2013-12-16 15:06] clepple opened #81 "apcupsd-ups driver toggles between stale and not stale when apcupsd is unreachable"
While the target apcupsd host is down, there are spurious stale/not-stale messages in syslog:

<pre>
09:10:21 hostname apcupsd-ups[94147]: can't communicate with apcupsd!
09:10:21 hostname upsd[94149]: UPS [apcupsd] data is no longer stale
09:10:37 hostname upsd[94149]: Data for UPS [apcupsd] is stale - check driver
</pre>

Verbose is good, but in this case, we should probably make sure the stalen

[2014-01-05 14:15] lxp opened #83 "[HCL] MicroDowell B.Box LP 500 supported by genericups"
Manufacturer: MicroDowell
Model: B.Box LP 500

ups.conf

[code]

upsc

[code]

OL, OB and LB is working with upstype 7 [CP=RTS] [OL=CTS] [LB=-DCD].

UPS shutdown with upstype 7 [SD=DTR]

[code]

UPS shutdown only works when on-battery and has a delay of about 1min until execution (something between 50sec to 1min 30sec on mine).

References:
http://www.ezdirect.it/pdf/lp500.pdf
https://forums.gento

[2014-01-06 15:58] aquette opened #84 "Store NUT installation path in a Windows registry key"
There is no registry key to point NUT installation path, as selected during installation.
The right and suitable key name is to be confirmed by a Windows guru, but something like the following should probably do it:
HKEY_LOCAL_MACHINE\SOFTWARE\Network UPS Tools\InstallationPath

[2014-01-11 20:10] #83 closed, assigned to nobody

[2014-01-24 14:35] clepple opened #89 "Add mapping for APC Back-UPS battery-not-present state"
APC BackUPS LS 500 (USB HID PDC) has a battery-not-present state that is not mapped to ups.status (as of v.2.7.1)

[2014-02-11 12:15] baruch opened #91 "Eaton Evolution UPS communication problem"
I've upgraded from 2.6.4 to 2.7.1 and in the upgrade on some servers I lost connectivity to the Evolution UPS serial port. I tracked this down to the patch 65db105d0a7a927100bb608efaeb6dc82b913747, reverting it made things work again.

[2014-02-11 13:32] #91 closed, assigned to nobody

[2014-02-13 01:39] #89 closed, assigned to clepple

[2014-02-15 18:53] aquette opened #93 "Devices Dumps Library improvements"
NUT Devices Dumps Library (http://networkupstools.org/ddl/) needs some more actions before being complete:
- [x] Reference on the website Compatibility page (@aquette)
- [x] Reference on the website Documentation page (@aquette)
- [x] Create a dedicated repository (http://networkupstools.org/ddl/) and website (http://networkupstools.org/ddl/)
- [x] Create a better page, or set of pages, to documen

[2014-02-15 20:38] aquette opened #94 "NUT Dummy driver Gen3"
dummycons (1rst generation) and dummy-ups (2nd generation) have well served various purposes, such as:
- debug of the NUT framework,
- client development
- simulation for QA regression testing purpose (with static definitions and power sequences)

The work on dummy-ups also permitted the creation of the NUT Devices Dumps Library (http://www.networkupstools.org/devdumps/).

However, time has come f

[2014-02-15 22:52] aquette opened #95 "Consider OpenBSD patches"
There are many patches out there, and very probably some interesting:
https://cvsweb.openbsd.org/ports/sysutils/nut/patches/ replicated at https://github.com/openbsd/ports/tree/master/sysutils/nut

(Previously http://www.openbsd.org/cgi-bin/cvsweb/ports/sysutils/nut/patches/ was the place)

[2014-02-15 23:19] clepple opened #96 "Install upsdrvctl to $prefix/sbin rather than $driverexec?"
At the moment (2.7.1+), upsdrvctl gets installed to $driverexec, which is often $prefix/libexec. Since it is intended to be invoked by an admin, it should probably go to $prefix/sbin (and Debian already puts it in /sbin, probably via the rules file at package build time). The FreeBSD ports tree currently does not move upsdrvctl, so it ends up in /usr/local/libexec/nut/upsdrvctl.

[2014-02-15 23:34] clepple opened #97 "Track min/max for values reported by drivers"
From Alioth:

This is for UPSes which do not report min/max values directly:

http://lists.alioth.debian.org/pipermail/nut-upsdev/2011-December/005772.html

There will need to be a mechanism to reset the min/max values as well.

[2014-02-15 23:52] aquette opened #98 "Asynchronous client communication"
NUT clients currently have to poll upsd to get data.

To gain in SW power efficiency, we should implement asynchronous (event based) communication, from the drivers up to the client.
This includes:
- [ ] Drivers: Support USB interrupt (need improvements?)
- [ ] Drivers: Support SNMP traps (#20)
- [ ] Drivers: Identify any other asynchronous HW protocols
- [ ] Drivers-Server: improve asynchronous u

[2014-02-16 00:13] aquette opened #99 "Remove obsolete HAL code"
The FreeDesktop Hardware Abstraction Layer (HAL - http://en.wikipedia.org/wiki/HAL_%28software%29) support in NUT was good.
But HAL is now deprecated for long enough, and systems still distributing it are sticking with the same NUT release.

It's time to remove the HAL code and reference:
- [x] docs/nut-hal.txt
- [x] drivers/hal
- [x] m4/hal
- [x] scripts/hal
- [x] configure.in references
- [x] Ma

[2014-02-16 01:26] #25 closed, assigned to zykh

[2014-02-19 22:40] aquette opened #101 "SNMP agent Gen3"
- legacy / defunct effort : Native C and Net SNMP libs... (defunct URL, see attachments)
  [nut_snmp-0.05.tar.gz](https://github.com/networkupstools/nut/files/388411/nut_snmp-0.05.tar.gz)
  [patch-1.3.11_SNMP-Agent.txt](https://github.com/networkupstools/nut/files/388413/patch-1.3.11_SNMP-Agent.txt)
- current effort : https://github.com/luizluca/nut-snmpagent (Ruby)

A 3rd version could be through

[2014-02-19 23:16] aquette opened #102 "Source tree reorganization"
The source tree has become a big incoherence over the years.
This has been discussed in length several times on the mailing list.

There are both reorganization, simplification and optimization to be done:
- conf
- data
- docs
- include
- lib
- m4
- packaging
- scripts
  - tools
- src
  - common
  - client
    - cgi
    - nutclient
  - config
  - drivers (subdirs for big drivers)
    - ipmi
    -

[2014-02-19 23:20] #2 closed, assigned to nobody

[2014-02-20 01:20] #78 closed, assigned to clepple

[2014-02-24 14:19] clepple opened #104 "Document 'ignorelb' flag"
The only documentation for the 'ignorelb' flag is in the apcsmart man page. Since this is in the driver core, we should mention it in nutupsdrv and the user manual as well.

[2014-02-24 14:30] #104 closed, assigned to nobody

[2014-02-25 23:01] #96 closed, assigned to aquette

[2014-02-27 03:59] #44 closed, assigned to clepple

[2014-02-28 14:00] clepple opened #106 "User defined variables in upsstats.html"
From http://article.gmane.org/gmane.comp.monitoring.nut.user/8363

[2014-03-02 14:58] soujak opened #107 "[HCL] Mustek Powermust 1000VA USB supported by blazer_usb"
The Mustek Powermust 1000VA USB UPS is working well. Please find the output of upsc and upscmd. Self-shutdown has been tested successfully and used in production for over three years. On the other hand, upsrw is not working.

[code]

[code]

[2014-03-03 14:48] EmilienKia opened #108 "Hazardous usage of TRUE and FALSE in drivers/nutdrv_qx.h:48"
At drivers/nutdrv_qx.h:48 we have:

[code]

Why not, but...

I tried to compile master on AIX (to rebase balooloo/nut:AIX_packaging_on_master). and the compilation fails:

[code]

My interpretation of that is TRUE or FALSE is already defined to something like 0 or 1 and that makes the enum typedef bad-formed.
Must be confirmed, but I think we have similar problem on Windows.

I suggest to test if

[2014-03-03 21:06] #108 closed, assigned to nobody

[2014-03-03 22:48] #107 closed, assigned to nobody

[2014-03-04 12:46] #84 closed, assigned to nobody

[2014-03-06 00:53] #99 closed, assigned to aquette

[2014-03-11 13:02] clepple opened #111 "genericups: warn the user if a disconnected cable is likely to cause a shutdown"
If the LB setting uses a de-asserted signal, it is likely to register as a shutdown if the cable is pulled.

See also issue #28 for other genericups debugging messages.

[2014-03-14 21:11] aquette opened #112 "Consider a default minimal fallback subdriver for usbhid-ups"
a potential default fallback subdriver implementing UPS.PowerSummary (the only common thing to all HID/PDC compliant devices, due to the ACPI mapping and integrated power managements...) could be a good idea, for a minimul but yet sufficient protection !
Note that would just be the same as upower and friends, but through nut.

This should remain a temporary fallback, in case of HID/PDC devices det

[2014-03-19 01:45] jammin84 opened #113 "[HCL] CABAC UPS-1700DV2 supported by blazer_usb"
this has been successfuly tested in a shutdown.

This device physically has CABAC UPS-1700DV2 on the front,
http://images.trademe.co.nz/photoserver/tq/286126865.jpg

Although the nut information reports Kebo. Looking at the kebo website, it looks similar to a Kebo 1700D -> http://www.kebopower.com/en/ProList3.asp?sId=190
# lsusb

Bus 003 Device 002: ID 0001:0000 Fry's Electronics
# grep -v # /etc/

[2014-03-19 10:08] Coacher opened #114 "blazer_usb does not work correctly with libusb-1.0.18"
Hello.

I have Ippon Back Power Pro 600 UPS connected via USB and controlled by blazer_usb driver. NUT did fine job of monitoring for a couple of years. Recently, in my distribution (which is Gentoo amd64) libusb was updated from 1.0.9 to 1.0.18. After this change NUT is broken for me. The problems below appear both with NUT 2.6.5 and 2.7.1. I have not changed NUT (or any other) configs between li

[2014-03-21 20:40] #113 closed, assigned to nobody

[2014-03-30 17:51] JasperWallace opened #115 "Numeric Digital 800 plus supported by blazer_usb"
Manufacturer: Numeric
Model Digital 800 plus

They don't seem to have online docs anymore afaict.

upsc:

[code]

upscmd:

[code]

beeper.toggle and test.battery.start don't seem to work, not tried any others.

Unfortunately it looks like this particular ups is fairly old and the batteries are dead, so no shutdown test (it lasts 2 seconds or so).

[code]

[2014-04-05 03:53] tbartlett0 opened #117 "[HCL] Eaton Powerware 3105 supported by 'bcmxcp_usb'"
Eaton - Powerware 3105
http://powerquality.eaton.com/Products-services/Backup-Power-UPS/3105-eol.aspx

[code]

Note: ups.beeper.status appears to not work -- the beeper still goes off even though it displays as 'disabled'.

upsrw: no output (no r/w variables)

[code]

Comments:
  shutdown.return works.
  shutdown.stayoff powers off immediately (no shutdown_delay), and then powers on again when lin

[2014-04-05 19:58] aquette opened #118 "snmp-ups: buggy HP/Compaq MIB"
This MIB seems wrong and/or outdated:
http://article.gmane.org/gmane.comp.monitoring.nut.user/8410/match=

Needs snmp walks (numeric and textual) from user, either using mode 1 or 2 of the following: http://www.networkupstools.org/docs/developer-guide.chunked/ar01s04.html#snmp-subdrivers

[2014-04-05 21:11] #117 closed, assigned to nobody

[2014-04-07 19:25] #73 closed, assigned to aquette

[2014-04-07 19:36] #118 closed, assigned to aquette

[2014-04-08 16:09] petroniusniger opened #120 "HP SNMP MIB improvements"
Issue opened at Arnaud Quette's suggestion.

Purpose is to bring HP SNMP driver in line with the latest HP MIB (ver. 1.76) based on the provided stub driver and SNMP walk information (see issue #118).

[2014-04-22 20:39] bigon opened #123 "upsmon child process PID stored in upsmon.pid"
Hello,

When using systemd, it complains about the PID stored in the .pid file:

[code]

And indeed when looking in upsmon.pid, the PID stored there is the one from the grand-child (unprivileged process) of the process started by init. Shouldn't this be the PID of the direct forked process instead?

[2014-04-22 21:04] bigon opened #124 "riello_usb not claiming the USB interface"
Hi,

According to https://bugs.debian.org/cgi-bin/bugreport.cgi?bug=738122, riello_usb driver is not claiming the interface.

This has the side effect of filling up the log partition on the machine

[2014-05-01 11:55] Ypnose opened #125 "Add a distro in "Binary packages""
Hi,
nut is compiled in the "Void Linux"[1] distro[2]. It started at 2.6.5. Please add it on the wiki page[3].
Thanks

[1] http://voidlinux.eu
[2] https://github.com/voidlinux/xbps-packages/blob/master/srcpkgs/network-ups-tools/template
[3] http://www.networkupstools.org/download.html#_binary_packages

[2014-05-03 17:01] #125 closed, assigned to nobody

[2014-05-16 02:18] clepple opened #126 "Mac OS X: installer .pkg and startup scripts"
This issue covers installing a command-line-only version of NUT on OS X.
- [ ] Build procedure for installer .pkg
- [ ] launchd startup scripts
  - [x] upsd
  - [x] upsmon
  - [ ] drivers (separate, rather than upsdrvctl?)
  - [ ] uninstaller script ("make uninstall" assumes make is available)

~~Ideally, we would have some self-update capability (like Sparkle), but for now, there is https://freec

[2014-05-28 09:37] hughsie opened #127 "Please create an AppData file for NUT Monitor"
Please consider writing and installing an AppData file with the application description and some screenshots, else NUT Monitor looks really bad in the GNOME and KDE Software Centers. We'd love to showcase more applications, but without the extra data file we can't. See http://people.freedesktop.org/~hughsient/appdata/ for details; thanks!

Richard

[2014-06-08 08:57] pasquik opened #130 "liebert-esp2 driver: some values not correctly retrieved"
Hello,
When using the upsc command on a Liebert GTX3000-RT230 with a contact closure cable the following is retrieved:

root@earth:~# upsc qnapups
battery.current: 0.00
battery.runtime: 27180
battery.runtime.low: 120
battery.temperature: 0.0
battery.voltage: 829.0
battery.voltage.nominal: 828.0
device.mfr: Liebert
device.model: GXT2-3000RT230
device.serial: 0307000120AF491
device.type: ups
driver.

[2014-06-12 19:54] Gluttton opened #131 "Signatures of function upscli_get in documentation and source code are different."
I've found out that function (which I recently use)

[code]

has different signatures in [documentation](https://github.com/networkupstools/nut/blob/master/docs/man/upscli_get.txt#L13):

[code]

and  [sources](https://github.com/networkupstools/nut/blob/master/clients/upsclient.h#L81):

[code]

[2014-06-15 21:08] #131 closed, assigned to nobody

[2014-06-16 13:52] Gluttton opened #132 "Different behavior of libupsclient when connection is broken for local and remote hosts."
**Background**: I'd like create program (client) which will be continuously check UPS status with listening NUT server. The client should be able repair of connection when it is broken.

**What I expect**:
The client must continuously check UPS status with established connection. When connection is broken, the client must close exist connection and start trying create new connection (for the same

[2014-06-19 12:53] clepple opened #134 "usbhid-ups: mark *_info types as enumerations"
For instance, in mge-hid.c, "input.sensitivity" can either be "normal", "high" or "low", but the type is `ST_FLAG_RW | ST_FLAG_STRING`. Add `HU_FLAG_ENUM` for similar R/W variables that can only take one of several values.

[2014-07-09 11:20] kiim11 opened #137 "blazer_usb not running [FreeBSD 8.4 "Unknown error" when scanning USB]"
I have USB UPS 1500VA Ippon < Innova RT 1, 5K
# usbconfig -u 0 -a 3 dump_device_desc

ugen0.3: <USB UPS PPC> at usbus0, cfg=0 md=HOST spd=LOW (1.5Mbps) pwr=ON

  bLength = 0x0012
  bDescriptorType = 0x0001
  bcdUSB = 0x0200
  bDeviceClass = 0x0000
  bDeviceSubClass = 0x0000
  bDeviceProtocol = 0x0000
  bMaxPacketSize0 = 0x0008
  idVendor = 0x06da
  idProduct = 0x0005
  bcdDevice = 0x0003
  iManufa

[2014-07-14 02:23] #132 closed, assigned to nobody

[2014-07-14 03:25] clepple opened #138 "Remove redundant usb_set_altinterface()"
This call to usb_set_altinterface() is redundant, and on OS X, prevents tripplite_usb from connecting to an OMNIVS1000:

https://github.com/networkupstools/nut/blob/d7a5c6e5e0f9c0bdbfe4029287dc45b50f2ab207/drivers/libusb.c#L224

I'd just comment it out, but I think we should have a parameter in case some other equipment is relying on this behavior.

Need testing of branch 'issue_138_altinterface_v

[2014-07-26 19:02] aquette opened #139 "Add support for new APC Modbus protocol"
From APCUPSD (http://apcupsd.cvs.sourceforge.net/viewvc/apcupsd/apcupsd/ReleaseNotes?pathrev=Release-3_14_11):
"APC publicly released documentation[1] on a new UPS control and monitoring protocol, loosely referred to as MODBUS (after the historic industrial control protocol it is based on). The new protocol operates over RS232 serial lines as well as USB connections and is intended to supplement A

[2014-08-01 17:18] aquette opened #140 "USB permission issues related to Linux / udev"
udev rules are applied too late (priority 52), resulting in nut privileges being overwritten.
The final result is that the driver doesn't start, and connection failure to the driver / UPS are reported by upsd and upsmon.

The fix is simply to set priority to 62 by renaming the rules file:
$ mv /lib/udev/rules.d/{5,6}2-nut-usbups.rules

This bug affects:
- Debian: http://bugs.debian.org/721600
- Fe

[2014-08-01 17:38] #140 closed, assigned to aquette

[2014-08-02 21:07] clepple opened #141 "Include pinout for MGE Network Management Card serial port"
This wiring diagram is buried deep in the NMC User Manual. It also does not specify the pin numbering scheme for the RJ45.

[2014-08-08 02:49] clepple opened #142 "Several Cyberpower 0764:0501 UPSes don't need battery voltage scale factor"
The 0.667 scale factor was originally added for a Dynex UPS. Other CPS models don't need this:
- http://lists.alioth.debian.org/pipermail/nut-upsdev/2011-December/005757.html
- http://lists.alioth.debian.org/pipermail/nut-upsuser/2014-August/009129.html

Here is the original post:
- https://lists.alioth.debian.org/pipermail/nut-upsuser/2007-February/002381.html

[2014-08-08 12:29] clepple opened #143 "usbhid-ups: use HID exponent and logical min/max to determine number of significant figures in values"
Many HID descriptors include information to scale values from the UPS. The usbhid-ups driver should take these scale factors into account when printing values. For instance, some [Cyber Power Systems UPSes](http://lists.alioth.debian.org/pipermail/nut-upsuser/2014-March/008965.html) return battery voltage in decivolts, which we scale to volts. The sprintf() format string should use the HID exponen

[2014-08-08 13:21] aquette opened #144 "Typo error in nut-scanner doc"
Reported by Evgeny 'Jim' Klimov, on:
http://www.networkupstools.org/docs/man/nut-scanner.html
- To scan NUT servers with a timeout of 10 seconds on IP range 192.168.0.0 to 192.168.0.128 using CIDR notation:
  nut-scanner -O -t 10 -m 192.168.0.0/25

Shouldn't this range end at .127? And should it scan the base-net and broadcast addresses (assuming this is not just a simplified definition of a range

[2014-08-10 10:06] EmilienKia opened #145 "Documentation generation problem with Ubuntu 14.04"
Hello all,

Just upgrading my distro in Ubuntu-14.04-based (LinuxMint 17.0), I am looking to regenerate nut.
All looks good but documentation generation with asciidoc fails.

I have a bad invocation of asciidoc:

[code]

This is with a classical upstream/master checkout, autogen, configure --with-all and make.
If I remember correctly, the same command was working well with precedent distro.

Ascii

[2014-08-12 01:14] #142 closed, assigned to clepple

[2014-08-16 13:52] #145 closed, assigned to nobody

[2014-08-21 12:41] sliverc opened #148 "Mecer ME-1000-WTU supported by blazer_usb"
I have successfully tested the Mecer ME-1000-WTU - nut recognized when the UPS is on battery and also when the battery is low whereas a shutdown signal is sent.

Aug 21 09:39:07 NI-1 upsmon[2959]: UPS Mecer-NI@localhost on line power

Specification (last page):
http://www.comx-computers.co.za/download/mecer/ME-1000-WTU.pdf

upsc:

battery.voltage.nominal: 36.0
beeper.status: enabled
device.mfr:
de

[2014-08-30 19:13] bks opened #149 "Belkin Regulator PRO-USB supported by usbhid-ups"
I have experimentally confirmed that my (ancient) Belkin Regulator PRO-USB works with the BELKIN subdriver of usbhid-ups. It has VendorId 0x050d and ProductId 0x0f51.

[code]

with configuration file

[code]

[2014-09-02 12:46] #149 closed, assigned to nobody

[2014-09-03 19:39] #144 closed, assigned to nobody

[2014-09-10 13:30] clepple opened #150 "Website: include NUT version number in Asciidoc-generated HTML"
Currently, the user manual published on the NUT website does not include the NUT version number.

Also, the individual HTML man pages have last-updated dates, but no version number either.
- [x] Incorporate version number into multi-page asciidoc->HTML conversions
- [x] Add NUT version number into footer of HTML man pages

[2014-09-10 13:31] clepple opened #151 "User manual: change wording of ownership to match suggestion"
http://article.gmane.org/gmane.comp.monitoring.nut.user/8680 bullet 3: -> "owned by group" or similar

[2014-09-10 13:32] clepple opened #152 "User manual: expand pathnames based on configure parameters"
http://article.gmane.org/gmane.comp.monitoring.nut.user/8680 items 1 and 2

[2014-09-12 17:59] aquette opened #153 "Simplify and cleanup the current SNMP data mapping"
SNMP data mapping (SNMP OIDs to NUT variables) are currently hardcoded in *-mib.c files.
The next generation of SNMP driver ( #20 ) will use external data mapping (i.e., not hardcoded but text files).
However, most *-mib.c files use #define and other things that don't ease the current maintenance nor evolution, and that won't ease future conversion.
This should be limited to the following list of

[2014-09-18 00:16] #28 closed, assigned to clepple

[2014-09-24 16:28] #127 closed, assigned to aquette

[2014-09-25 12:46] clepple opened #154 "ltrim() comment does not match behavior"
The comment in ltrim() indicates that it modifies the input string, but instead it simply returns a pointer to the first character after 'sep':

https://github.com/networkupstools/nut/blob/master/common/common.c#L612

To match the comment, "p = '\0'" should probably be "*p = '\0'" to match rtrim().

@zykh tagging you because nutdrv_qx.c uses ltrim(), and I don't want to break your code if it does

[2014-09-26 17:08] #154 closed, assigned to nobody

[2014-09-26 17:09] #74 closed, assigned to aquette

[2014-09-27 11:24] aquette opened #155 "Possible forward-incompatibility with automake"
here's my last autogen.sh call output:

[2014-09-27 21:42] aquette opened #156 "Add a '-n no-conf' option to upsdrvctl / upsd / upsmon to avoid failure when not yet configured"
nut.conf was in charge of telling init sysV script if NUT was to be started, and which component(s).
With newer init system, such as systemd, nut.conf is useless and all installed components are tried to be started. This results in failures, at least at initial installation.
By adding a '-f force-no-conf' option, we avoid returrning EXIT_FAILURE if no device in configured in ups.conf nor in upsmon

[2014-09-28 10:07] #155 closed, assigned to aquette

[2014-09-28 17:43] #150 closed, assigned to nobody

[2014-10-17 06:14] gavrilov-i opened #160 "BCMXCP scheduled shutdown/start"
As I said in pull request, I discovered commands for shutdown/start UPS in n minutes. As you can see those commands need argument, what I didn't see in any driver.
For tests I implemented them as variables - UPS report remaining time before shutdown/start, but in cmdvartab I see commands load.on/off.delay, so I need advice - which way is right? )
Also, I can implement it in pull request #158.

[2014-10-21 12:22] clepple opened #161 "FAQ: "usbfs: process ? (usbhid-ups) did not claim interface 0 before use""
On Linux, if two copies of a driver are competing for the UPS, these messages will appear in dmesg:

    usbfs: process 29641 (usbhid-ups) did not claim interface 0 before use

This can be a symptom of a source install conflicting with a package install.

[2014-10-22 13:20] clepple opened #162 "configure: indicate required version of Asciidoc/A2X/dblatex"
autoconf script does not indicate why it will not build various documentation components:

http://article.gmane.org/gmane.comp.monitoring.nut.user/8795

Could also indicate that docs are available on the website, if asciidoc detection fails.

[2014-10-23 09:19] yigityalnizca opened #163 "Megatec Usb driver windows Help"
Hi,
How to windows usb communication megatec driver.C++ or C#.NET
Inform 600 AP UPS.
Thanks.

[2014-10-26 22:51] clepple opened #164 "Include pinout for Best Power serial port"
From http://pinoutsguide.com/UPS/best_power_pinout.shtml and http://lit.powerware.com/ll_download.asp?file=m_patriotproii_jan99.pdf

[2014-10-29 08:20] major12 opened #165 "Rucelf UPOII-3000-96-EL supported by blazer_ser"
Link to product page
http://www.rucelf.ua/en/catalog/upoii-3000-96-el/

upsc

[code]

upscmd

[code]

[2014-10-30 17:07] dachew opened #166 "TrippLite SMART1500LCDT UPS (not supported?)"
:beginner:
I'm a total noob to FreeNAS and most *nix's in general, so please be kind.  I've read & read & read documentation and tried all sorts of things, but at the end of the day I believe the error message I'm getting is legit and my UPS is not yet supported by NUT.  I've Google'd around a bit and haven't found much regarding workarounds or anything.  Unfortunately I didn't consult the NUT com

[2014-10-31 12:35] #165 closed, assigned to nobody

[2014-11-02 00:41] #163 closed, assigned to nobody

[2014-11-06 13:59] clepple opened #167 "Add "const" to pointers for USB matching functions"
A lot of the USB matching functions use constant tables of VID/PIDs, so they should be marked "const". Deferring this for now, but it would be good to consider for the next time a large-scale USB code update is done.
- [ ] const-ify USB matching API
- [ ] const-ify existing drivers
- [ ] update the driver template script

[2014-11-08 23:04] stevenhoneyman opened #168 "Debug mode (intentionally?) shows less useful info than normal mode"
I'm completely new to this software, and in attempting to test it out, I had `-D` parameter set, to "raise debugging level". Because of https://github.com/networkupstools/nut/blob/f5462ebb6509b5a967524d7cfc9f6ee9c1088d13/drivers/main.c#L574 this actually gave me less information:

After attempting to start blazer_usb for a second time, with debug enabled:

[code]

...and the same but without debug

[2014-11-09 15:22] clepple opened #169 "HID Report Descriptor patcher"
Many UPSes have bugs in their HID Report Descriptors, and it can be hard to work around them without peppering the HID code with special cases. What we need is a way to match a known buggy HID descriptor, and swap it out for a patched one.

[2014-11-11 04:12] clepple opened #170 "usbhid-ups: add Powerware models to MGE/Eaton table for e.g. battery.voltage"
http://article.gmane.org/gmane.comp.monitoring.nut.user/8863

This table is missing the Powerware entries:

https://github.com/networkupstools/nut/blob/master/drivers/mge-hid.c#L82

so `battery.voltage` is not returned for some models:

https://github.com/networkupstools/nut/blob/master/drivers/mge-hid.c#L201

[2014-11-20 20:47] willglynn opened #171 "Tripp-Lite SNMPWEBCARD segfault/errors with snmp-ups driver"
I've gotten this (sort of?) working:

    # cat /usr/local/etc/nut/ups.conf
    [tripplite]
        driver = snmp-ups
        port = 172.16.3.35
        desc = "Tripp-Lite SUINT3000RTXL2U"
        pollfreq = 15
        snmp_version = v2c
        community = public
        mibs = ietf
    # upsc -h
    Network UPS Tools upsc 2.7.1
    …
    # upsc tripplite
    battery.charge: 100.00
    battery.ru

[2014-11-24 14:02] clepple opened #172 "a2x: pass --nonet options to XSLT tools"
Pass --nonet options to XSLT tools so that they do not try to download DocBook files from the internet each time they are requested. Fail with an error to indicate that the user should download them once via other means (packages, etc). As a fallback, point users to pre-built documentation online (a la #162).

[2014-11-29 19:24] vporton opened #173 "NUT interferes with a USB webcam"
Debian package: nut-server
Version: 2.7.2-1+b3

I've connected and configured Advice PRS850 (a UPS with USB interface).

When I started Cheese program (a program which uses a USB webcam),
I received the following broadcast message:

"Communications with UPS advice@localhost lost"

When I exited Cheese, I received the following broadcast message:

"Communications with UPS advice@localhost establish

[2014-12-17 16:28] mike-s123 opened #175 "cmdvartab not reloaded with "upsd -c reload""
signaling uspd to reread its configuration by doing a "upsd -c reload" does not cause it to read changes made to cmdvartab. The daemon must be stopped and restarted to recognize changes.

[2014-12-17 21:51] mike-s123 opened #176 "Enhancement request: add support for shutdown_delay to snmp-ups"
NUT snmp-ups and powerware-snmp drivers.

Powerware's MIB supports a delayed power down, and automatic restart after utility power returns. This makes snmp power down workable, since a delay can be added so other processes (like networking) have time to gracefully stop before power goes down. Other MIBs may offers similar functionality.

This is the MIB (xupsLoadShedSecsWithRestart 1.3.6.1.4.1.534

[2014-12-19 13:41] clepple opened #177 "USB drivers: allow '0x' prefix on hex matching parameters"
If a user supplies `vendorid=0x0463`, it will not match, since the code is expecting a regex that will match just a four-digit hexadecimal value. Expand the parser to be more flexible when the string would otherwise match valid input to `strtoul()`.

[2015-01-02 01:37] clepple opened #178 "dummy-ups: provide better diagnostics to syslog as well as console"
http://news.gmane.org/find-root.php?message_id=54A5C2AE.3080601%40utoronto.ca

If dummy-ups is started via upsdrvctl or other startup scripts, the output of upsdebugx() is not typically logged. Configuration errors are therefore not visible in syslog. Recommend the use of upslogx() instead.

If the 3rd-generation dummy-ups referenced in issue #94 is rewritten from scratch, this should also be take

[2015-01-02 02:39] clepple commented on #152
I changed the title of the issue because we already have a statement in [INSTALL.nut](https://github.com/networkupstools/nut/blob/master/INSTALL.nut) that paths will be different for distributions. We should still revisit the AsciiDoc attributes at some point.

[2015-01-02 03:06] #141 closed

[2015-01-02 03:06] #151 closed

[2015-01-02 03:06] #164 closed

[2015-01-02 15:37] clepple commented on #156
@bigon I looked at the jessie release schedule, and I don't think I will have time to set up a development environment and debug the systemd issues before nut gets auto-removed from testing. (I am in the middle of migrating an unrelated server from wheezy to jessie, and that is taking longer than I anticipated.) There is also some merit in not introducing unnecessary differences between the Debian

[2015-01-02 21:32] bigon commented on #156
@clepple Yeah, I'll try to see if I've the time to fix this :/

There are some extra work needed to disable (remove the symlink) systemd services after removing them the .service file and need to take special care of stopping the service before removing the it.

[2015-01-10 11:02] bigon commented on #156
Another option could be to have a wrapper script that exit 0 if the MODE=none

[2015-01-12 14:45] clepple commented on #156
@bigon I don't have a strong opinion as to whether it is a NUT-specific wrapper that checks for MODE=none, or if the Ubuntu init.d compatibility scripts check for it. But I suspect that the latter would be less confusing. You have a better understanding about what will prevent NUT from being removed from Debian testing, I think.

[2015-01-16 21:10] surr opened #180 "Smart-UPS RT 10000 XL support with apcsmart"
I use Smart-UPS RT 10000 XL device with debian packaged nut.
After upgrading from debian 6 to 7 (and nut from 2.6.4 to 2.7.2) a lot of features disappear.
For example, there is only voltage value under input.* hierarchy in upsc output and upscmd -l returns an empty list.
All missing things worked fine with previous version of nut. I have to recalibrate device after battery replacement, but I do no

[2015-01-18 13:34] clepple commented on #180
As mentioned in the NEWS file (available at /usr/share/doc/nut-server/NEWS.gz in Debian) and in the man page, we replaced the apcsmart driver with a new version. The version from NUT 2.6.4 is still available as apcsmart-old.

However, apcsmart-old will eventually be removed from NUT. Can you post the output of `upsc`?

Tagging @msoltyspl in case I missed something.

[2015-01-18 14:14] surr commented on #180
Output with apcsmart driver:

[code]

Output with apcsmart-old driver:

[code]

[2015-01-18 14:25] surr commented on #180
And the actual upgrade was from 2.4.3 to 2.6.4, of course.
2.7.2 is the version from the upcoming debian release.

[2015-01-21 04:14] clepple commented on #180
You could try the following: stop the driver, then run '/lib/nut/apcsmart -D -a name-of-UPS 2>&1 | tee /tmp/apc-log.txt', then post the log in a Gist or pastebin, and post the URL here.

I think there is a firmware table that isn't matching your version.

[2015-01-21 09:54] surr commented on #180
[code]

[2015-01-22 04:00] clepple commented on #180
On Jan 18, 2015, at 9:25 AM, surr <notifications@github.com> wrote:

Oh, then that means that we had a different APC driver for 2.4.3, 2.6.4 and 2.7.2.

Can you install the 2.7.2 version from testing? I would hate to try and fix a bug in what is now the old driver.

[2015-01-22 07:49] surr commented on #180
It is hard to install new version from debian, so I build nut from git with these parameters.

    ./configure --without-all --with-serial --prefix=/tmp/nut --with-statepath=/tmp/nut/_

upsc output

[code]

Debug log:

[code]

[2015-01-23 13:42] clepple commented on #180
What we need to do here is figure out if the "a" result looks good, or if we need to add "5YW" to the compatibility table.

I created a temporary branch to investigate: https://github.com/clepple/nut/compare/apcsmart_logging

Can you please switch to that branch (it's in my own repository rather than the main one, so that it doesn't spin up a bunch of Buildbot jobs), then rebuild and post just the

[2015-01-23 14:03] surr commented on #180
[code]

[2015-01-31 16:00] clepple commented on #180
It looks like the APC_CMDSET_FMT regex is only expecting two "." characters, and there are three:

   1.145806 APC_CMDSET: (86 bytes) => 34 2e 21 24 25 2b 3f 3d 23 7c 2e 01 05 09 0c 0e
   1.145816  14 16 1a 27 29 2b 2d 2f 37 38 39 3c 3e 40 41 42 43 44 45 46 47 4b 4c 4d 4e
   1.145824  4f 50 51 52 53 55 56 57 58 59 5a 5c 5e 61 62 63 65 66 67 6a 6b 6c 6d 6e 6f
   1.145832  70 71 72 73 75 77 78 79 7a

[2015-02-03 19:41] aquette opened #182 "Add support for external Data Mapping File"
NUT drivers (SNMP, XML/PDC, USB/HID, ...) hold hard-coded textual data, that maps NUT variables to the protocols-native ones. For example, each interesting SNMP OID (data) as an entry (line) in the snmp-ups driver that tells it how to retrieve and process this data:
https://github.com/networkupstools/nut/blob/master/drivers/eaton-mib.c#L253
https://github.com/networkupstools/nut/blob/master/driver

[2015-02-04 03:32] clepple commented on #93
@aquette, this is the last issue on our list before releasing 2.7.3. Anything else we need to do here? Should we split any features off into separate issues?

[2015-02-04 11:41] aquette commented on #93
@clepple: everything seems good. I've merged the other remaining PR for 2.7.3.
We can proceed to releasing 2.7.3. Anything else will wait for the next point release (2.7.4)

[2015-02-04 17:25] Am1GO opened #183 "Ippon Smart Winner 1000 USB"
Greetings,

I can't get my UPS to work with nut.
I'm not pretty sure that it was a bug in NUT but I'll report it anyway.
Thank you for your analysis!

-
#### Repoducibility:
100%

#### Actual results:
##### ```# /usr/sbin/nutdrv_qx -a ismw1000_nutdrv_s```
[code]
##### ```# /usr/sbin/blazer_usb -a ismw1000_blazer_s```
[code]
#### Expected results:
##### ```# /usr/sbin/nutdrv_qx -a ismw1000_nutdrv_s

[2015-02-04 19:59] clepple commented on #180
On 2015-01-31 17:00, Charles Lepple wrote:

Sorry for late reply. Yes it seems to be the cause of problem. Current
version assumed that command set was returned by 'a' was:

version.alerts.commands

Old driver searched for '.' from the beginning of the string, the new
one verified by regex and searched for '.' from the back, obviously
failing, as new(?) version is apparently:

version.alerts.comma

[2015-02-09 03:28] clepple commented on #183
Did you completely power down the UPS after testing the serial connection? Many UPSes cannot switch between USB and serial on-the-fly.

[2015-02-09 04:04] Am1GO commented on #183
Yes, I've tried to power off UPS completely without any success.

[2015-02-09 13:52] clepple commented on #183
I assume the serial driver detected the megatec protocol variant?

Is this using libusb 1.0.x with libusb-compat? Most of the testing has been done with libusb-0.1.

Maybe @zykh has some other debugging ideas.

[2015-02-09 18:27] Am1GO commented on #183
Accordings to libusb package description [1] it was libusb 1.0.x:
[code]
But I'm not really sure because in Fedora it could be virtually anything and only maintainer knows the truth.

Here is the build logs of packages that I was using:
* [nut-2.7.2-1.fc20.armv6hl](http://japan.proximity.on.ca/kojifiles/packages/nut/2.7.2/1.fc20/data/logs/armv6hl/build.log)
* [libusb-0.1.5-3.fc20.armv6hl](http://j

[2015-02-10 03:33] clepple commented on #183
The "libusb-0.1.5" log does mention libusb-compat. I am not saying that it won't work, just that it is an extra layer of complexity.

My personal preference would be Debian or Ubuntu (they still have libusb-0.1 as a separate library from libusb-compat), but even with Fedora it should be possible - it just might involve rebuilding the NUT package from source.

"megatec" uses some sort of "Q1" comma

[2015-02-13 03:18] clepple opened #184 "configure script does not fully check for working Mozilla NSS"
If the NSS runtime is installed, but the dev headers are not, the NUT configure script uses a fake set of library flags, and keeps going:

https://github.com/networkupstools/nut/blame/master/m4/nut_check_libnss.m4#L23

This breaks when building NUT (specifically, when upsclient.h tries to include ssl.h).

It looks like it might be getting a false positive on glibc's nss.h:

[code]

[2015-02-13 18:35] bigon opened #185 "insecure storage of password in nut-monitor favorites file"
Hello,

As reported in [0], it seems that the favorite file can be readable by everybody in some situations.

Newly created directories are properly chmod'ed 0700, but the one created before the version 1.2 of nut-monitor are world readable. The debian bug is proposing a patch

[0] https://bugs.debian.org/cgi-bin/bugreport.cgi?bug=777706

[2015-02-13 20:28] msoltyspl commented on #180
Pushed small update, it should be working fine now.

Sorry for delay.

[2015-02-13 21:05] surr commented on #180
I get a SEGV now.

[code]

[2015-02-13 21:29] surr commented on #180
Local variables at the fail location.

[code]

[2015-02-14 12:49] msoltyspl commented on #180
SEGV should be fixed. Check if it works fine when you have the opportunity.

[2015-02-14 13:01] surr commented on #180
It works fine now. Thanks.

[2015-02-14 13:01] #180 closed

[2015-02-14 15:59] clepple commented on #185
On Feb 13, 2015, at 1:35 PM, Laurent Bigonville wrote:

David (cc'd),

I think the following patch from the Debian bug report is useful:

https://github.com/clepple/nut/commit/0d1b10de7e69cc99774db0573d5ad4ffdbc891c8

If you would like, I can bump the version number to 1.3.1.

- Charles

[2015-02-15 02:00] clepple commented on #166
@dachew someone just posted some logs to the nut-upsuser list which seems to indicate that FreeNAS 9.3 has NUT 2.7.2. Were you ever able to get this working? If not, you may want to try upgrading to FreeNAS 9.3.

[2015-02-15 18:29] ikus060 opened #186 "Can't get KIN2200APRM working"
I'm struggling to get my PowerCom UPS model KIN2200APRM working with NUT.

My configuration `ups.conf`:
[code]

When running powercom from command line:
[code]

[2015-02-15 20:14] clepple commented on #186
Assuming the serial protocol hasn't changed, it looks like the UPS is not responding to the query character.

Some UPS vendors have different cables for their smart protocols (versus contact-closure signaling). If it is a custom-built cable, double-check the pinouts.

/dev/ttyS0 sounds like Linux, so you might be able to check the stats in /proc/sys/tty to see if the port is sending or receiving a

[2015-02-15 20:30] ikus060 commented on #186
You might be right about the cable. I've use a simple DB-9 cable. According to documentation, http://www.powercom-usa.com/techsup/UPSManual/kingpro.pdf I need to use a special cable. I will search my cable stack for this cable, but I might not have it anymore. Any suggestion ?

![screenshot from 2015-02-15 15 27 06](https://cloud.githubusercontent.com/assets/921251/6204872/7ed14304-b527-11e4-84fc-

[2015-02-15 20:45] clepple commented on #186
We don't have it in our cable documentation, but let us know if this works: http://pinouts.ru/UPS/powercom_cable_pinout.shtml

[2015-02-15 21:33] ikus060 commented on #186
hey hey, I found the cable and everything work like a charm. ! Thanks

[2015-02-15 21:33] #186 closed

[2015-02-15 22:30] clepple commented on #186
Excellent, glad that worked. If you get a chance to verify the pinout URL, we can include that link in the documentation.

[2015-02-15 22:59] ikus060 opened #187 "Wrong in/out voltage reported for PowerCom KIN2200APRM"
I'm using a PowerCom KIN-2200-AP-RM. The input/ouput voltage reported is incorrect. Looking at current implementation and comparing it with the Java implementation provided by PowerCom, it doesn't take the line voltage into consideration.

Solution:
The current value need to be divided by two when the line voltage is less then 200.

[code]

Java implementation:
[code]

[2015-02-16 00:50] clepple commented on #187
I agree that the input_voltage() calculation can be divided by 2:

https://github.com/networkupstools/nut/blob/master/drivers/powercom.c#L409

What about the output voltage? The logic is a bit more complicated there (stat* bits):

https://github.com/networkupstools/nut/blob/master/drivers/powercom.c#L467

[2015-02-16 01:43] ikus060 commented on #187
Inside the `if (statINV==0)` the basically the same logic: divide by two.
https://github.com/networkupstools/nut/blob/master/drivers/powercom.c#L469

I have extract the relevant java code from ReceiveCOM1.java. At first look all the constants seams to be divided or multiply by two.
[code]

Here the original java file for reference.

[2015-02-16 09:36] clepple commented on #185
Hi,

Yes it's a good way to have a minimum security on the config folder.

May be for future version, i can try to add some crypto to passwords to
avoid
having them "human-readable".

For now i just encoded them as base64 that is not supposed to be
"secure" but
just avoids reading the password in clear text when looking the
favorites file.

Another solution would be to use a system keyring (Gnome/

[2015-02-26 09:43] aquette opened #188 "Add support for Eaton XML/PDC v4"
Currently, netxml-ups (subdriver mge-xml) only implements Eaton XML/PDC v3.
This version only allows to support Eaton UPSs, but Eaton ePDUs G2 and G3 require to add support for XML/PDC v4.

[2015-02-26 14:23] aquette commented on #30
@balooloo : the bug was already filled and addressed

[2015-03-03 01:30] clepple opened #189 "Developer manual: clarify the process of adding a new driver or subdriver to Makefile.am"
http://article.gmane.org/gmane.comp.monitoring.nut.user/9076

Also point to information on developer-only dependencies for rebuilding.

[2015-03-04 00:17] clepple opened #190 "upsd: NSS SSL only working in debug mode"
## Summary

Client SSL connections do not complete when connecting to upsd running as a daemon when linked to NSS. Running upsd in the foreground (`upsd -D`) works fine.

Originally identified on Ubuntu 14.04, which compiles NUT 2.7.1 against NSS (libnss3):

[code]

Verified with NUT 2.7.2.6+ (git master @ 197eafa4) on Linux Mint (also based on Ubuntu 14.04).

## References

mailing list thread: h

[2015-03-04 09:28] aquette commented on #190
@balooloo : you're expertize would be greatly appreciated here ;)

[2015-03-04 13:58] clepple commented on #184
Maybe this can be addressed while working on #190?

[2015-03-05 01:29] #185 closed

[2015-03-05 10:15] aquette commented on #182
@clepple , @balooloo , @zykh : specs pushed to the wiki:
https://github.com/networkupstools/nut/wiki/Data-Mapping-File
Calling for review and approval

[2015-03-05 14:12] jimklimov commented on #182
Arno asked me to look for a small JSON parser library, and "jsmn" seems like a good fit for this use-case. It is small, so might be embedded into the NUT codebase rather than expected as an OS package (or as many projects do, pick the specific or newest variant between OS package and private copy during the "./configure" phase), and it is MIT-licensed. And extremely fast for both small and large d

[2015-03-05 14:39] jimklimov commented on #182
As another option, if needed, there are also mixed reviews for cJSON available from http://sourceforge.net/projects/cjson/ (BSD-licensed). Some praise it for better functionality, portability and usability while still a compact project aimed at embedded platforms. The blog from Lev Walkin referenced earlier had this project discarded it (not usable for him two years ago) due to some memory leaks a

[2015-03-05 14:50] clepple commented on #182
Wiki page URL seems to have changed to https://github.com/networkupstools/nut/wiki/Data-Mapping-File-(DMF)

I think we need to also consider how this will be rolled out. JSON is certainly a well-known, flexible format-- but one that we do not currently parse in NUT (not counting the HCL, since the browser is doing the parsing on the user side). This will also require some thought about when things

[2015-03-05 15:32] clepple commented on #182
On Mar 5, 2015, at 9:12 AM, Jim Klimov wrote:

Jim, if we were to use JSON, I think we would be best served by a generic JSON tokenizer, with a parser that builds NUT-specific C structures. After all, we can afford a little extra startup time to optimize driver performance in the main event loop. I think that either the HID or the SNMP driver would take a report/packet from the device, split it in

[2015-03-05 15:54] jimklimov commented on #182
Charles, I think your last comment coincides with my gut-feeling, that since with this DMF quest we have a fixed format (as opposed to "generic parsing of anything") and essentially an application-defined schema (some C structures into which that external data would be ultimately mapped for efficient programmatic consumption), a fast tokenizer and custom parser of those tokens into structures is a

[2015-03-05 16:18] clepple commented on #182
Interesting, I hadn't considered that.

Threads? That's a dirty word around here ;-)

Again, that is certainly a good point, but it is almost an argument against having the first implementation handle reloading of DMF files. I think it would be best to make the driver parse the file cleanly at startup (using a single context to test that code), and make sure that all of the memory allocation is ha

[2015-03-05 16:20] aquette commented on #182
@clepple , @jimklimov : indeed, the aim is to parse at startup time the DMF, and push the content into our current C structs, possibly augmented for smarter behavior. That wasn't that obvious reading back the Implementation Notes chapter, but that's the intent of the provided Mapping tables (i.e. make it easy to load into these C structs).

@clepple : fully agreeing with the initial work on loadin

[2015-03-05 17:11] aquette commented on #182
@clepple : thanks for your excellent and constructive comments, as usual :)
indeed, flex/bison were not considered. If you want to make a complementary proposition, please feel free. Anyhow, I'm not sure that it would be that user-friendly (though you may correct me).

On DMF version number: you're right, and this is again something I neglected. Taking the point...

On the fast growing size and im

[2015-03-05 17:30] jimklimov commented on #182
In regard to lexers (yacc/bison/flex/...) as well as switchable-context
reloads, I can point to "milter-greylist" as an example of user config
language implementation. Not that I am fluent in that to suggest how to
write it from scratch, but I expanded that by a few keywords for new
features - that was quite possible even for a newbie ;)

--
Typos courtesy of GMail on my Samsung Android
05.03.2015

[2015-03-05 18:03] clepple commented on #182
On Mar 5, 2015, at 12:11 PM, Arnaud Quette wrote:

http://www.gnu.org/licenses/gpl-faq.html#LinkingOverControlledInterface

Proprietary extensions need to be combined at arms-length, like the GIMP external program plugin approach, to not fall under the scope of the NUT license: http://www.gnu.org/licenses/gpl-faq.html#MereAggregation

[2015-03-06 12:13] balooloo commented on #182
I see an added value to consider DMF files with a layering capability in order to be able to override configuration.
I take an example : GIT. Like many software, git holds a configuration in layers:
  - distribution-wide system default configuration (in /usr/share)
  - system-wide admin configuration (in /etc)
  - user config (in ~/.git)
  - project specific config in the repository directory

Lik

[2015-03-06 12:30] balooloo commented on #182
Another point I want to discuss here and now is for long term: driver state.
Depending on what the device will be used to:
  - just discovered, only the presence in inventory is important
  - basic monitoring, only basic power and battery state are important, with a low frequency acquisition
  - advanced monitoring, all power data with high frequency acquisition
  - protection, some data with even

[2015-03-09 00:21] zykh commented on #182
Just a few observations:

1. On the version and extensions things - I was thinking about something like \<required> and \<optional> modules, where:
  * \<required>: mandatory modules to have the basic status and functionalities from the device;
  * \<optional>: modules that add on the previous ones to get/set auxiliary data and commands (these modules are not needed to run the driver: if you have

[2015-03-09 02:37] clepple opened #191 "FreeBSD 10+: "make distcheck" requires GNU Make"
The FreeBSD ports collection builds with GNU Make, but the NUT Buildbot just invokes 'make'. This causes 'make distcheck' to fail with a cryptic error during `make dist-hook`:

[code]

[2015-03-13 13:01] aquette opened #192 "Reference Black Duck OpenHUB in the documentation (QA)"
https://www.openhub.net/p/nut

[2015-03-14 14:05] nickma82 opened #193 "make distcheck-light - nutclient_authenticate.3"
I've got a problem with "make distcheck-light"

Reproduction:
* git clone https://github.com/networkupstools/nut.git
* cd nut; ./autogen.sh
* ./configure (with that output: http://pastebin.com/tb3tfZN2 - expires 14.Apr.2015)
* make
* make distcheck-light (with that output: http://pastebin.com/uv5XHNfD - expires 14.Apr.2015)

Best, Nick

[2015-03-14 14:47] clepple commented on #193
To build the man pages, you need asciidoc, a2x, and a host of docbook-related dependencies:

[code]

If you are building on a system that has an older version of NUT in package form, there is probably a way to list (or automatically install) the dependencies needed to build that package. For instance, on Debian/Ubuntu you should be able to run `apt-get build-dep nut` to install all of the document

[2015-03-14 15:30] nickma82 commented on #193
Hi @clepple,
thanks for the quick response!

I'm new to nut and don't have any version installed yet. After installing the preconditions on Ubuntu ```apt-get build-dep nut``` totally did the job.
For information, it installed the following packages:
```asciidoc cdbs dblatex debhelper dh-apparmor dh-systemd dh-translations freeipmi-common intltool libfontconfig1-dev libfreeipmi-dev libfreeipmi12 li

[2015-03-14 15:52] clepple commented on #193
Not the Asciidoc-related dependencies, no. Usually, we field questions about earlier build problems, like not having autoconf, automake and libtool, so that is covered here:

http://www.networkupstools.org/download.html#_development_tree

I guess I also wasn't expecting non-maintainers to run `make distcheck*` targets-- usually if someone is building on their own, they would just do a regular 'mak

[2015-03-14 15:58] clepple commented on #19
With less frequent releases, and more emphasis on building from the Git tree, we need to update both the FAQ and the install instructions (main page and development guide) to cover prerequisites for building from a clean system. See #193, #191, #162, etc.

Other FAQ additions: #161, #152

[2015-03-14 16:10] nickma82 commented on #193
Well, I did had the "earlier build" dependencies already and followed the [developer-guide](http://www.networkupstools.org/docs/developer-guide.chunked/index.html)->[repository etiquette](http://www.networkupstools.org/docs/developer-guide.chunked/ar01s03.html#_repository_etiquette_and_quality_assurance) concerning "Before pushing your commits upstream" as I'm considering that. :)

Best, Nick

[2015-03-14 16:10] #193 closed

[2015-03-14 16:30] clepple commented on #193
from "repository etiquette": we should probably expand on this: "...but will not work unless you have all the optional libraries and features installed"

We're trying not to maintain that list of dependencies in multiple places, especially across multiple *nix distributions. The documentation should probably say to look at the list at the end of the output of ./configure

[2015-03-16 23:23] clepple opened #195 "Option to ignore FSD in nutdrv_qx?"
From http://article.gmane.org/gmane.comp.monitoring.nut.devel/6876:

As a result, the system shuts down immediately.

@zykh, any thoughts on this? Did I overlook some other option which could help? (We can't use override.* because that will mask all of `ups.status`)

[2015-03-17 10:02] sliverc commented on #148
Finally got around to test this using version 2.7.1 which was packaged for my distribution.

Test was successful. Also turning off of beeper worked with upscmd.

upsc:
battery.charge: 100
battery.energysave: no
battery.packs: 1
battery.runtime: 15480
battery.voltage: 41.00
battery.voltage.nominal: 36.0
device.model: W1K
device.type: ups
driver.name: nutdrv_qx
driver.parameter.alarm_control: disabl

[2015-03-17 23:02] zykh commented on #148
Thanks! - committed to DDL and HCL.

[2015-03-17 23:02] #148 closed

[2015-03-19 16:34] aquette opened #196 "battery.charger.status need documentation"
as per commit https://github.com/networkupstools/nut/commit/89fe26d890294b5b1a0002ecc4676110016d3433

The battery charger status are:
* charging
* discharging
* floating
* resting

As for ups.status, this will need documentation in both the user manual and a link from the NUT namespace.

This must be consolidated with PR #158 and especially the comment on collision with ups.status CHRG / DISCHRG s

[2015-03-21 22:41] zykh commented on #195
Looked at the logs and just added 'ignoresab' (IGNORE 'Status Active' Bit) flag in nutdrv_qx - this should do the trick.

[2015-03-21 22:41] #195 closed

[2015-03-28 13:58] #161 closed

[2015-03-28 14:00] #189 closed

[2015-03-31 07:19] yclauzel opened #197 "upsc on ePDU show ups.status only (snmp)"
@aquette
Tried on a 2 eaton ePDUs G2 and G3.
Simple conf :
[epdu-name]
  driver = snmp-ups
  port = ip address

"upsc epdu-name" return "ups.status: WAIT"

ePDUs' web interface are working well.

[2015-03-31 13:37] aquette commented on #197
This bug cause the ePDU support to not be working at all, with ePDU that have many outlets.

I've identified the issue to be linked to the nonblocking I/O and O_NODELAY.
The issue being exactly that the driver sends too many data while upsd doesn't consume these.
The code is isolated to:
https://github.com/networkupstools/nut/blob/master/drivers/dstate.c#L240
up to L.256

Worth creating a "nonbloc

[2015-04-01 13:19] aquette commented on #197
Seems good to me for merging and fixing this issue.
It would however need more testing, to ensure non-regression and that performance are still satisfactory.
@clepple , @zykh ... feedback and comments appreciated...

[2015-04-02 00:08] zykh commented on #197
At a quick glance it seems good.

Just one thing...
Is 'synchronous' meant to be a flag (looking at the code, it seems so, but it's not completely clear reading the man -or I just need to sleep- as it says both that it's flag and that the value defaults to 'no')? If so:
- then the per-driver thing (https://github.com/networkupstools/nut/blob/9b9133fca4d2d41ba86b0be26b4bd838f0db4156/drivers/main.c#

[2015-04-02 08:43] Nefelim4ag opened #198 "Windows documentation improvements (was windows port can't use port upper 9)"
Good time of day, on my setup i've 36 bugged ups, he won't work throught usd.
I've tried setup 6x Com cards on linux, and get some troubles =\
i've setup it on windows and it working not bad, but in code of NUT, hardcoded to support only first 9 com port, but i have COM{1..36} =[

P.S. I listen ports throught putty, all 36 ports are working
P.S. P.S. I've IPPON 3000 i.e. i use blazer_ser driver

[2015-04-02 09:12] Nefelim4ag commented on #198
I think what problem in
drivers/serial.c:
127: int ser_open_nf(const char *port)

{
	int	fd;

	fd = open(port, O_RDWR | O_NOCTTY | O_EXCL | O_NONBLOCK);

Function open, can't open ports upper COM9, but i can't find where open defined or mappend for win =\

[2015-04-02 12:11] aquette commented on #198
here is the logic followed:
https://github.com/networkupstools/nut/blob/WindowsPort-v2.6.5-6/drivers/serial.c#L140
https://github.com/networkupstools/nut/blob/WindowsPort-v2.6.5-6/drivers/serial.h#L99
https://github.com/networkupstools/nut/blob/WindowsPort-v2.6.5-6/common/wincompat.c#L661

however, I'm still failing to see where this limitation to COM9 max could come from...

@Nefelim4ag could you

[2015-04-02 12:34] clepple commented on #198
Due to the escaping in the NUT configuration parser, I think you will need to use `"\\\\.\\COM10"`

[2015-04-02 13:02] Nefelim4ag commented on #198
Guys, you are genious!

[2015-04-07 07:12] aquette commented on #198
Reopening, so that we track some documentation and examples improvements to deal with such Windows specific points.

@Nefelim4ag : would you be kind enough to support us through this process?
I would first need the confirmation of the exact syntax you've used, as per @clepple comment above.
i.e. *\.\COM10* or *\\\\.\\COM10*

[2015-04-07 14:15] yclauzel opened #200 "nut-server doen't start if devices are disconnected"
@aquette
If some devices are disconnected, the nut-server service will not start as nut-driver will end with an issue ans is required in /lib/systemd/system/nut-server.service
This leads to :
 - We don't know what happened (just nut-driver didn't start)
 - We can't monitor any devices (even ones which are connected)

[2015-04-08 13:04] aquette commented on #200
Letter case issue, preventing from auto-closing the bug!
Actually closing manually...

[2015-04-08 13:25] aquette opened #201 "Cleanup and complete Eaton XML v3 support / mge-xml code"
In a commit from Vasek (https://github.com/networkupstools/nut/commit/7b16fac42c77cd23cfb70df023658e5ee8812456), a number of raw protocol variables were added to publication, infringing the NUT namespace.
Moreover, ABM support is not present along with probably more of the recent features (Energy Saving and more)

[2015-04-08 13:42] #197 closed

[2015-04-11 20:18] clepple commented on #190
Fixed in 2e3fb645.

[2015-04-11 20:18] #190 closed

[2015-04-11 20:19] clepple opened #202 "upsd + OpenSSL + OS X: error on initial SSL handshake"
Built NUT 2.7.2+ (2e3fb64) on OS X 10.9 with OpenSSL 0.9.8zd (vendor-provided) and OpenSSL 1.0.2a (Fink). Followed SSL setup instructions to create dummy server certificate. `upsd` does not fully accept connections:

`upsd[27047]: Unknown return value from SSL_accept: Resource temporarily unavailable`

And `upsc` shows the following:
[code]

[2015-04-13 20:39] arthurdeco opened #203 "[HCL] Powercool 350VA to 1600VA USB supported by nutdrv_atcl_usb"
Hi Guys,

Been banging my head against this issue for many days now & I think I've got a handle on it.
Tried every driver in the apt- repository list, failed every one even with lots of variations.
lsusb verbose gave some clues - suggesting atcl (but blazer didn't work, close but no cigar).
More searching suggested driver "nutdrv_atcl_usb" but it's not in the ap package
So a steep learning curve o

[2015-04-14 00:26] clepple commented on #203
Debian or Ubuntu? If the latter, there is a PPA that I plan to update every now and then: https://launchpad.net/~clepple/+archive/ubuntu/nut

For Debian, you might want to request a backport of NUT.

For future reference, we have the archives for the email lists linked from the main NUT website - compiling debs has come up a few times.

Have you had a chance to test the shutdown function? I realiz

[2015-04-14 01:24] clepple opened #204 "fix use of integer abs() with floating-point arguments"
a recent clang update uncovered some warnings that have been around for a while:

[code]

Testing might be needed to make sure we are not making things worse by fixing this.

[2015-04-16 20:22] arthurdeco commented on #203
Hi clepple,

thanks hugely for replying, I was feeling really lost back there!
It's ubuntu trusty, so I will give your PPA a go I think...after removing all of my rubbish workings (just like me doing diy in the house I always leave stuff lying around...).

I tried the -k option & it didn't shutdown the ups.
Any other info you need from me?

Thanks again - I'll have a go at th PPA at the weekend &

[2015-04-18 14:55] clepple commented on #203
@arthurdeco I forgot to mention that the UPS has to be on battery for "-k" to work. (This is a potential problem if the power comes back after NUT starts to shut down.)

Check the bottom of http://www.networkupstools.org/stable-hcl.html for what we would like for the HCL. For your UPS, I think it will mostly be the `upsc` output.

[2015-04-21 15:27] zykh opened #206 "SEC driver"
At the moment, SEC protocol \[1] is only (partially) supported by gamatronic driver \[2] (and only if the device ends messages with a CR - not a standard feature) \[3].

So, I think it's worth adding a new driver ('nutdrv_sec') with various subdrivers (à la usbhid-ups/nutdrv_qx/...), to support:

* standard SEC protocol,
* gamatronic flavour,
* voltronic P35 and P36 protocols.

The driver needs to

[2015-05-04 21:59] rdoursenaud commented on #200
This change apparently broke my (Arch Linux) install.
Since nut-driver.service does not have an install section, is not required and has StopWhenUnneeded=yes it bails out leaving no access to the device.

[2015-05-05 07:41] aquette commented on #182
Update: I'm working on a v1.1 (considering the initial proposal as v1).
It will add the various points from @clepple , @balooloo and @zykh (btw, thanks for the feedback).
However, for now, we (Eaton, pinging @jimklimov) will probably start working on supporting the v1 for a PoC (proof-of-concept) and actual / practical testing through a trial-by-fire.

[2015-05-05 13:12] aquette commented on #200
@rdoursenaud : thx for your report.
As per http://www.freedesktop.org/software/systemd/man/systemd.unit.html, could you test the following and feedback:
Wants=nut-driver.service

Since *Wants* is weaker, failing to start one or more driver should result in having upsd (nut-server.service) still starting ( @yclauzel : pinging for Debian test thx)

[2015-05-05 13:17] rdoursenaud commented on #200
Just tested, works a treat!

[2015-05-05 13:42] yclauzel commented on #200
Tested on debian-jessie. Works well.

[2015-05-07 13:36] aquette commented on #200
Thanks @rdoursenaud and @yclauzel.
I'm committing the fix and will be closing back again the issue.

[2015-05-07 13:43] #200 closed

[2015-05-20 10:56] aquette opened #208 "Another systemd behavior regression (WRT sysV) with drivers startup"
following #200, @yclauzel has found another minor bug in the NUT driver startup flow, that is a behavior regression considering the previous sysV init one:
When 1 driver, at least, fails to start, upsdrvctl currently returns EXIT_FAILURE.
This results in systemd considering the whole nut-driver unit to have failed, and in turn nut-server unit is not started.
Previously, driver(s) were started in b

[2015-05-20 11:59] aquette commented on #208
branch available for review: https://github.com/networkupstools/nut/tree/upsdrvctl_partial_error

[2015-05-20 12:21] aquette opened #209 "systemd improvements and better integration"
Following the switch to systemd, a number of behavior regression have been identified and addressed (#200 and #208 particularly).

However, there are more visible improvements that can be addressed too, such as:
- ensure that systemd does well handle the UPS shutdown (upsdrvctl shutdown). This is not that obvious currently and is the main point of UPS protection systems! This probably requires a d

[2015-05-20 12:39] aquette opened #210 "RFC: iPDU status field (ipdu.status)"
First, "pdu" device.type should be renamed to "ipdu". PDUs (aka MDU: Main Distribution Unit) are not communicating devices, and what we support in NUT is really iPDU (intelligent) aka ePDU aka rPDU (rack).

2nd: create a “ipdu.status” (and/or (mapped to) device.status) data that would summarize the ePDU outlets status.
For example with a 48 outlets ipdu:
    device.status: 1-12=on;13-33=off;34-48=

[2015-05-21 10:55] yclauzel commented on #208
I'm really interested into this one.
Things are working fine in a good environement but this fix should improve NUT robustness.

[2015-05-21 15:42] bigon commented on #208
One of the option could be to add some systemd specific functionality using sd_notify() http://www.freedesktop.org/software/systemd/man/sd_notify.html ??

[2015-05-22 12:36] clepple commented on #208
I have no opinions on the implementation yet, but we really need a section in the manual for systemd - especially since there are going to be several variations of the service files as installed by the various distributions.

[2015-06-04 19:34] zykh opened #211 "Abstract/align debug levels"
At the moment, we have:
* upslog* functions [1], which take as first argument one of syslog #defined priorities [2];
* upsdebug* functions [3], which take as first argument an arbitrary debug level.

That arbitrariness means we have, mainly in drivers, but in other places too, wildly differentiated debug levels.
As long as you are familiar with/remember the source, all's well, but when you venture

[2015-06-04 19:38] zykh opened #212 "Document source code"
At the moment our source code is mainly documented with plain text comments, which is fine, but we could use *everywhere* one of the syntaxes out there (doxygen?) to promote clarity.
Plus, the autogenerated documentation (given our codebase, I'm not sure it would work just out of the box) would act nicely as a complement to our developer guide.

Thoughts?

[2015-06-05 02:12] clepple commented on #212
In general, I think it's a good idea. The closer the developer documentation is to the code, the better (IMHO). Someone has even parsed the NUT tree with Doxygen already: http://fossies.org/dox/nut-2.7.3/

My only gripe with Doxygen is that it is really more suited for cross-referencing the functions of a single program: if you have a tree with more than one `main()` , for instance, the forward li

[2015-07-18 22:35] zykh opened #216 "Command-line options"
Drivers - `a` option:
- it overrides everything passed before with ups.conf settings, while command-line options should take precedence (right?);
- only the first invocation has the expected behaviour: subsequent calls inherit previous calls' ups.conf settings.

All executables:
- should we accept multiple invocations of the same option (apart from `x`, `D` and `q`) or should we fail (or atleast w

[2015-07-18 22:37] zykh opened #217 "Drivers/ups.conf options"
- Global/main.c options (mostly) blindly accept what you feed them: we don't really check whether they are flags or if required value is present.
- Leftovers global directives are not checked, you can write whatever you want, it won't fail.
- Whether an entry is a flag or a variable is ups.conf(/-x)-decided: it should be instead driver (vartab) dependent.
- We should check that overrides/defaults

[2015-07-18 22:55] zykh commented on #212
I looked a bit more deeply at Natural Docs: while syntax is fine (and it should be easily extensible to support other languages), the same doesn't seem to be the case for the tool:
- stable version (Perl, 4 years and counting), if I read that right, won't be developed any longer;
- new version (C#) is not officially released yet - if I recall correctly, there was a link to a compiled version (acco

[2015-07-20 09:34] balooloo commented on #212
Javadoc is the well-known wide-adopted format, so I think it is a good idea to adopt it.

Doxygen has advantages and disadvantages. And it is widely used and maintained.
And grouping symbols using tags (or similar) can be a first step to move head.

[2015-07-23 01:48] tas50 opened #218 "TRIPP LITE not removed from model name on SMART500RT1U"
I have a Tripp Lite SMART500RT1U.  In the upsc output the manufacturer is correctly identified, but TRIPP LITE isn't stripped from the model name correctly.

ups.mfr: Tripp Lite
ups.model: TRIPP LITE SMART500RT1U

There seems to be a function in the driver that attempts to strip this out, but it doesn't appear to work on this model:

	/* trim "TRIPP LITE" from beginning of model */
	model = strdup

[2015-07-23 03:03] clepple commented on #218
Would you mind writing and testing a patch to extend this to include the constant "TRIPP LITE" as well as hd->Product? (We'll leave the latter in case there is an OEM version.)

Thanks,
- Charles Lepple

[2015-07-23 12:21] clepple commented on #212
@balooloo think of the Doxygen tag files as documentation "libraries", rather than markup tags. You would run Doxygen once with the common driver files, and generate a tag file from that. Then, each driver would refer to the tag file.

[2015-07-23 13:55] balooloo commented on #212
A documentation system I saw some month ago is "docurium" (
https://github.com/libgit2/docurium). It is a specific documentation system
developed for the library libgit2. The result is amazing :
https://libgit2.github.com/libgit2/ .
The feature which caught my attention is the source versionning support.
When you choose a symbol, you can see its history and you can select one
specific version to h

[2015-07-23 23:06] vporton opened #219 "Lost connection"
Below is a part of a terminal output on Debian Linux "testing" ("stretch") with Linux 4.0.0-2-686-pae.

NUT 2.7.2-4

---

Broadcast message from nut@victor.local (somewhere) (Fri Jul 24 01:59:52 2015):

Communications with UPS advice@localhost lost

Broadcast message from nut@victor.local (somewhere) (Fri Jul 24 01:59:57 2015):

Communications with UPS advice@localhost established

Broadcast messa

[2015-07-23 23:15] clepple commented on #219
Not unexpected-- many UPSes have connectivity issues. Which driver?

I've been meaning to write up some examples of using upssched to filter short-duration power and communication events, but there are some ideas in the documentation.

[2015-07-24 09:05] vporton commented on #219
On Thu, 2015-07-23 at 16:15 -0700, Charles Lepple wrote:

/etc/nut/ups.conf:
    driver = blazer_usb
Rebooting the computer helps.

--
Victor Porton - http://portonvictor.org

[2015-07-25 12:55] clepple opened #222 "Extend `make spellcheck` to cover files outside of `docs/`"
Might be able to go with a static list of files:

 * README
 * NEWS
 * UPGRADING
 * (edit as needed)

Reference: #221

[2015-07-26 15:12] clepple commented on #217
While I would generally agree that the command-line parsing is not NUT's strong suit, I think the majority of these items could be addressed by simply logging messages as each option is parsed. If a user changes an option, they would be able to see that in their logs (or not, if the option was mistyped). I am concerned that this would involve a big driver overhaul to keep track of which options ha

[2015-07-26 15:20] clepple commented on #212
@balooloo doctorium looks very interesting. I agree that the symbol version information is useful, however:

I think we can start with the subset of JavaDoc that both Doxygen and doctorium will parse, and test out the other tools in parallel.

[2015-07-28 00:00] zykh commented on #217
Sorry if I wasn't clear, I meant "values to be set".
The following ups.conf section:

[code]

..leads to this upsc output:

[code]

and this command-line:

[code]

..to this upsc output:

[code]

[2015-07-28 00:12] zykh commented on #212
..and it only looks for headers - I think docs from other files would be useful for maintainers.
(and, again, output seems limited)

However, I second Charles:

[2015-07-28 02:32] clepple commented on #217
ah, I was really confused - the examples help!

I have no strong feelings either way. Agreed that we could do better, but I still think that we could avoid this by adding some more logging to clarify whether the options are being parsed as the user intended.

I suppose this issue could also be fixed in such a way that wouldn't require too many code changes to the drivers, but I admit I haven't tho

[2015-07-30 01:00] Bierysowihe-Kleschnie opened #224 "Broadcasts break pseudographical programms"
Maybe broadcast messages are effective way to attract user's attention, but they are very destructive and must be avoided. Information about lost connection is not important enough to make user restart all pseudographical programms like Vim, Alsamixer, Top, MOC, Less, Man, Tmux and many other. Not all of them support repainting on Ctrl+L.

I think, destuctive behaviour should be disabled by defaul

[2015-08-03 12:44] clepple commented on #224
However, using `mesg n` should work in those cases.

I think it's important for users to know how reliable the connection is. If it is not reliable, but can be tolerated, then the configuration file can be changed.

[2015-08-07 08:51] #184 closed

[2015-08-07 09:35] aquette opened #227 "libnutclient: provide a comprehensive example and unit tests"
As discussed in ticket #225 , there is currently no comprehensive example on how to use libnutclient.
Moreover, as mentioned by @clepple , this could also serve to create some unit tests.

[2015-08-18 23:38] clepple commented on #138
Seems to be an issue on FreeBSD 10.2: http://article.gmane.org/gmane.comp.monitoring.nut.user/9286

[2015-08-20 12:52] aquette commented on #201
To be commented in https://github.com/networkupstools/nut/blob/master/drivers/mge-xml.c from L582 up to L852
=> All System.*, Environment.*
Quickly looking, nothing seems to be interesting to map (already mapped data)

[2015-08-21 13:52] clepple commented on #211
@zykh hopefully you've had a chance to eat since you first posted this ;-)

Seriously, though - I think the general idea is good, but if we are going to make sweeping changes, it might be good to standardize on some debug codes that represent what we are trying to debug. For instance, a lot of our serial drivers deal with issues at the byte level, as well as at the packet level. Then, there is the

[2015-08-25 18:02] rpvelloso opened #231 "APC BackUPS 1200 BR - Rebranded Microsol Solis, wrong packet size, driver not working"
The solis.c driver reads packets of size 25, but I'd sniffed some packets from my usb/serial port and got this:

BA6E88AE0001A49200291E0100000000000E984960609FFE
BA6D88AE0001A493002A1E0100000000000E98496060A0FE
BA6D88AE0001A496002B1E0100000000000E98496060A4FE
BA6D88AE0001A48E002C1E0100000000000E984960609DFE
BA6E88AE0001A491002D1E0100000000000E98496060A2FE
... (goes on)
BA6D87AE0001A48A000C1F010000

[2015-08-25 18:27] rpvelloso commented on #231
Another observation: the detection loop reads at most 20 packets and attempts to detect the model at each packet. Shouldn't it read, one byte at a time, at most "packet_size" bytes until 0xFE is found, then fail detection if 0xFE not found or attempt detection on the next "packet_size" bytes if 0xFE is found? Also, I think this driver could be modified to work with delimited packets instead of fix

[2015-08-25 19:37] rpvelloso commented on #231
The checksum byte appears to be in the same relative position as in the 25 bytes packet (before the last byte 0xFE), but always yelds a value with a difference of -19 (-0x13) with the computed checksum:
packet: BA6E88AE0001A49200291E0100000000000E98496060 [9F] FE
checksum: BA+6E+88+AE+00+01+A4+92+00+29+1E+01+00+00+00+00+00+0E+98+49+60+60 = 9F-13

Tested with several packets with same results.

Dri

[2015-08-25 22:47] clepple commented on #231
There is a similar thread on the nut-upsuser list at the moment: see [Gmane](http://article.gmane.org/gmane.comp.monitoring.nut.user/9321) or [Alioth](http://lists.alioth.debian.org/pipermail/nut-upsuser/2015-August/009824.html). Hopefully you saw the recently-pushed [solis_debug branch](https://github.com/networkupstools/nut/tree/solis_debug) - let me know if you have suggestions on how to better

[2015-08-26 00:42] rpvelloso commented on #231
That did it (stty raw) :D The checksum and packet size are now correct. Is there a way to put this stty call (ioctl() ???) inside the driver?

The solis.c code, however, is not 100%, sometimes it detects the UPS, sometimes it doesn't, that "while" loop should be corrected or something...

packet sniffed via cu:
ba;6e;89;ae;00;02;a4;9e;00;16;2c;05;02;00;00;00;00;00;0f;98;49;60;60;9c;fe

[2015-08-26 01:20] clepple commented on #176
@mike-s123 can you try this pull request? https://github.com/networkupstools/nut/pull/228

[2015-08-26 01:55] clepple commented on #231
Well, raw mode should get set at the same time as the baud rate: https://github.com/networkupstools/nut/blob/master/drivers/serial.c#L163

After unplugging and plugging the USB cable in again, what does `stty -a -f /dev/cuaU0` print?

Want to give it a try? I suspect that a lot of the read loops can be replaced with `ser_get_line()` with 0xFE as the end character: https://github.com/networkupstool

[2015-08-26 02:03] rpvelloso commented on #231
Already trying, thanks for the info. After testing I'll submit the diff.

2015-08-25 22:55 GMT-03:00 Charles Lepple <notifications@github.com>:

[2015-08-26 02:29] rpvelloso commented on #231
I've made minimum changes to the source, and commented out the original
code. Tested in my system and it promptly identifies the UPS now. There are
some errors in the messages, too. And your suggestion for ser_get_line()
with 0xFE should definitly be done... but maybe in the future :)

Any chance this patch will appear soon in a release? Don't want to do it
manually everyitme I update my FreeNAS b

[2015-08-26 11:39] clepple commented on #231
Cool. What about the output of 'stty -a -f /dev/cuaU0'?

[2015-08-26 12:10] rpvelloso commented on #231
Just tested automatic shutdown on power failure, works perfect. On system
restart the driver is also loading, automatic, without problems, I guess
NUT is correctly setting RAW mode on the device. It's working from FreeNAS
GUI too, changed service config, started, stopped and restarted, no
trouble.

Some Microsol-APC models have different serial interfaces, would be nice if
someone could test this

[2015-08-27 20:21] rpvelloso commented on #231
Charles,

How can I commit the changes I've done? Never contributed before...

[2015-08-28 12:42] clepple commented on #231
See http://www.networkupstools.org/docs/developer-guide.chunked/ especially sections 3.4 and 3.6.

But I really don't think we have figured out the stty issue yet, and your patch only addresses initial detection.

[2015-08-28 14:47] rpvelloso commented on #231
What stty issue? I'm running the driver directly, without running stty to
set raw mode, NUT is setting it correctly when the device is opened,
or else, packets wouldn't be read correctly, but that's not the case, 'cause the driver is signaling the OS when line/battery status change. Only the voltage readings remain incorrect.

[2015-08-28 15:00] rpvelloso commented on #231
Shouldn't we make the driver functional ASAP and then refactor the code?

[2015-09-03 12:57] clepple opened #232 "nutclient: stringset_to_strarr() and stringvector_to_strarr() only work for one element"
reported by Paul Vermeer: http://article.gmane.org/gmane.comp.monitoring.nut.user/9331

[2015-09-09 02:30] clepple commented on #231
@rpvelloso I retract my suggestion about `ser_get_line()` - it doesn't quite line up. (I still think there should be a solis-specific call like that, though, since it is possible for the driver to get out of sync later.) So I merged your patch with some other cleanup that I had locally. Pushed to "solis_debug" branch just now.

Not sure I knew about the voltage readings. What is wrong?

[2015-09-09 16:48] rpvelloso commented on #231
Great,

Voltage values are calculated correctly for Microsol branded UPS(*), but they are incorrect for APC branded UPS (upsc shows incorrect values). The values are, probably, encoded differently in APC model.

About the driver desync, could this be due to calling 'ser_flush_in()'? After syncronizing (detection) the serial port shouldn't be flushed ever. If part of a packet get's flushed, then th

[2015-09-12 22:10] clepple commented on #126
starting on `upsd` and `upsmon` scripts: https://github.com/networkupstools/nut/tree/osx_launchd

[2015-09-14 12:04] bsalvador commented on #231
Hello guys,
I have the APC Branded Microsol that uses the FTDI USB-Serial cable.
At the time I did some changes on the solis.c in order just to know if the UPS was online or not.
The values are displayed totally wrong today.
Now I see the need to get those values correctly, and the idea is to build a new driver based on solis.c.

Rpvelloso, did you figured out the package bytes struct? I believe t

[2015-09-14 15:21] rpvelloso commented on #231
Burno,

It's the same driver for your model and mine. Only difference is the serial interface. The packet appears to have the same structure as in solis.c, although the voltages doesn't show up correct.

[2015-09-15 04:41] bsalvador commented on #231
I have done some reverse engineering in the SGM software and discovered few things
byte[0] is the UPS model, 0xBA is internally called: STAY700_USB.

I have done a quick code, it is very messy, in order to parse the received bytes.
###The code is not ready yet, the values are not matching, and not finalized.###

Also I have included the source for the supplier software management, it is in Java an

[2015-09-15 10:41] j-ed opened #233 "nut-scanner depends on development files"
I've just compiled the latest nut v2.7.3 without any issues. As I tried to use the nut-scanner tool, the following messages were shown on the screen:
[code]
The libraries are definitely available on my system, therefore I used strace to identify the root cause of the problem. I found out that the program tries to load `libusb.so`and `libneon.so`, which are usually part of the development files and

[2015-09-17 07:44] Abyss777 opened #234 "IPPON BCP600 on Windows 8.1"
I'm trying to make it work. I've installed official msi package. Driver did not want to install by msi, but installed successfully manually.
[code]
I'm trying to start driver, but get:
[code]
win error translates as "Claimed resource is busy"

Original application is uninstalled, nobody can occupy usb device.

I can find similar problems connected to udev, but it is Windows.

How to fix it?

[2015-09-17 11:26] Abyss777 commented on #234
My apologize for the wrong problem describing. I've made it work.
Because of 'Out of memory' bug because of 'IPv6' bug discussed here http://lists.alioth.debian.org/pipermail/nut-upsuser/2015-January/009508.html upsd crashed and did not release usb device (seems to me).

I'have to bind upsd on 0.0.0.0 and reboot and nut works.

[2015-09-17 11:26] #234 closed

[2015-10-05 13:17] fiery- opened #238 "[HCL] Eaton E Series DX UPS 1-20 kVA partially supported by blazer_ser"
Link to product page:
http://www.eaton.com/Eaton/ESeriesUPS/DXUPS/

upsc
[code]
upscmd -l
[code]
- Current HCL states that Eaton DX is supported by **mge-utalk**, which is not correct (tested with latest mge-utalk driver v2.7.3 compiled from src.rpm for Fedora).
- blazer_ser driver is v2.7.3 on CentOS 6.6 (NUT v2.6.5 is available on EPEL repository).
- We use upssched command to shutdown the machi

[2015-10-06 02:03] clepple commented on #238
tagging @aquette - is there an issue with sub-60-second shutdown delays on this model?

[2015-10-06 13:47] fiery- commented on #238
As far as I understand, your question is if setting *ups.delay.shutdown* over 1 min. makes any difference?

According to the current *blazer.c* code, **shutdown.return** may send four different 'SnRm'  commands (the current one seems to be 'S.5R0003', which doesn't work). *ondelay* and *offdelay* are static variables and most probably I should recompile with different values. Do you know how exact

[2015-10-07 01:25] clepple commented on #238
@fiery- if you have tested that, it would be interesting to know. I tagged Arno to see if he had any additional information from Eaton.

Add `-x offdelay=60` to the command line. (From the output of `blazer_ser -h`)

[2015-10-09 14:56] #192 closed

[2015-10-14 22:45] zykh commented on #238
mmh... reading this and the mentioned topic, my best guess is that the shutdown sequence triggered by the `FSD` flag didn't work because the `C` command failed - it should now be fixed (since d079be2e4aab3c1999d99e87d70de5ee24309a31, landed in 2.7.1).
@fiery-, did you have a chance to test the shutdown sequence with current blazer_ser/nutdrv_qx? Do you still have problems?

[2015-10-17 17:09] fiery- commented on #238
All my previous tests was with v2.6.5, so it's either the 'S.5R0003' command or the problem which you've fixed in v2.7.1.
I recompiled the blaser v2.7.3 driver with hard coded "S01R0003" shutdown command in blazer.c. In the schedule script I put a "upscmd -u <user> -p <password> ups@localhost shutdown.return" command instead of "upsmon -c fsd".  Now, I'm waiting a power outage (it's a production s

[2015-10-25 17:35] fiery- commented on #238
I can confirm that Eaton DX shutdown.return works properly with blazer_ser driver v2.7.3 (I modified blazer.c with a hard coded "S01R0003" shutdown command, may be `-x offdelay=60` command line option will do the same).  In the schedule script I put "upsmon -c fsd" as in first test and this time UPS offloaded and then started the attached computer just fine. The change comes either from the fix in

[2015-11-03 03:40] clepple opened #239 "genericups: check for TIOCM_* at configure time"
Causes issues on Cygwin, where TIOCM_LE, TIOCM_ST and TIOCM_SR are not defined:

http://article.gmane.org/gmane.comp.monitoring.nut.devel/7097

[2015-11-03 04:27] clepple opened #240 "usbhid-ups: configurable high/low priority variables and timeouts"
Some UPSes have trouble consistently returning values for certain reports. In particular, the Tripp Lite 3016 protocol UPSes (SMART1500LCDT, etc) often return EPIPE for one or more polling cycles.

If a value is being relied upon for calculations (e.g. time remaining for early shutdown), there should be a way to specify that the value is more important, and that it is an error if it cannot be retr

[2015-11-08 17:37] superlinux opened #241 "[HCL] <Electrys> <UPS 2500> supported by <blazer_ser>"
I am here just to report a UPS that works on NUT 2.7 from a company here in Beirut, Lebanon called Electrys. website is :  http://www.electrys.net . UPS Model is : Electrys UPS2500 . It uses the megatech protocol. Please list this UPS in the HCL page.
here is the proof in this YouTube video that it works with the configuration steps:
https://www.youtube.com/watch?v=cn3DQ0ns9aQ

[2015-11-10 13:42] clepple commented on #241
Thanks for the information. Does it also work with the newer [nutdrv_qx](http://www.networkupstools.org/docs/man/nutdrv_qx.html) driver? (nutdrv_qx parameters are a little different, but more consistent -- seconds instead of minutes, etc.)

[2015-11-10 13:44] superlinux commented on #241
I will have to see. I was really lucky that it worked with blazer_ser.

[2015-11-10 13:53] superlinux commented on #241
OK! I can confirm that nutdrv_qx works. just replace :
driver=blazer_ser
with :
driver=nutdrv_qx
nothing else has to be done.

[2015-11-10 14:41] superlinux commented on #241
here is the proof it's working. watch this video.
https://www.youtube.com/watch?v=zb0CPkV6Pg8

[2015-11-10 17:02] superlinux commented on #241
Hi. I just want to confirm that you saw the second video. thanks.

[2015-11-11 03:39] #238 closed

[2015-11-11 03:39] #241 closed

[2015-11-11 03:57] clepple commented on #241
@superlinux thanks, I just posted the first video to the nut-upsusers email list.

Also, if you want to provide additional information on your UPS, we are assembling a more detailed version of the HCL that includes the upsc output, as well as upscmd and upsrw: http://buildbot.networkupstools.org/~buildbot/cayman/docs/latest/ddl/#basic-syntax

Feel free to either reopen this issue, or file a new on

[2015-11-11 07:57] superlinux commented on #241
Hi again.
There is another UPS from a company named PCE , I hope I can snipe and hunt it down. It uses a USB cable similar to the ones given to inkjet printers.
These ones actually:
http://www.pceups.com/products/ups/line-interactive/m8

[2015-11-15 07:43] grumbler66rus opened #242 "NUT with IPPON Back Pro and Smart Winner"
The blazer_USB peridocally looses connection with several IPPON UPS:
- IPPON Back Pro (desktop UPS)
- IPPON Smart Winner (rackmount UPS)

I make workaround: the script called by upsmon daemon (the token "NOTIFYCMD" of the upsmon.conf), this script unload blazer_usb and load it's again.

The script:
#!/bin/bash
# notifycmdhandler - script for NOTIFYCMD in the upsmon.conf
# It can use the environmen

[2015-11-16 14:07] clepple commented on #242
A few questions:

 • Which version of NUT are you using?
 • What OS/kernel are you using?

This really seems like something that the driver should be able to handle, since it should get an error code from libusb when the UPS disconnects.

Can you try this UPS with nutdrv_qx? It is the successor to the blazer_* drivers.

[2015-11-16 18:30] grumbler66rus commented on #242
NUT  2.6.5
Linux 3.8.13.4-std-def-alt1.M70P.2 x86_64
libusb 1.0.9

I may doing this some time later (it is need to build latest version of
NUT from sources), and I may make this test  with IPPON Back Pro only.

[2015-11-18 03:06] clepple commented on #242
Note that NUT has not been tested as extensively with libusb-1.x and libusb-compat (versus libusb-0.1.x). It should work, but since it is not easy to simulate USB errors, the equivalent error-handling code has not been exercised as much.

With either nutdrv_qx or blazer_usb, you can kill the driver process, and start it manually (not via upsdrvctl) with extra -D flags to try to catch the error mes

[2015-11-18 03:09] clepple opened #243 "Reduce logging frequency for upsd-driver comms issues"
From Larry Baker via <http://lists.alioth.debian.org/pipermail/nut-upsdev/2015-October/007105.html>:

[2015-11-18 03:12] clepple opened #244 "Reduce logging frequency for upsmon-upsd comms issues"
Slightly different than #243.

From Larry Baker via <http://lists.alioth.debian.org/pipermail/nut-upsdev/2015-October/007104.html>:

...

[2015-11-18 21:49] ikus060 opened #245 "Wrong data for PowerCom KIN2200 (new model)"
I have two KIN2200. The newer one, seams to have different output:

New Model:
[code]

Old Model:
[code]

Look like alot of stuff is different in this version.

[2015-11-18 22:27] ikus060 commented on #245
After a deep look into the data `5 0xff (�)`. It seams the powercom driver should have detect this as an IMP. instead of a KIN. But I'm running v0.13 (not 0.15). Will try to compile newer powercom driver and test again.

[2015-11-22 06:41] grumbler66rus commented on #242
I runned blazer_usb:
    /lib/nut/blazer_usb -a IPPON -r /var/lib/nut -u upsdrv -DDDD
Result:
...
293767.586757	send: Q1
293767.836896	read: (227.2 227.6 227.6 013 50.1 13.5 25.0 00001001
293769.628938	send: No such device or address
293769.628979	blazer_status: short reply
293769.628985	Communications with UPS lost: status read failed!
293771.598680	Checking device (8087/0024) (001/002)
293771.59

[2015-11-23 01:11] jeffsf commented on #139
I'd definitely like to see this as well, especially as SUA-series APC units that aren't trashed are getting pretty scarce and the SMT-series units are coming down to a reasonable point (finally).

[2015-12-03 05:24] weedy commented on #169
+1
CyberPower is kinda poop

[2015-12-03 13:36] clepple commented on #169
Potentially relevant: http://hidedit.org <http://hidedit.org/>

Does not include some of the UPS-related usage tables, and does not seem to have a way to import hex.

[2015-12-04 03:40] clepple commented on #169
Update on hidedit: turns out it does read in hex descriptors internally (should be able to interpret NUT debug logs with only a little more effort). However, it seems to be interpreting all numbers as big-endian rather than the USB standard little-endian, and it does not interpret signed numbers correctly.

[2015-12-07 23:10] tmcneill30 opened #246 "Securing connections with SSL not working on Solaris 10 x86"
I have compiled versions 2.6.5, 2.7.1 & 2.7.3 and have been unable to implement ssl encryption between upsd and the other processes such as upsmon etc on Solaris 10.

My target machine and build server are running Solaris 10/08 running in 32 bit mode.  Both servers are recently patched.  All other nut functionality is working fine on target server.  I am compiling with gcc, gmake, etc.

My configu

[2015-12-07 23:13] tmcneill30 commented on #246
[config.txt](https://github.com/networkupstools/nut/files/54724/config.txt)

[2015-12-09 13:41] clepple commented on #246
So is the problem limited to a Solaris `upsmon` talking to a Solaris `upsd`, or are there issues interoperating between Solaris and RHEL as well? The version of OpenSSL on RHEL might be useful as well.

Also, if you are debugging the SSL handshake, `upsc` might be easier than `upsmon` to debug, although I don't think it enforces SSL since it is not sending passwords.

I'm wondering if `TLSv1_serve

[2015-12-09 13:43] clepple commented on #169
Starting to address some of the hidedit issues here: https://github.com/clepple/hidedit

[2015-12-10 07:14] sliverc opened #248 "HCL Legrand KEOR MULTIPLUG supported by blazer_usb"
I have successfully tested the Legrand KEOR MULTIPLUG - nut recognized when the UPS is on battery and also when the battery is low whereas a shutdown signal is sent.

Dec  7 10:02:30 maro-1 upsmon[1326]: UPS serverups@localhost battery is low
Dec  7 10:02:30 maro-1 upsmon[1326]: Executing automatic power-fail shutdown
Dec  7 10:02:30 maro-1 upsmon[1326]: Auto logout and shutdown proceeding

Specif

[2015-12-12 00:24] tmcneill30 commented on #246
HI Charles,

Thanks for your response.  I haven’t had time yet to test/research some of your questions.  I haven’t tried connecting to a Solaris upsmon to a RHEL upsd.  We are not interested in doing that but I will try it for your troubleshooting benefit.

I can tell you Solaris upsc also fails to connect to Solaris upsmon.  It fails in the same way, with a  failed ssl handshake.  Once again upsd

[2015-12-12 19:41] clepple commented on #246
Understood that it is not the deliverable configuration, but it is a good consistency check. A quicker test is to just run the RHEL upsc against the Solaris upsd - no extra configuration needed. Solaris upsc to RHEL upsd might also shed some light on the SSL handshake issue.

For future reference, this is how cURL handles things: https://github.com/bagder/curl/blob/master/lib/vtls/openssl.c#L1670

[2015-12-13 15:45] zykh commented on #248
@sliverc, can you test it with nutdrv_qx (preferably with current git HEAD)?

Aehm.. 'beeper.**toggle**', not 'beeper.**toogle**'

[2015-12-16 13:37] sliverc commented on #248
Oops. This explains. OK tested again and the beeper.toggle actually works with blazer_usb and nutdrv_qx.

As it is a production system the UPS is connected I am a bit reluctant to update to git HEAD. I did update to the newest stable release which is available as Debian package (now 2.7.2). Hope this is good enough.

Here are the test details for nutdrv_qx:

upsc:

battery.charge: 100
battery.volt

[2015-12-17 21:26] zykh commented on #248
Added to both HCL and DDL, thanks!

[2015-12-17 21:26] #248 closed

[2015-12-18 11:47] aquette opened #249 "Add AEG UPS"
as per https://www.mail-archive.com/nut-upsdev@lists.alioth.debian.org/msg04120.html

Need the list of supported devices, with names, to update the HCL (http://www.networkupstools.org/stable-hcl.html), to differentiate from already supported AEG devices:
http://www.networkupstools.org/stable-hcl.html?Manufacturer=AEG%20Power%20Solutions

[2015-12-21 02:33] CindyZhan2015 commented on #249
I'm not sure whether model names is the information do need.
Model names: PROTECT NAS, PROTECT B

[2015-12-22 01:53] tmcneill30 commented on #246
Sorry about the delay.  I’m the usual almost overwhelmed systems engineer.

With certificates enabled, I ran a Solaris upsc against a RHEL upsd.  I did not receive a handshake failure.  Rather it said connected with ssl.

I then ran a RHEL upsc against a Solaris upsd and received the usual ssl handshake failure.  Once again, the handshake blows up right away. The server receives the hello and thro

[2015-12-22 02:30] clepple commented on #246
Thanks, this is a good sanity check on the client side of the Solaris SSL library.

Not quite "TLSv2":

TLSv1_2_server_method()

The name "TLSv1_2" comes from "TLS v1.2", but it is munged into a C-compatible namespace.

[...]

It's been a while since I used the Solaris compiler/linker, but I think that the "-L" flags are parsed left-to-right (assuming they don't need to be split up into multiple -

[2015-12-22 02:46] clepple commented on #246
https://en.wikipedia.org/wiki/OpenSSL says that TLSv1.2 was introduced in 1.0.1, so if the /usr/sfw/lib version is older, that makes sense. You might not even need to change the `TLSv1_2_server_method()` call, just rearrange the library search order.

[2015-12-23 01:54] tmcneill30 commented on #246
Thanks.

I did figure out how to re-order the Linking directories as you can see below.  Unfortunately the compile still fails in the same way.

libtool: link: gcc -I../include -I/usr/local/ssl/include/openssl:/usr/sfw/include/ssl:/usr/include -g -O2 -Wall -Wsign-compare -D_REENTRANT -o upsd upsd.o user.o conf.o netssl.o sstate.o desc.o netget.o netmisc.o netlist.o netuser.o netset.o netinstcmd.o

[2015-12-23 03:34] clepple commented on #246
Something is still putting /usr/sfw/lib first in RUNPATH/RPATH, though.

The problem is that while there is a window of OpenSSL versions where we can expect that things would work (i.e. NUT uses TLS v1.0 support, which apparently hasn't been deprecated in OpenSSL yet  - but NUT's SSL code predates the introduction of TLS v1.2), that doesn't mean that it will automatically work once those condition

[2015-12-23 23:31] tmcneill30 commented on #246
Here is the debug output from Solaris upsd when a connection is attempted  by (.150) upsmon

# ./upsd -DD
25.954192     write: [destfd=6] [len=12] [OK STARTTLS]
  25.956692     Unknown return value from SSL_accept: Resource temporarily unavailable
  25.956883     ssl_error() ret=-1 SSL_ERROR_WANT_READ
  25.957055     mainloop: polling 2 filedescriptors
  25.957510     Disconnect 192.168.72.150 (re

[2015-12-24 02:43] tmcneill30 commented on #246
Attached is truss output for upsd.  I ran a upsc power0@localhost and captured how upsd reacted.

Other than seeing STARTTLS in there, it doesn’t mean much to me.

From: Charles Lepple [mailto:notifications@github.com]
Sent: Tuesday, December 22, 2015 7:34 PM
To: networkupstools/nut
Cc: McNeill, Thomas @ EngilityCorp
Subject: Re: [nut] Securing connections with SSL not working on Solaris 10 x86 (#

[2015-12-24 03:04] clepple commented on #246
Ah, this does look like issue 202: https://github.com/networkupstools/nut/issues/202 <https://github.com/networkupstools/nut/issues/202>

What confuses me is that the code should not get that error there - the file descriptor comes from select(), so it should be ready to read. (I think a short read is a different error code.)

I will try to look at this over the holidays.

This might not be necess

[2015-12-26 22:34] crazytiti opened #251 "[HCL] <SWEEX> <INTELLIGENT UPS 1500VA P220> supported by <blazer_usb>"
SWEEX
INTELLIGENT UPS 1500VA
model P220
http://www.sweex.com/en/notebook-pc-accessoires/ups/PP220/

C:\Program Files (x86)\NUT\bin>upsc ups@127.0.0.1
battery.charge: 12
battery.voltage: 21.40
battery.voltage.high: 26.00
battery.voltage.low: 20.80
battery.voltage.nominal: 24.0
device.type: ups
driver.name: blazer_usb
driver.parameter.pollinterval: 2
driver.parameter.port: auto
driver.version: Windo

[2015-12-28 13:11] aquette commented on #249
these devices are basically rebranded Eaton 5SC, with modified USB VendorID and Strings.

[2015-12-28 13:11] #249 closed

[2015-12-29 09:01] aquette commented on #198
Closing again the ticket, since it's now addressed

[2015-12-29 09:01] #198 closed

[2015-12-29 12:21] aquette commented on #187
@ikus060 : bonjour Patrick.
I'd like to make a branch implementing the above.
However, for the input voltage, do you know where the *iVoltage* data comes from, in the Java implementation?
Also note that I've no such units, so I'd rely on your for the testing...

[2015-12-29 13:55] aquette commented on #187
@ikus060 : I've created a branch (https://github.com/networkupstools/nut/tree/PowerCom-KIN) which includes the tentative fix for both input and output voltages. As mentioned in the commit message and code comments, this may still need some further adjustments (esp. for output).
Thanks for testing and reporting back.

[2015-12-29 19:33] ikus060 commented on #187
Hello,

I'm running debian wheezy. I'm having alot of trouble to get nut compile
from github source code. I can't even get 'autogen.sh' to run properly. Do
you have any recommendation to get the driver compile alone ?

--
Patrik Dufresne

On Tue, Dec 29, 2015 at 8:55 AM, Arnaud Quette <notifications@github.com>
wrote:

[2015-12-29 19:35] ikus060 commented on #187
Forget it, I manage to get it compile. I was missing "libtool" package.

--
Patrik Dufresne

On Tue, Dec 29, 2015 at 2:33 PM, Patrik Dufresne <ikus060@gmail.com> wrote:

[2015-12-29 20:19] ikus060 commented on #187
I have two different revision of KIN2200 that behave differently. See the result:

## Before
[code]

[code]

## After
[code]

[code]
## Debug output
""myups""
[code]

""myusp2""
[code]

[2015-12-29 22:23] ikus060 commented on #187
I was checking further into this issue. I didn't have the same output result for "myups2".
[code]

[code]

Everything seams fine. At least it's better. The output voltage seams a bit high. I guess it's related to the load being very low...

[2015-12-30 03:36] clepple commented on #246
@tmcneill30 please try this patch: https://github.com/networkupstools/nut/commit/f098486803921b8899d4172fff97846428d82c12

@aquette does the Ubuntu QA test cover SSL? Can you please run it with this patch to make sure I didn't break anything? The SSL_accept fix mostly targets the OpenSSL side, but there is one case for a zero-length read.

[2015-12-30 09:50] aquette commented on #187
hi @ikus060 , thanks for your testing and feedback.
If possible, could you please counter check the output voltage with the Java Powercom SW?
That's probably the best way to ensure that the NUT code is now aligned and suitable.
Thanks and cheers, Arno

[2015-12-30 09:57] aquette commented on #245
hi @ikus060 , while looking at #187, I came across the present one. Is it still valid?

[2015-12-30 14:19] ikus060 commented on #245
This ticket is not valid anymore. At least, the output data look ok. The
UPS type is auto detected as IMP instead of KIN.

--
Patrik Dufresne

On Wed, Dec 30, 2015 at 4:57 AM, Arnaud Quette <notifications@github.com>
wrote:

[2015-12-30 20:44] tas50 commented on #218
@clepple Thanks for the reply.  My programming experience ends at Ruby/Bash so this is a bit beyond me. I know enough to read through and determine where the issue is, but not enough to cleanup the problem.  Sorry.

[2015-12-30 21:55] clepple commented on #231
@rpvelloso and @bsalvador, any objections to merging the solis_debug branch? I realize some of the voltages are wrong, but if I recall, the branch works better than the master code.

[2015-12-30 22:37] tas50 opened #252 "Segfault on Ubuntu 14.04 with usbhid-ups on APC Backup-UPS 550G"
It's quite possible I'm doing something horribly wrong here, but here goes nothing.  I have Ubuntu 14.04 with the backported 4.2 kernel and the nut PPA to get nut "2.7.2.9~really2.7.3-2".  I have an APC Back-UPS ES 550G with USB.  I've copied in the UDEV script 62-nut-usbups.rules.  I have the following /etc/nut/ups.conf:

[apc]
	driver = usbhid-ups
	port = auto
	desc = APC Back-UPS BE550G

when I

[2015-12-30 23:40] tas50 commented on #252
Looks like a simple reboot actually fixed this.

[2015-12-30 23:40] #252 closed

[2015-12-31 00:58] clepple commented on #252
In case this happens again, can you also check `/var/log/syslog` for any NUT messages containing "pid"? That code should be pretty solid, but I'll admit that I don't typically test with newer kernels than stock.

[2015-12-31 02:47] bsalvador commented on #231
my opinion, go forward with that.

[2015-12-31 13:57] rpvelloso commented on #231
Charles,

It is, indeed, better than the master branch, but it is not 100%. From time
to time the driver desynchronizes with the UPS and has to be restarted, but
the current version is unusable (at least in my case), so IMO it should be
merged and an issue kept open until this desynchronization problem is
solved.

I'm out of time right now, so I can't deal with this issue right away.

Best,
Robert

[2015-12-31 19:13] clepple commented on #231
Merged `solis_debug` branch to master in 25973d4. We'll leave this issue open.

[2015-12-31 23:59] #202 closed

[2016-01-04 02:28] clepple commented on #251
Does the UPS send `OB LB` when the battery gets low?

[2016-01-04 02:40] garyemiller commented on #171
Tripp-lite has updated the firmware on the SNMPWEBCARD to version 12.06.0067.
a.k.a. v67.  And yes the horrible Java web interface is still there...

The sysObjectID.0 is unchanged:

spidey MIBs # snmpwalk -c publ13 -On  trip1.in.rellim.com sysObjectID.0
.1.3.6.1.2.1.1.2.0 = OID: .1.3.6.1.4.1.850.1
spidey MIBs # snmpwalk -c publ13   trip1.in.rellim.com sysObjectID.0
RFC1213-MIB::sysObjectID.0 = OI

[2016-01-04 14:25] aquette commented on #171
Hi @garyemiller

I've just added the sysOID ".1.3.6.1.4.1.850.1" to the IETF MIB:
https://github.com/networkupstools/nut/commit/9f2fa1816ff2190f318d1544cb0080c104b523b5

Could you also please:
- test that the above patch works fine for you, at least for the
autodetection,
- do an snmpwalk on .1.3.6.1.4.1.850.1 (or .1.3.6.1.4.1.850) to see if
there are some data,
- try the gen-snmp-subdriver.sh scr

[2016-01-04 23:10] crazytiti commented on #251
Yes, i just made some tests :
When online : OL
When on battery : OB
When battery goes low (<7%) OB LB
Last status before shutting down : ALARM OL FSD

[2016-01-05 09:23] #196 closed

[2016-01-05 15:38] thiagowiezbicki opened #254 "[HCL] NHS Laser Senoidal 5000VA supported by gamatronic"
Device Manufacturer: NHS
Device Name: Laser Senoidal 5000VA

upsc output when the UPS is in normal condition:

battery.charge: 100
battery.current: 0.4
battery.date: 12292015
battery.runtime: 00000
battery.runtime.low: 59940
battery.temperature: 00
battery.voltage: 163.4
device.mfr: NHS Sistemas de Energia
device.model: Laser Senoidal 5000VA
device.type: ups
driver.name: gamatronic
driver.paramete

[2016-01-06 03:50] clepple commented on #251
Forgot to ask: what do `upsrw` and `upscmd` list?

[2016-01-06 07:32] crazytiti commented on #251
C:\Program Files (x86)\NUT\bin>upscmd -l ups@127.0.0.1
Instant commands supported on UPS [ups]:

beeper.toggle - Toggle the UPS beeper
load.off - Turn off the load immediately
load.on - Turn on the load immediately
shutdown.return - Turn off the load and return when power is back
shutdown.stayoff - Turn off the load and remain off
shutdown.stop - Stop a shutdown in progress
test.battery.start - St

[2016-01-06 07:33] crazytiti commented on #251
I have to set up rights to use upsrw, maybe tonight i can do it

[2016-01-06 19:45] crazytiti commented on #251
it seems upsrw is not supported :
C:\Program Files (x86)\NUT\bin>upsrw ups@127.0.0.1:3493

C:\Program Files (x86)\NUT\bin>

[2016-01-06 20:25] tmcneill30 commented on #246
Thanks for the patch.  However it doesn’t compile.

The problem is a change you made in upsd.c, namely,

upsdebugx(2, "write: [destfd=%d] [len=%d] [%s]", client->sock_fd, len, str_rtrim(ans, '\n'));

This line generates a symbol not found error.
Undefined                       first referenced
symbol                             in file
str_rtrim                           upsd.o
ld: fatal: symbol r

[2016-01-06 21:21] tmcneill30 commented on #246
Compilation attempts with str_trim and strtrim also fail. I’m not a C developer hence I’m just guessing with these function names.

From: Charles Lepple [mailto:notifications@github.com]
Sent: Tuesday, December 29, 2015 7:36 PM
To: networkupstools/nut
Cc: McNeill, Thomas @ EngilityCorp
Subject: Re: [nut] Securing connections with SSL not working on Solaris 10 x86 (#246)

@tmcneill30<https://github

[2016-01-07 01:02] clepple commented on #246
I don't see that particular line in the patch. Are you grabbing the whole source tree from that revision? (I was thinking that you might want to minimize the number of lines changed from the base 2.7.3 version - the patch should be standalone, although I haven't tried that yet.)

If you are using the whole Git source tree at f098486, you might need to re-run autogen.sh and configure, since a few f

[2016-01-07 03:54] clepple commented on #246
Confirmed that it builds on OS X.

If you download this, you can apply it to a 2.7.3 tree with "patch -p1 < f098486803921b8899d4172fff97846428d82c12.diff":

https://github.com/networkupstools/nut/commit/f098486803921b8899d4172fff97846428d82c12.diff

[2016-01-07 08:52] aquette commented on #246
@clepple : sadly no, the Ubuntu QA test (also available in Debian) doesn't cover SSL yet. Part of the planned things for when NSS would be compiled in (already the case since 2.7.1-1)

[2016-01-07 23:30] tmcneill30 commented on #246
I had copied the entire files for netssl.c and upsd.c from github.  I am not using git but rather the source tar for version 2.7.3.   My brain lock for plugging in files from HEAD.  Thanks for solving that for me.

Now that I have patched the 2.7.3 files instead, the compile succeeds.  Unfortunately the ssl connection is still broken.

Here is what the debug output was:

-bash-3.2# ./upsmon -D
Net

[2016-01-08 03:34] clepple commented on #246
Is the CA certificate (and any intermediates, if applicable) included in CERTFILE?

[2016-01-08 14:39] fr3ddie opened #255 "[HCL] Eaton Ellipse PRO 650VA (USB only) supported by usbhid-ups"
Shutdown sequence tested OK on an old Debian Sarge (I suppose the device would work best on newer NUT releases...).

fr3ddie@NAS:~$ upsc -V
Network UPS Tools upsc 2.0.5

upsc dump:

battery.charge: 97
battery.chemistry: PbAc
battery.runtime: 2755
battery.voltage: 2.3
driver.name: hidups
driver.parameter.lowbatt_pct: 30
driver.version: 2.0.5
ups.mfr: EATON
ups.model: Ellipse PRO
ups.serial: G355FXX

[2016-01-08 18:00] tmcneill30 commented on #246
Yes.  I created the certificates following the instructions listed in section 9.5 of the NUT documentation.
http://www.networkupstools.org/docs/user-manual.chunked/ar01s09.html#_configuring_ssl

Keep in mind that moving the exact same certificate files to my rhel server, I see no errors in debug mode and I confirmed thru packet sniffing that the connection between a local uspmon and upsd was indee

[2016-01-09 04:15] clepple commented on #246
I wonder if the "unknown ca" is really an expired certificate. At one point you mentioned that Solaris upsmon couldn't connect to the RHEL upsd. I don't know when the validity checks occur in OpenSSL. (The NUT instructions do mention that the default command lines will create certificates that expire in 30 days.)

(Also, when you reply by email, please trim off the previous text. GitHub apparently

[2016-01-09 21:50] clepple commented on #255
Can you please check with the `newhidups` driver instead? (`hidups` is linux-only, so it was replaced with `newhidups`, which was later renamed to `usbhid-ups` in v2.2.0)

I don't remember what Sarge did for USB permissions, but `newhidups` uses a different /dev node than `hidups`.

[2016-01-11 15:54] fr3ddie commented on #255
I will be able to try this after January 23rd, unfortunately I'm not where the UPS is located in this moment.
NUT v2.7.2 available on Jessie's repos is fine for the test?

Do you suspect it could not work with new versions of the driver?

[2016-01-12 00:37] tmcneill30 commented on #246
Good catch on the expired certificates but sadly after thorough re-testing I’m still getting the same message

-bash-3.2# ./upsmon –D
Network UPS Tools upsmon 2.7.3
kill: No such process
0.000000     UPS: power0@localhost (master) (power value 1)
0.000134     UPS: ups0@localhost (master) (power value 1)
0.000360     Using power down flag file /var/state/ups/killpower
0.000731     debug level is '1

[2016-01-12 02:16] clepple commented on #255
It is very likely that it will work. There seem to be a number of outstanding bugs related to upgrading and the udev scripts, but it should work with jessie.

[2016-01-12 03:33] clepple commented on #246
My mistake, it's the same blocking/non-blocking error on the client side.

This commit should be added on top of the previous one: https://github.com/networkupstools/nut/commit/213ee3d7e6eef697e3e113b074b87457023a4db0

However, I can't really test that here: OS X does not have the non-blocking issue on the client side. It is no worse with this patch, though.

[2016-01-12 20:22] tmcneill30 commented on #246
I added your upsclient.c patch to my build.   Verified patch succeeded. Re-made package and re-installed.

I still get the below tracing when upsmon wants to connect locally with upsd.

-bash-3.2# ./upsmon -D
Network UPS Tools upsmon 2.7.3
kill: No such process
   0.000000     UPS: power0@localhost (master) (power value 1)
   0.000147     UPS: ups0@localhost (master) (power value 1)
   0.000408

[2016-01-13 03:12] clepple commented on #246
You might need to check with the OpenSSL developers, or a Solaris-specific forum.

[2016-01-14 14:23] clepple opened #256 "battery.runtime: document difference between battery.runtime.elapsed"
The de facto interpretation of `battery.runtime` has been an estimating of the time *remaining* before the battery is depleted (`UPS.PowerSummary.RunTimeToEmpty`). Document `battery.runtime` and `battery.runtime.elapsed` more thoroughly.

[2016-01-14 14:26] clepple opened #257 "gamatronic: battery.runtime changes and documentation"
The de facto interpretation of `battery.runtime` has been an estimating of the time *remaining* before the battery is depleted (`UPS.PowerSummary.RunTimeToEmpty`). However, the `gamatronic` driver reports an elapsed time as `battery.runtime`. It should be exposed as `battery.runtime.elapsed` instead.

Reference: http://lists.alioth.debian.org/pipermail/nut-upsdev/2016-January/007151.html

General

[2016-01-18 13:49] rgc2000 commented on #246
Hi,
Please can you try this very simple patch against nut-2.7.3. It will disable non-blocking sockets on Solaris for server (upsd). Then tell me if it works for you.

[nut-2.7.3.solaris_ssl.patch.gz](https://github.com/networkupstools/nut/files/94444/nut-2.7.3.solaris_ssl.patch.gz)

[2016-01-18 14:23] clepple commented on #246
René, thanks for posting this, but isn't this patch is for the server listening socket? With the commits mentioned earlier in this issue, I think we have the server's client FD retrying. (Note that since the server is single-threaded, it shouldn't block - but the client API was written with the expectation that calls will block.)

Were you able to reproduce the error in upsmon or upsc?

[2016-01-18 14:46] rgc2000 commented on #246
I reproduced your problem on Solaris 10u11 and Solaris 11.3. I saw that problem comes from the server that closes the incoming connection with an unexpected error on the SSL_accept function. This is due to the lack of incoming data at this moment using non blocking sockets.
Setting O_NDELAY on socket enables the non blocking IO behavior. This patch prevents setting this flag on server socket.

I h

[2016-01-18 14:56] clepple commented on #246
Right, but this patch should allow the server to continue processing other events (rather than closing the connection):

https://github.com/networkupstools/nut/commit/f098486803921b8899d4172fff97846428d82c12

I suspect that your patch will prevent the server from accepting multiple connections in quick succession. All of the other non-SSL server-side socket operations check to make sure it will no

[2016-01-18 15:31] rgc2000 commented on #246
I've just tested patch f098486 and it looks to works fine on my Solaris with O_NDELAY socket flag set.

I haven't tested quick succession of connections. Just 2 client connections and running upsd with debug info I can see the mainloop trace with the number of filedescriptors increasing with clients.

[2016-01-18 23:10] tmcneill30 commented on #246
Hi rgc2000,

Thanks for reproducing and submitting a possible fix. Frustratingly, upsmon-upsd connection still produces a failed ssl handshake.  Here is what the upsmon -D looks like

-bash-3.2$ sudo /usr/local/ups/sbin/upsmon -D
Network UPS Tools upsmon 2.7.3
kill: No such process
   0.000000     UPS: power0@localhost (master) (power value 1)
   0.001242     UPS: ups0@localhost (master) (power va

[2016-01-19 08:30] rgc2000 commented on #246
I don't know if this can make a difference but in my tests I have not enabled the tcpwrapper feature in configure. It is not available on my solaris machine. Can you try without it ?

[2016-01-20 01:29] tmcneill30 commented on #246
Not a bad thing to try.  I removed --wrap from my configure command.  Unfortunately upsmon -D output is still identical.

[2016-01-21 21:38] rgc2000 commented on #246
I really don’t understand. Both patches work for me. Could you, please, send me a tarball including the sources and binaries you compiled with —wrap removed (nut-sources directory). I would like to try it on my solaris.

René

[2016-01-21 23:39] tmcneill30 commented on #246
[f098486.patch.txt](https://github.com/networkupstools/nut/files/100023/f098486.patch.txt)
[NUTupstools-2.7.3-x86.pkg.gz.txt](https://github.com/networkupstools/nut/files/100067/NUTupstools-2.7.3-x86.pkg.gz.txt)
[nut-2.7.3.solaris_ssl.patch.txt](https://github.com/networkupstools/nut/files/100025/nut-2.7.3.solaris_ssl.patch.txt)
[patched-nut-2.7.3.tar.txt](https://github.com/networkupstools/nut/fi

[2016-01-23 17:52] rgc2000 commented on #246
There is a problem with your compilation options, your binaries are not linked with your OpenSSL but with the system (and old) openssl located in /usr/sfw/lib

The SSL connexions work but the server certificate check fails. In upsmon.conf if you set CERTVERIFY 0  everything works fine.

I'm still investigating to understand why the certificate check fails. You are using a self-signed certificate f

[2016-01-23 18:45] clepple commented on #246
I think this is tangential to the SSL issue, but note that in ./configure option parsing, the lack of an option allows the script to auto-detect the library or feature. You might want `--without-wrap` or `--with-wrap=no`.

[2016-01-23 19:00] #254 closed

[2016-01-24 00:11] bandroidx commented on #252
same problem here i get:

Jan 23 19:06:05 librenms kernel: [   97.828615] usb 2-2.1: usbfs: USBDEVFS_CONTROL failed cmd usbhid-ups rqt 128 rq 6 len 255 ret -110
Jan 23 19:06:06 librenms kernel: [   98.831615] usb 2-2.1: usbfs: USBDEVFS_CONTROL failed cmd usbhid-ups rqt 128 rq 6 len 255 ret -110
Jan 23 19:06:07 librenms kernel: [   99.834556] usb 2-2.1: usbfs: USBDEVFS_CONTROL failed cmd usbhid-ups

[2016-01-24 00:59] clepple commented on #252
@bandroidx could you please open a new issue and provide some more details about the NUT package version and the running kernel?

[2016-01-24 01:08] bandroidx opened #258 "Segfault on Ubuntu 14.04 and VMware ESXi with usbhid-ups on APC Backup XS 1500G"
I tried with the default package in ubuntu 14.04 x64 server and also tried this PPA: https://launchpad.net/~clepple/+archive/ubuntu/nut which gave me version 2.7.2.9~really2.7.3-2

Both get this segfault and error:

Jan 23 19:06:05 librenms kernel: [ 97.828615] usb 2-2.1: usbfs: USBDEVFS_CONTROL failed cmd usbhid-ups rqt 128 rq 6 len 255 ret -110
Jan 23 19:06:06 librenms kernel: [ 98.831615] usb 2

[2016-01-24 01:09] bandroidx commented on #258
I tried rebooting and double checked the udev rules are in place as well.

[2016-01-24 01:10] bandroidx commented on #252
@clepple sure, just did.

[2016-01-24 02:11] bandroidx commented on #258
Ok this is weird, i just installed centos 7 to test and installed the package from epel and i get the exact same segfault....
usbhid-ups[8429]: segfault at 0 ip 00007f7d60b5cdcc sp 00007ffc8ac1e398 error 4 in libc-2.17.so[7f7d60a2a000+1b6000]                                                                                                                      

[2016-01-24 02:12] bandroidx commented on #258
i should add this is running inside a vmware esxi 5.5 virtual machine with usb pass through enabled for the APC ups.  However liek i said, apcupsd works fine so I think that the vm setup is correct.

[2016-01-24 02:14] bandroidx commented on #258
Here is the version info:

Network UPS Tools - UPS driver controller 2.7.2
   0.000000     Starting UPS: myups
Network UPS Tools - Generic HID driver 0.38 (2.7.2)
USB communication driver 0.32
kill: No such process
   3.021595     Driver exited abnormally
                                                                                                                                                

[2016-01-24 02:29] clepple commented on #258
As root, please do the following:
[code]

and post the last 20 lines or so before it crashes.

Either OS should work, but I have a copy of Ubuntu 14.04 already running.

Also, which kernel version? Either `uname -a` or the package version. (Ubuntu has several options.)

[2016-01-24 02:55] bandroidx commented on #258
Linux librenms 3.19.0-47-generic #53~14.04.1-Ubuntu SMP Mon Jan 18 16:09:14 UTC 2016 x86_64 x86_64 x86_64 GNU/Linux                                                                                                                     

Network UPS Tools - Generic HID driver 0.39 (2.7.3)
USB communication driver 0.32
   0.000000     debug level is '3'
   0.000530     upsdrv_initups...
   0.024464

[2016-01-24 02:56] bandroidx commented on #258
dmesg when the ups is connected:

[ 8757.427455] usb 1-2.1: new full-speed USB device number 4 using uhci_hcd
[ 8757.774277] usb 1-2.1: New USB device found, idVendor=051d, idProduct=0002
[ 8757.774285] usb 1-2.1: New USB device strings: Mfr=1, Product=2, SerialNumber=3
[ 8757.774289] usb 1-2.1: Product: Back-UPS XS 1500G FW:866.L8 .D USB FW:L8
[ 8757.774293] usb 1-2.1: Manufacturer: American Powe

[2016-01-24 03:12] clepple commented on #258
This is odd. It should not take four seconds to retrieve the device descriptor and three string descriptors. Does this match the time of the "USBDEVFS_CONTROL failed cmd usbhid-ups rqt 128 rq 6 len 255 ret -110" dmesg errors? (-110 is ETIMEDOUT)

What does `sudo lsusb -d051d:` return?

Also: `ls -l /dev/bus/usb/001/004`

[2016-01-24 03:24] bandroidx commented on #258
yes it matches the USBDEVFS_CONTROL failed message time.

root@librenms:/etc/nut# sudo lsusb -d051d:
Bus 001 Device 004: ID 051d:0002 American Power Conversion Uninterruptible Power Supply
                                                                                                                                       
root@librenms:/etc/nut# ls -l /dev/bus/usb/001/004
crw-rw-r-- 1 root nut 18

[2016-01-24 03:26] bandroidx commented on #258
it was doing the same thing on centos 7.  oddly, i ran upsdrvinstall with -u root and it worked but didnt work, then after  that i was able to run it normally and everything started working.

[2016-01-24 03:40] clepple commented on #258
Sorry, I forgot a flag: `lsusb -vv -d051d:`

I see a potential problem in the code, but if there is some setting in ESXi that will give full control of the USB device to the guest, that would be the simplest way. Those "unknown"s are NULL pointers, and real hardware would return an actual string.

[2016-01-24 04:00] bandroidx commented on #258
root@librenms:/etc/nut# lsusb -vv -d051d:

Bus 001 Device 004: ID 051d:0002 American Power Conversion Uninterruptible Power Supply
Device Descriptor:
  bLength                18
  bDescriptorType         1
  bcdUSB               2.00
  bDeviceClass            0 (Defined at Interface level)
  bDeviceSubClass         0
  bDeviceProtocol         0
  bMaxPacketSize0        64
  idVendor           0x05

[2016-01-24 14:21] mkuron commented on #258
I'm seeing the same after upgrading from Debian 6 to Debian 8. I am also running this on VMware ESXi, however I'm on version 6.0.

[code]

[code]

[code]
Perhaps it's worth noting that _lsusb_ takes about 6 seconds to run, which is a lot longer than usual. Also, _iManufacturer_, _iProduct_ and _iSerial_ are reported as errors, unlike what @bandroidx saw. Do you thing this is a bug in libusb or the

[2016-01-24 14:33] clepple commented on #258
Agreed - that extra delay is probably the sum of all of the string descriptor request timeouts.

Unclear at this point.

For Ubuntu, `lsusb` seems to be linked against `libusb-1.0`. What does "ldd $(which lsusb)" return on Debian?

[2016-01-24 14:34] mkuron commented on #258
Same: `/lib/i386-linux-gnu/libusb-1.0.so.0`

[2016-01-24 15:35] clepple commented on #258
@mkuron do you get the same error when you run lsusb as root? Installing NUT tends to bring in udev rules that change permissions on the UPS /dev/bus/usb node.

[2016-01-24 16:03] rgc2000 commented on #246
SSL test results for nut-2.7.3 and patch f098486 on solaris 10 (32 or 64 bits)
- without libwrap : SSL connection OK with CERTVERIFY 1, upsc can't check server certificate
- with libwrap : SSL connection OK with CERTVERIFY 0, otherwise server certificate fails if set to 1 and SSL connection is closed (with error: tlsv1 alert unknown ca). Can't make it work with CERTVERIFY 1. upsc still can't check

[2016-01-24 16:14] mkuron commented on #258
Yes, lsusb was running as root.

[2016-01-24 20:15] clepple commented on #258
@bandroidx the Ubuntu 14.04 x64 segfault seems to be in `__strncmp_ssse3()`:
[code]

How do you want to fix this? Since your UPS isn't on the `tweak_max_report` list (Back-UPS ES 525, Back-UPS CS), we should be able to zero out a few bytes in the driver executable. You could do that in a hex editor, or with `dd`. I can also try to push a new build to the PPA, but that could take a while (I have sw

[2016-01-24 20:23] clepple commented on #258
@mkuron I don't have a 32-bit Debian 8 VM on hand. Can you install `libc6-dbg` and run the following command to verify that you are seeing the exact same crash?

[code]

Same question for you, except that the PPA isn't an option. How do you want to fix this? Do you have everything set up to rebuild NUT from source? Binary patching is an option for quick testing.

[2016-01-24 20:53] clepple commented on #258
Looks like a similar bug was filed on Launchpad: https://bugs.launchpad.net/ubuntu/+source/nut/+bug/1483615

[2016-01-24 22:18] clepple commented on #246
Is libwrap altering the linker flags?

[2016-01-25 09:15] mkuron commented on #258
That commit fixes it, thanks!
I cherry-picked f679a2820e49cbdec4138295de5e8947ee953a8a on top of v2.7.2 and rebuilt just the driver. Do you want to file a bug report with Debian for them to include the patch, or shall I do that?

[2016-01-25 12:55] clepple commented on #258
@mkuron since it's on your system, could you please file it, and let us know the bug number?

I vaguely recall Debian's reportbug grabbing some other package versions to include in its report for NUT bugs, so you might want to try that (even if you just submit the output manually).

Thanks for testing!

[2016-01-25 14:00] clepple commented on #252
For future reference, this also seems to be the same point in the code as #258:
[code]

Same issue in an upstream bug: https://bugs.launchpad.net/ubuntu/+source/nut/+bug/1483615

[2016-01-25 14:30] bandroidx commented on #258
@mkuron if it was an issue that showed up with esxi specifically I would expect apcupsd to have the same issue though, no?  Have you tried apcupsd to see if it works for you?  I personally can't use apcupsd because one of the devices I am working with is a synology nas which needs NUT, but it was working for me.

[2016-01-25 14:30] bandroidx commented on #258
@clepple what does added to 2.7.4 milestone mean?  Does that mean the bug will be fixed in the next release or has it already been patched in git master?

[2016-01-25 14:34] mkuron commented on #258
Haven't tried apcupsd yet, but considering that lsusb takes so long I'm pretty sure this is an issue in the underlying libusb or kernel. lsusb uses libusb too.

[2016-01-25 14:43] clepple commented on #258
@bandroidx yes, the plan is to include the fix as part of 2.7.4 (as opposed to a larger bug which would break things in the 2.7.x series, and would need to be deferred). I was going to wait to merge it to master until after you confirm that this fixes your issue (although I am fairly certain it will), since GitHub will close the issue when I merge from the branch with commit f679a28. However, sinc

[2016-01-25 14:45] clepple commented on #258
@mkuron note that NUT still uses libusb-0.1, so I think the underlying issue is elsewhere.

[2016-01-25 15:00] mkuron commented on #258
Here's the Debian bug report: https://bugs.debian.org/cgi-bin/bugreport.cgi?bug=812604. I've included your patch.

[2016-01-25 16:10] bandroidx commented on #258
@clepple sorry github refreshed strangely and i missed some of your responses, just saw them now when i did a full refresh of the page.  I am open to fixing it in any manor really, I am using your PPA now but if you want me to pull master from github and then patch it, I could do that as well.  I guess the question is, what do you need me to do?

[2016-01-25 16:22] bandroidx commented on #258
@clepple I am running in to a lot of errors trying to compile from git master so if i can just make a simple hex edit to the driver that would be good

[2016-01-25 17:53] rgc2000 commented on #246
You are right. --with-wrap changes the library path order at compile time and thus it always links with the libssl located in /usr/sfw/lib

I managed to use configure options to make it use the libraries I want and now everything works (except server certificate verify with upsc as this is only available with nss, not openssl)

So. tmcneil30, to compile and openssl to match your needs :

export LD

[2016-01-25 23:24] bandroidx commented on #258
@clepple i managed to get the driver built finally and replaced usbhid driver in /lib/nut, it doesnt crash when loading the driver now but I still get this in dmesg:
[168838.162712] usb 1-2.1: usbfs: USBDEVFS_CONTROL failed cmd usbhid-ups rqt 128 rq 6 len 255 ret -110
[168839.165206] usb 1-2.1: usbfs: USBDEVFS_CONTROL failed cmd usbhid-ups rqt 128 rq 6 len 255 ret -110
                            

[2016-01-25 23:30] bandroidx commented on #258
I got it working!  even though i had --with-pidpath=/var/run/nut it was putting the pids in /var/state/nut with the new driver i built.  i symlinked them together and now its working!

[2016-01-26 00:23] clepple commented on #258
These are going to keep showing up until the underlying problem with the USB passthrough is fixed.

[2016-01-26 00:26] clepple commented on #258
Glad it's working!

Not sure what to tell you on the PID path, except that sometimes you have to run "make clean" after changing ./configure options.

[2016-01-26 01:03] bandroidx commented on #258
@clepple the symbolic link of the directory is working good enough, I am just going to leave it.  Thanks so much for your help!

[2016-01-26 03:37] #258 closed

[2016-01-29 20:14] tmcneill30 commented on #246
Rene - thank you for figuring this out.  Especially for compiling --with-wrap.  That is a requirement for me.  I haven't had time to test your instructions, but will soon and will report back my results.

question - are the patches still necessary?

[2016-01-29 22:08] rgc2000 commented on #246
Yes upsd patch f098486 is needed to establish incoming ssl connections.
I didn't mention that I've been using gcc to compile under Solaris.

[2016-01-30 00:42] tmcneill30 commented on #246
I've followed your instructions and .... SUCCESS!!   However I needed to apply not only the f09486 patch but the patch you sent me was well.   If you haven't done so, I would commit that patch and post the number here.  I was still getting ssl errors in upsd until I recompiled with your patch.

The LD_RUN_PATH was critical to getting the ups binaries to depend upon my newer ssl.   I did need to re

[2016-01-30 00:58] clepple commented on #246
My usual procedure is to close the issue when all of the patches are merged into master. At this point, that branch is slated to be the basis for the next release.

However, unless I missed an update, the O_NDELAY removal patch has the potential for a denial-of-service if someone only partially completes the SSL handshake.

[2016-01-30 08:39] rgc2000 commented on #246
I did not apply the O_NDELAY removal patch. The f09486 patch against nut-2.7.3 was enough to make SSL work fine under Solaris. Please check again because it should work with only one of those patches, both are not needed.

[2016-01-31 22:19] zykh commented on #218
Something like this should work: https://github.com/zykh/nut/tree/issue-218
@tas50: can you confirm that it works properly for you?

[2016-01-31 22:40] zykh commented on #251
Added to our DDL, too. Thanks!

[2016-01-31 22:40] #251 closed

[2016-02-01 20:37] tmcneill30 commented on #246
I re-checked and still get the same results.
To recap: I re-compiled 2.7.3 with only the f09486 patch following above instructions.  My ldd commands against  upsmon look exactly like yours.

I start upsd -D and initially get this:
-bash-3.2$ sudo /usr/local/ups/sbin/upsd -D
Network UPS Tools upsd 2.7.3
   0.000000     fopen /var/state/ups/upsd.pid: No such file or directory
   0.002299     listeni

[2016-02-01 23:12] rgc2000 commented on #246
I have tested your attached packages and I am running into the same error messages as you (SSL_ERROR_WANT_READ).
When I am using my own compiled nut suite I don't have these error messages even with O_NDELAY enabled.

What gcc compiler are you using ? I am using my self compiled gcc 4.8.3

# gcc -v
Using built-in specs.
COLLECT_GCC=gcc
COLLECT_LTO_WRAPPER=/opt/gnu/libexec/gcc/i386-pc-solaris2.10/4

[2016-02-02 17:42] tmcneill30 commented on #246
-bash-3.2$ gcc -v
Reading specs from /usr/sfw/lib/gcc/i386-pc-solaris2.10/3.4.3/specs
Configured with: /builds/sfw10-gate/usr/src/cmd/gcc/gcc-3.4.3/configure --prefix=/usr/sfw --with-as=/usr/sfw/bin/gas --with-gnu-as --with-ld=/usr/ccs/bin/ld --without-gnu-ld --enable-languages=c,c++ --enable-shared
Thread model: posix
gcc version 3.4.3 (csl-sol210-3_4-branch+sol_rpath)

[2016-02-02 18:00] tmcneill30 commented on #246
I switched my c compiler to a newer one I had installed.  Same result.  Still get ssl errors from upsd upon a upsmon connection.

-bash-3.2$ gcc -v
Reading specs from /opt/csw/lib/gcc/i386-pc-solaris2.10/4.9.2/specs
COLLECT_GCC=gcc
COLLECT_LTO_WRAPPER=/opt/csw/libexec/gcc/i386-pc-solaris2.10/4.9.2/lto-wrapper
Target: i386-pc-solaris2.10
Configured with: /home/dam/mgar/pkg/gcc4/trunk/work/solaris10

[2016-02-02 18:11] rgc2000 commented on #246
I've just tried the same compiler as you (gcc 3.4.3 from /usr/sfw/bin) and I'm not getting the SSL error.
Now I know that I'm not using the same solaris release as you. I'm running Solaris 10 update 11 kernel 150401-26.
I would need to install solaris 10 update 6, right ? But why your binaries don't work fine on my Sol10u11 machine ?

[2016-02-02 19:19] tmcneill30 commented on #246
My solaris:
cat /etc/release
                    Oracle Solaris 10 8/11 s10x_u10wos_17b X86
  Copyright (c) 1983, 2011, Oracle and/or its affiliates. All rights reserved.
                            Assembled 23 August 2011

Also I am running in 32 bit mode.  Its a requirement I have for this.

[2016-02-02 19:40] rgc2000 commented on #246
OpenSSL is ok. My nut with your OpenSSL works fine. The problem seems to be in nut only. Please can you send me your source code in a tar file. I want to compare files.

[2016-02-02 19:45] tmcneill30 commented on #246
certainly.
[patched-src-nut-273.tar.txt](https://github.com/networkupstools/nut/files/114557/patched-src-nut-273.tar.txt)

[2016-02-02 23:32] rgc2000 commented on #246
Oh! When comparing sources I have just realized that I am using a source tree where O_NDELAY is already removed! That’s why everything was working fine from the beginning. If I set O_NDELAY (or O_NONBLOCK) I have the SSL_ERROR_WANT_READ message.

BUT! According to patched source code this is only a warning message. Return code is 0 from the ssl_error() function. upsmon is connected to upsd using S

[2016-02-03 00:36] tmcneill30 commented on #246
If I remove the f098486 patch, I am back to having ssl handshake failures.  Keep in mind, I am using the released 2.7.3 source.  I re-tested just now to be sure.  I was thinking that perhaps the change in compilation options for NUT and SSL were enough to fix this problem.  But no, without the f098486 patch, the ssl handshake fails.  I'd prefer not to have ugly debug warnings but that is preferabl

[2016-02-03 02:15] tmcneill30 commented on #246
packet sniffing confirms that communication from upsmon to upsd is encrypted despite debug ssl warnings from upsd.  So I finally have something that works even though its not entirely pretty.

[2016-02-03 03:29] clepple commented on #246
We can raise the debug level of the SSL_ERROR_WANT_READ. However, they are not logged to syslog, just to the console in debug mode.

Other than that, it sounds like we're good to merge f098486 and its corresponding client-side patch, 213ee3d. If either of you have suggestions for how we can change the documentation, let me know. The user manual is in Asciidoc, which is mostly plain text, but I don

[2016-02-03 03:53] tas50 commented on #218
@zykh The logic seems sound, but I don't have access to that UPS anymore so I'm unable to test it on the real thing.

[2016-02-05 01:00] tmcneill30 commented on #246
FYI - I tested with 213ee3d and still got the upsd debug ssl warnings.  For my edification, why do I need 213ee3d.

The documentation seems fine to me.  I don't know if there is a place for a caveat that if you are running on Solaris you can't use the standard ssl libraries if you want to encrypt connections.

[2016-02-06 02:42] clepple commented on #246
My thought was that if the server-side sockets default to non-blocking, the client-side sockets need to be forced back to blocking because the non-SSL API doesn't provide a way to just loop back around the way that the select() loop does on the server side. It's one of those "if you don't need it now, you probably will later" correctness patches. Might depend on the size of the various packets ove

[2016-02-06 02:44] tmcneill30 commented on #246
Ø  Sometimes we interpret "FAQ" as "Frequently Anticipated Questions"... When you say "standard SSL libraries" do you mean SFW?

Yes I did mean /usr/sfw

From: Charles Lepple [mailto:notifications@github.com]
Sent: Friday, February 05, 2016 6:43 PM
To: networkupstools/nut
Cc: McNeill, Thomas @ EngilityCorp
Subject: Re: [nut] Securing connections with SSL not working on Solaris 10 x86 (#246)

My th

[2016-02-11 11:54] GreatEmerald commented on #209
Yes, please do!
As far as I can tell, the current way `upsdrvctl shutdown` is handled is... completely broken for any `usbhid-ups` systems. The `nutshutdown` script is executed right before shutdown - but `nut-driver.service` is stopped way sooner! It stops as soon as there is nothing left that requires it, and the only thing that requires it is `nut-driver.service`, which is turned off as soon as

[2016-02-11 12:36] clepple commented on #209
Are you sure of the failure mode? `upsdrvctl shutdown` **expects** the original driver to be stopped by the time it runs - it re-invokes the driver with `usbhid-ups -k` to skip any of the `upsd` connection code, and the driver simply sends the shutdown command.

Unfortunately, for a USB UPS, that means that `/dev/bus/usb` can't be unmounted at that point (but it shouldn't need to be unmounted, sin

[2016-02-11 12:45] GreatEmerald commented on #209
I'm sure that it failed to turn off my UPS, at least. If it does expect the drivers to be turned off and turns them back on, then that's not really documented in the manual (and is quite counter-intuitive).

[2016-02-14 09:53] mkuron commented on #258
Just wanted to add that installing kernel 4.3 from the Debian Jessie backports fixes the `lsusb` problems (it's slow and the output shows errors for _iManufacturer_, _iProduct_ and _iSerial_). However, `usbhid-ups` without the patch still crashes. With the patch, of course, it's all good.

[2016-02-14 20:49] clepple commented on #258
Does usbhid-ups print the strings at startup with the new kernel, or does it print "null"?

[2016-02-15 08:57] mkuron commented on #258
[code]
This is version 2.7.2 with the patch cherry-picked.

[2016-02-15 09:01] fr3ddie commented on #255
I'm sorry for the delay but I'm still not back to the UPS location...
Please be patient.

[2016-02-16 15:19] maaboo commented on #258
Please, could you tell me how to apply the patch, step by step? At least in general. I'm not an expert in Linux.

I have this issue right now. When I switch to xHCI, NUT starts to lose UPSes, but can see them. When I use eHCI - I'm getting segfault.

[2016-02-17 00:44] clepple commented on #258
@maaboo which distribution? (Be sure to file a bug upstream if `lsusb` has stopped showing USB strings, too.)

[2016-02-17 07:57] maaboo commented on #258
@clepple Nevermind, I've found manual here:

http://vladimir-stupin.blogspot.ru/2015/09/nut-apc-smart-ups-1500va.html

It's exactly about the issue. I can confirm that it's working correctly now. at least for 5 minutes. :)

[2016-02-17 08:12] maaboo opened #260 "Support for Automatic Transfer Switches"
Is there any chance to get NUT supporting ATS (at least from APC)? I have one and it's the only UPS related thing that isn't centrally monitored.

I've tried to add it like usual UPS:

[ups.conf]
`[UPS-APCATS]`
        `driver = snmp-ups privprotocol=AES`
        `port = 10.200.0.250`
        `desc = "RACK-01: APC Automatic Transfer Switch"`

[hosts.conf]
`MONITOR UPS-APCATS@mntr "RACK-01: APC Aut

[2016-02-17 14:19] Yvan-Masson opened #261 "Weird upsd users behavior on Windows"
First, thank you very much for this software ! Also, please apologize for the long story…

I have upsd (nut-client/server 2.7.2-4) installed on Debian Jessie, which monitors 2 UPS:
[code]

Two users are configured (password are changed):
[code]

On this same server, upsmon is configured like this:
[code]

On another Debian Jessie server (nut-client 2.7.2-4), upsmon is configured like this:
[code]

[2016-02-17 14:42] Yvan-Masson opened #262 "Please improve Windows port documentation/packaging"
Hi,

Thanks very much for this great software.

I just set up a nut infrastructure with a Linux master and Linux / Windows slaves. The configuration of upsmon on Windows (2003 and 2008 servers, 32 bits) was difficult, and I wanted to report how I did so that documentation / packaging could be improved. Please apologize if all of this is already written somewhere.

- Download and install normally t

[2016-02-18 14:42] aquette commented on #260
hi @maaboo ,support for ATS / STS is indeed something planned, and for soon now.
However, I'd need to ensure your use case, to better understand.
Also, if you could extract the info using this procedure, that would help a lot:
http://networkupstools.org/docs/developer-guide.chunked/ar01s04.html#snmp-subdrivers

If you need more info, don't hesitate to tell me.

[2016-02-18 14:45] aquette commented on #261
hi @Yvan-Masson , not had time to go through your whole feedback, but a thing to try to restore the comm with your USP (n2):
- power off the UPS
- unplug the power cord of the UPS
- wait 10 seconds,
- plug everything back and restart operations...

[2016-02-19 09:38] Yvan-Masson commented on #261
Thanks for the advice: I will try this, but I need to shut down many servers, so it will not be before two weeks. If USB connection works again and so if I can try to reproduce the bug, I will let you know.

[2016-02-23 13:12] aquette commented on #261
thx @Yvan-Masson
btw, you shouldn't mix the administrative and upsmon users.
I.e, you should have something like that:
[writeuser]
        password = xxxx
        actions = SET
        instcmds = ALL
[readuser]
        password = yyyy
[monmaster]
        password = xxxx
        upsmon master
[monslave]
        password = yyyy
        upsmon slave

that separates clearly between the protection side

[2016-02-25 15:55] aquette commented on #260
hi @maaboo

in case you have some issues to collect the data I asked:
- download and save https://raw.githubusercontent.com/networkupstools/nut/master/scripts/subdriver/gen-snmp-subdriver.sh into a directory "A"
- also put the MIB file of the APC ATS in the same directory "A"
- from that directory "A", execute the following command
./gen-snmp-subdriver.sh -n apc_ats -H <ip address of the ATS>

and

[2016-02-25 20:31] maaboo commented on #260
Yes, thanks. I need some time to do it. I was busy with another product bug request.

I'll send you info in a few days.

[2016-02-26 12:11] aquette commented on #260
perfect, thanks. Note that I'm about to push the preliminary (though already complete enough) support for Eaton ATS. Will update the comment to point at the commit, probably today

[2016-03-01 08:57] aquette commented on #171
@garyemiller : any news on this ticket?
Your feedback would be gladly welcome to reach 2.7.4 and have this ticket closed.
Thanks

[2016-03-01 09:00] aquette commented on #187
hi @ikus060 , any news on this ticket?
I'd like to get it fixed, and have 2.7.4 released...

[2016-03-01 12:35] ikus060 commented on #187
Hello @aquette

I cannot run the Java version. It doesn't work with recent version of Java. Downgrading it is not an option. I've monitor it for some time and the data seams ok. It's way better then is was.

Consider this ticker closed. If I see any issue, I will re-open the ticket or create a new one. Thanks alot for your support.

[2016-03-01 12:58] aquette commented on #187
hi @ikus060 , thanks for the feedback, and "bonjour des cousins de France" ;)

[2016-03-01 13:01] aquette commented on #187
reopening to close through the branch merge...

[2016-03-01 15:22] aquette commented on #244
@clepple : can I assign this one to you?
the 2nd part of the patch looks good, the 1rst (upslog -> upsdebugx) is however subject to discussion

[nut-2.6.5-upsmon.patch.txt](https://github.com/networkupstools/nut/files/153003/nut-2.6.5-upsmon.patch.txt)

[2016-03-02 03:30] clepple commented on #244
@aquette, I was hoping someone else would pick it up first :-)

what about `upslog(LOG_DEBUG, ...)`?

[2016-03-02 10:41] #233 closed

[2016-03-02 11:42] #187 closed

[2016-03-02 11:53] #201 closed

[2016-03-02 13:00] aquette commented on #245
As per discussion on the other ticket, and the comment from @ikus060 above, closing that ticket. Feel free to reopen if needed

[2016-03-02 13:00] #245 closed

[2016-03-02 13:39] aquette commented on #93
I think this ticket is good to be closed.
@clepple and @zykh : anything I missed?

[2016-03-02 13:43] clepple commented on #93
Looks good to me. Since we have some old URLs at the beginning of this ticket, it should be mentioned that the final location is http://networkupstools.org/ddl/ <http://networkupstools.org/ddl/>

[2016-03-02 14:51] aquette commented on #93
@cleppe: thanks ;) I've updated the description to list the final locations, for both the website and the github repository. Now closing the ticket

[2016-03-02 14:51] #93 closed

[2016-03-04 08:46] aquette commented on #260
@maaboo : we're approaching the end of the tasks list. Any news or should I go ahead with releasing 2.7.4?

[2016-03-04 09:20] maaboo commented on #260
Could you give me two more days?

[2016-03-04 10:01] aquette commented on #260
@maaboo : should be good, I expect to release beginning of next week.

[2016-03-04 10:06] aquette opened #266 "Study the possibility to default to type 'STRING' for variables"
Quoting @zykh from #265:
"I know that most of our vars are numbers and so it's easier to only edit the type for the few string ones, but maybe it would be better to have 'STRING' as the default type, since a number can always be stored in a string (well.. not always true, but pretend it to be), but not viceversa: if, for some reason, we lie (like me forgetting to set a var as the correct base type

[2016-03-04 10:08] aquette opened #267 "netget/upsrw: display the type (STRING | NUMBER) beside ENUM and RANGE"
Quoting @zykh from #265 :
"Looking quickly at netget.c's get_type() (and the same thing applies to upsrw): if a var is an ENUM or RANGE, then the base type (STRING/NUMERIC) is not printed: RANGE implies NUMERIC so we could directly print it if node->range_list exists, while ENUMs should be splitted between STRING and NUMERIC."

From @aquette:
"true for netget / upsrw: the mod is easy for netget, b

[2016-03-05 10:43] maaboo commented on #260
For some reason I haven't managed to get info with first method, so I used snmpwalk and then the script. As well as I couldn't get the name like "apc_ats". I've attached the resulting files along the MIB I used.

[https://www.dropbox.com/s/3xgk9i00xsswwlu/apcats.7z?dl=0](url)

[2016-03-07 12:59] aquette commented on #260
Hi @maaboo
thx for your feedback, I've done a 1rst version of APC ATS support.
Could you please test the branch and send back the output of upsc / upsrw?

The branch is: https://github.com/networkupstools/nut/tree/ats_support
just "git clone https://github.com/networkupstools/nut.git", then "git checkout ats_support" and configure / compile as usual. If you need more directions, please ping me bac

[2016-03-07 13:25] maaboo commented on #260
Unfortunately there are holydays in our coutry until 9th of May. I shut down my test server (it's a physical machine) so I can't do these tests. :(

[2016-03-07 13:32] Yvan-Masson commented on #261
Hi,
Thanks again Aquette for advices, I could revive my UPS by unplugging and rebooting.

"As expected", I can not reproduce the bug: passwords now match users even on Windows slaves. I really don't understand what happened. Anyway, sorry for the noise, you can close this bug.

Best regards,
Yvan

[2016-03-07 15:07] aquette commented on #260
@maaboo : that's sad. I'll merge the pull request, mentioning that APC ATS should also be supported, and calling for tests. I'll also leave the present ticket opened, and will move it to 2.7.5. Please update it whenever you can test.

[2016-03-08 03:58] clepple opened #268 "APC + usbhid-ups: some variables might change due to user input on UPS"
As reported on the [nut-upsuser list](http://news.gmane.org/find-root.php?message_id=CALgOszWB19%2d2iX4LyEpme%2dvoYQM%2dNp%2boGmpiSFjJsTH66ny%2b0w%40mail.gmail.com), variables such as `battery.runtime.low` can be changed outside of NUT, and should be refreshed occasionally (currently, `HU_FLAG_SEMI_STATIC` assumes it will not change except through `upsrw`).

[2016-03-08 14:55] aquette commented on #261
Hi @Yvan-Masson
thanks for your feedback. Glad to hear that this solution worked.
I'm closing this bug, don't hesitate to reopen if the issue happens again

[2016-03-08 14:55] #261 closed

[2016-03-09 07:43] aquette commented on #232
@balooloo : if you have 5 mn to take a look at that one also, would be great. Please self assign if you can, thx.

[2016-03-09 07:43] aquette commented on #171
retargetting to 2.7.5, since there is no user feedback.

[2016-03-09 08:05] #222 closed

[2016-03-10 14:42] balooloo opened #269 "nutclient compilation warning"
Hello all,

@aquette point me the following compilation warning:

[code]

[2016-03-15 14:35] aquette opened #270 "SNMP driver short term improvements"
Before the Generation 3 target ( #20), that is a complete rewrite of the driver, there can be various improvements, that will help moving to the next step:
* mib2nut improvements
** keep only 1 counter test OID (merge oid_pwr_status and oid_auto_check into 1)
** have a list of sysOIDs instead of just 1, forcing to have multiple entries for the same MIB
** have a "devtype" field, that would allow t

[2016-03-21 14:33] jimklimov opened #272 "Re-initialize driver if connection is interrupted and/or power-device ID data is changed since last cycle"
Reminder: Per discussion with @aquette, currently the drivers contain some superset of data that a real device may support, and validate what is actually supported during the driver program startup - then they do not waste time asking for values that do not exist on a device. Communication hiccups cause just re-init of communication, not the whole validation.

If the device firmware is updated, NU

[2016-03-21 15:19] jimklimov opened #273 "Enhance dummy-ups repeater mode to multiplex several UPS connections"
Reminder from discussion with @aquette - dummy-ups can be a proxy to one other driver.

A value-added improvement could be to proxy several drivers (e.g. connections to the same ups via several medias or protocols) to get the best of non-overlapping supported abilities (e.g. different snmp mibs vs. NetXML) as well as redundancy (net vs. USB/serial).

[2016-03-24 17:15] don-rumata-vk opened #277 "Potential race condition in starting nut-server"
I was having the same issues with my Tripp Lite SMART1500LCDT as the ones described in PR #122. Unfortunately, there has been little progress with PR #122 since it was created almost two years ago. So I thought perhaps I should try a different strategy.

I replaced the generic USB cable that came with my Tripp Lite SMART1500LCDT unit with a [StarTech Certified USB cable](http://www.amazon.com/Star

[2016-04-09 13:09] clepple commented on #277
Which distribution is this, and what version of the NUT package?

You might also check if setting `maxretry` and `retrydelay` in `ups.conf` would fix the problem (the default is to try once).

Reference: http://networkupstools.org/docs/man/ups.conf.html#_global_directives

[2016-04-09 14:17] balooloo commented on #269
F#####g text editor which transform tab into spaces automatically.
I will redo a PR for that.

[2016-04-09 15:21] clepple commented on #269
Looks good to me. Is there any code that tests this?

[2016-04-09 16:38] balooloo commented on #269
No. This is a trivial patch.
But I am looking for create tests in #227.

[2016-04-12 02:30] donald-rumata commented on #277
My observations were made on a Ubuntu 14.04.4 LTS system, nut-server: 2.7.1-1ubuntu1. By trial and error, I found that the following settings in my ups.conf appear to result in a relatively reliable performance:

[code]
The value of pollinterval has been set to 10 to address the known issue with usbhid-ups (named "Repetitive timeout and staleness") where some UPS models appear to become unresponsi

[2016-04-12 20:08] Intrudo commented on #5
Hello!

A few weeks ago I have successfully built NUT in MinGW environment using Windows-v2.6.5-7 branch (you may find a manual I have posted to nut-upsdev mailing list).

I would like to help with Windows port development. I have examined the source code of several components (upsd, upsmon, nut) and I have got some ideas. I will be happy to share them with NUT team.

[2016-04-13 18:25] bkcsfi commented on #171
Hi, I have a TrippLite SNMPWebCard recently upgraded to the most recent firmware release

I've run the gen-snmp-subdriver mentioned above and attached the generated .c and .h file

[tripplitemib.zip](https://github.com/networkupstools/nut/files/217702/tripplitemib.zip)

ssh to port 2112 on this device and running devstatus -v shows

snmpwalk

testing with the default nut release on ubuntu: Network

[2016-04-13 23:37] clepple commented on #171
@bkcsfi the version in Ubuntu (2.7.1) is old. Can you please try with [Rodney Dawes' PPA](https://code.launchpad.net/~dobey/+recipe/nut-daily)? The version number there says 2.7.3.1, but it seems to be tracking the Git master branch.

[2016-04-16 19:47] vporton opened #286 "blazer_usb bug"
The error messages in your log mean that the UPS stopped replying to
the computer.  This seems like a bug in the UPS, not in the computer.

[2016-04-16 19:47] vporton commented on #286
Even if it is UPS bug not driver bug, we can make a workaround in the driver.

[2016-04-27 08:41] aquette opened #287 "RFC: Add support for daisy-chained devices"
It's not unusual to see some daisy-chained PDUs, connected together in master-slave mode, to only consume 1 IP address for their communication interface (generally, network card exposing SNMP data) and expose only 1 point of communication to manage several devices.

This breaks the historical consideration of NUT that 1 driver provides data for 1 device.
However, there is a need and a smart approa

[2016-04-27 08:44] aquette commented on #287
@clepple , @zykh , @balooloo , @jimklimov : calling for review and comment

[2016-04-27 22:44] zykh commented on #287
@aquette: I was about to open a similar issue, as I need something like that (among other things) in order to support Voltronic Power's P30 (solar things) and P33 (big, big UPSes) devices in nutdrv_qx.

I started working on these two protocols a couple of years ago and kept them updated as new versions of their softwares were released, but I could not test them with real hardware, so I had to wait

[2016-04-28 08:08] aquette commented on #287
Hi @zykh , thx for your feedback. I'll need to think a bit more about that...
Do you have a devdump for such config btw?

[2016-04-28 12:41] aquette commented on #5
hi @intrudo , thanks for jumping in.
The best for now is probably to present your ideas here and / or to fork a branch of the Windows one and start applying these ideas.

thx and cheers

[2016-04-30 09:31] intrudo commented on #5
Hi @aquette ! Let’s start =)

First of all, I would like to say that I do not want to do something without acceptance of NUT Team (it would be great to coordinate high-level tasks at least). Please, feel free to say "no", if something is out of your vision/roadmap.

I sent a message with my ideas to nut-upsdev list and discussed some points with @clepple  already. You may find there more details w

[2016-04-30 16:19] clepple commented on #5
@aquette for reference, here is the previous nut-upsdev discussion: http://lists.alioth.debian.org/pipermail/nut-upsdev/2016-April/007172.html

Let me know if you have further questions about why I don't think a major Windows development effort should be based on that branch. The architectural changes that @intrudo proposed are probably best done by using Windows-v2.6.5-7 as a guide. For instance,

[2016-05-05 12:19] intrudo commented on #5
Well, if you do not mind, I will fork Windows-v2.6.5-7 branch to implement the SAL. After it is completed, we could get back to the question of proper branching and future merge.

[2016-05-07 13:53] clepple commented on #5
Agreed. For prototyping, I do not mind development on that branch (or a branch of the branch, given that branches are cheap in Git). I just want to make sure that everyone understands that *merging* (in the Git sense of the word, where two lines of history connect back to each other) any of the old Windows-* branches back into master will be a train wreck due to the leftover translated SVN cruft,

[2016-05-08 16:13] donald-rumata commented on #277
I have been observing my system for a few weeks now, with maxretry = 30. The startup succeeds from cold boot in more than 50% of cases. In some cases however, upsd does not start even with maxretry = 30.

I found that when upsd does not start from cold boot, I have one of the two possible situations:

1. upsd may still be started with "`sudo /etc/init.d/nut-server stop ; sleep 5 ; sudo /etc/init.d

[2016-05-08 16:39] clepple commented on #277
Actually, the listening (TCP) interface and the driver are on opposite sides of upsd, architecturally speaking. The driver does not need to start for upsd to start, so there must be something else thwarting upsd.

One of the preconditions for upsd (implied, I guess) is that the network interfaces for all of the LISTEN addresses have been completely brought up. Typically, this is done by listing a

[2016-05-09 07:59] jimklimov commented on #287
@aquette :+1:  Proposal looks reasonable to me.

[2016-05-09 13:32] #269 closed

[2016-05-09 13:36] aquette commented on #232
Closed through PR #284

[2016-05-09 13:36] #232 closed

[2016-05-13 13:48] donald-rumata commented on #277
@clepple : my observations have been made on upsd v.2.7.1, which is the up-to-date upsd version in Ubuntu 14.04 repos. I am going to upgrade my Ubuntu system from 14.04 to 16.04 shortly and make more observations on what will likely be a newer upsd version.

If the issue persists with the newer upsd version, I am willing to clone this upsd repo and compile upsd locally in order to run tests involv

[2016-05-13 22:44] clepple commented on #277
16.04's version isn't that much newer: http://packages.ubuntu.com/xenial/nut-server <http://packages.ubuntu.com/xenial/nut-server> (2.7.2)

But you could try this PPA before building from source: https://code.launchpad.net/~dobey/+recipe/nut-daily <https://code.launchpad.net/~dobey/+recipe/nut-daily>

[2016-05-18 14:39] aquette commented on #287
Hi @zykh and all,
I've started to push the documentation, and implementation for snmp-ups, on the mentioned daisychain branch.

Part of the remainders, there is ups.status (not applicable to PDU) and ups.alarm.
For ups.alarm, I see 2 options:
1) everything in ups.alarm, with "device.x: " appended before the alarm message.
* pros: single and standard place to monitor alarms
* cons: can get flooded

[2016-05-18 23:57] zykh commented on #287
I'm more for 2 (post 'ups.alarm'->'device.alarm' rename: 'device.x.alarm'): if we say that any var not beginning with 'device.x' belongs to the 'master' device, then 'ups.alarm' = 'device.0.ups.alarm', so, in order to be consistent with other vars, 'ups.alarm' should only contain data about that single device.

Maybe we could change the daisychain concept to something like the way we manage outlet

[2016-05-22 13:50] clepple opened #291 "daisychain: documentation does not build"
Related to #287: the daisychain branch does not currently build.

From [buildbot](http://buildbot.networkupstools.org/public/nut/builders/MacOSX-10.11-x64/builds/1272/steps/compile/logs/stdio):

[code]

[2016-05-22 13:51] clepple commented on #291
@aquette feel free to reassign; I saw your name on a few of the commits.

[2016-05-22 14:31] clepple commented on #291
Looks like this is not specific to the asciidoc version on the OS X builder: http://buildbot.networkupstools.org/public/nut/one_line_per_build?branch=daisychain

[2016-05-23 12:57] aquette commented on #291
@clepple : thanks for the report. I'm currently fixing it.

[2016-05-23 14:20] aquette commented on #287
hi @zykh

your comment on "device.0" being the sum of the daisychain Vs my current proposal (device.0 == daisychain master) fully makes sense, for the reasons you stated.

I need to discuss this internally and then revise my proposal and implementation

[2016-05-24 01:47] clepple commented on #291
Looks good to me.

[2016-05-24 01:47] #291 closed

[2016-05-29 16:24] SilentT-FR opened #292 "Chloride deskpower 650 issue"
ive see this

https://github.com/networkupstools/nut/blob/master/data/driver.list.in#L173

i have test some serial cable but nothing work so i test with USB cable and blazer_usb and same probleme nothing work ..

May 29 16:46:12 pi kernel: [ 7568.823540] usb 1-1.5: new low-speed USB device number 8 using dwc_otg
May 29 16:46:12 pi kernel: [ 7568.967455] usb 1-1.5: New USB device found, idVendor=06

[2016-05-29 17:10] clepple commented on #292
Please provide more details.

Which version of NUT?

Was the serial cable straight-through or special? Is there a pinout in the UPS manual?

Before switching to the USB port, did you completely power down the UPS?

Were there any debug messages from either driver ?

[2016-05-29 22:04] SilentT-FR commented on #292
After more test with serial cable its ok sorry for noise, but when i switch on usb cable no respond.
I just replace blazer_sr to blazer_usb and the port

[2016-05-29 22:07] SilentT-FR commented on #292
Nut 2.7.2 from jessie deb

[2016-05-29 22:08] SilentT-FR commented on #292
And i have shutdown psu by cut powerline and on/off button

[2016-05-29 22:09] SilentT-FR commented on #292
If you want more info for debug say me how and i execute :)

[2016-05-30 07:51] aquette commented on #292
@SilentT-FR: quick question: when plugging the USB cable, have you removed the serial cable, at least from the UPS side? Otherwise, please test again USB without the serial cable plugged.
Then for USB communication with NUT:
- from a privileges standpoint, that should be good since "ID 06da:0002" is already listed for udev.
- the best would be to launch the driver in debug mode and attach the trac

[2016-05-30 08:00] aquette commented on #287
So I revised the implementation, and pushed the code to the branch.
Attached is a dump of daisychain (1+7) PDU in hybrid mode (1ph and 3ph) (.dev renamed to .txt to please github upload
[daisy-1plus7-hybrid.txt](https://github.com/networkupstools/nut/files/289110/daisy-1plus7-hybrid.txt)
).
For now, support is limited to data + alarms. Settings and commands are the next step.

[2016-05-30 08:34] SilentT-FR commented on #292
Yes i remove serial cable i reboot it and i plug usb cable

Network UPS Tools - Megatec/Q1 protocol USB driver 0.10 (2.7.1)
   0.000000	send_to_all: SETINFO driver.parameter.port "/dev/bus/usb/003/004"
   0.000134	debug level is '5'
   0.323218	Checking device (1D6B/0003) (004/001)
   0.323430	- VendorID: 1d6b
   0.323474	- ProductID: 0003
   0.323485	- Manufacturer: unknown
   0.323495	- Product:

[2016-05-30 08:53] SilentT-FR commented on #292
With another machine

root@pi:/lib/nut# ./blazer_usb -DDDDDDDDDD -a test
Network UPS Tools - Megatec/Q1 protocol USB driver 0.11 (2.7.2)
   0.000000	send_to_all: SETINFO driver.parameter.port "/dev/bus/usb/001/006"
   0.004062	debug level is '10'
   0.022080	Checking device (06DA/0002) (001/006)
   0.040324	- VendorID: 06da
   0.042274	- ProductID: 0002
   0.044884	- Manufacturer: ONEAC
   0.04680

[2016-05-30 08:56] SilentT-FR commented on #292
some syslog

May 30 10:51:27 pi kernel: [47508.429976] usb 1-1.3: reset low-speed USB device number 6 using dwc_otg
May 30 10:51:32 pi kernel: [47513.769906] usb 1-1.3: usbfs: USBDEVFS_CONTROL failed cmd blazer_usb rqt 33 rq 9 len 8 ret -110
May 30 10:51:32 pi kernel: [47514.029953] usb 1-1.3: reset low-speed USB device number 6 using dwc_otg
May 30 10:51:38 pi kernel: [47519.377834] usb 1-1.3: us

[2016-05-30 09:27] aquette commented on #292
@SilentT-FR thx for the traces.
Some more questions (I always have some ;)):
I see that dwc_otg in your syslog.
Could you try "dwc_otg.speed=1" as per:
http://raspberrypi.stackexchange.com/questions/4090/how-can-dwc-otg-speed-1-be-made-to-work

Or otherwise try a different USB port... We've already seen some such issue, tied to USB versions supported (v1.1 Vs v2 Vs v3)

[2016-05-30 09:38] SilentT-FR commented on #292
this option remove May 30 10:51:44 pi kernel: [47525.238016] usb 1-1.3: reset low-speed USB device number 6 using dwc_otg lines

root@pi:/lib/nut# ./blazer_usb -DDDDDDDDDD -a test
Network UPS Tools - Megatec/Q1 protocol USB driver 0.11 (2.7.2)
   0.000000	send_to_all: SETINFO driver.parameter.port "/dev/bus/usb/001/007"
   0.002112	debug level is '10'
   0.017469	Checking device (06DA/0002) (001/0

[2016-05-30 10:10] SilentT-FR commented on #292
i change the port to auto, and with nutdrv_qx :
root@pi:/lib/nut# ./nutdrv_qx -DDDDDDDDD -a test
Network UPS Tools - Generic Q* USB/Serial driver 0.06 (2.7.2)
USB communication driver 0.32
   0.000000	send_to_all: SETINFO driver.parameter.port "auto"
   0.001996	debug level is '9'
   0.011992	upsdrv_initups...
   0.016750	Checking device (06DA/0002) (001/014)
   0.033381	- VendorID: 06da
   0.0352

[2016-05-30 10:24] SilentT-FR commented on #292
in fact, its work with serial cable but, i have 1 usb/serial converter and 2 straight cable and a  cross adaptor. it ugly, i can replace this by one and unique cable but i dont have this for the moment so i have test with usb to be more simple but it not ;)

[2016-06-05 14:56] clepple opened #293 "Improve upssched example in documentation"
Per a [conversation with Roger Price](http://news.gmane.org/find-root.php?message_id=alpine.LSU.2.11.1606051224460.3552%40maria), the example at http://networkupstools.org/docs/user-manual.chunked/ar01s07.html chapter 7.2 does not clearly distinguish between timers, and the file created as part of the example timer scenario.

[2016-06-05 14:58] clepple commented on #293
Related: transient event filtering mentioned here: https://github.com/networkupstools/nut/issues/219

[2016-06-21 16:22] SilentT-FR opened #296 "[HCL] Liebert PSP supported by usbhid-ups"
root@pi:/lib/nut# upsc LiebertBox@maison
Init SSL without certificate database
battery.charge: 100
battery.charge.low: 38
battery.charge.warning: 38
battery.type: PbAc
battery.voltage: 13.7
battery.voltage.nominal: 12.0
device.mfr: Emerson Network Power
device.model: LiebertPSP
device.serial:
device.type: ups
driver.name: usbhid-ups
driver.parameter.pollfreq: 30
driver.parameter.pollinterval: 2
dr

[2016-06-21 16:46] SilentT-FR commented on #292
I recycle my two old chloride against Liebert PSP. I close

[2016-06-21 16:46] #292 closed

[2016-07-05 08:53] hexadecagram opened #299 "Setting non-root device node permissions causes nut-driver.service to fail to start"
Hello,

ArchLinux user here.

If I use udev to set a user/group on the device node for my UPS, nut-driver.service doesn't start up on boot. If I then login and restart nut-driver.service, it works.

The systemd functionality described in [this blog](https://www.kepstin.ca/blog/networkupstoolsnutandsystemd/) supposedly worked at one time (I never tried it myself).

After much trial and error, I set

[2016-07-18 00:27] bigon opened #300 "Please port to libusb 1.0"
Hi,

nut currently uses libusb 0.1 which is deprecated for quite some time. Nut should be ported to libusb 1.0

https://bugs.debian.org/cgi-bin/bugreport.cgi?bug=810449

[2016-07-31 15:27] jblachly commented on #300
Agree; I was trying to debug a nut installation on illumos and it took me quite some time to even locate the source code for libusb 0.1.

[2016-08-01 08:35] aquette commented on #300
thanks for the report guys, this is on my TODO stack for too long, and time has come to move on...
I'll start pushing a libusb-1.0 branch over the day, and will start to call for testing as soon as possible.

[2016-08-01 12:05] clepple commented on #300
@aquette I am curious if this is the best use of our time (both development and testing). libusb-1.0 is designed to overcome API issues relating to asynchronous calls (NUT operates synchronously, in a single thread), and to add support for USB 2.0+ features (Remember that most UPSes are USB 1.x, and many are 1.5 MBit/sec). If nothing else, this sounds like an excellent use case for libusb-compat,

[2016-08-01 12:11] clepple commented on #300
@jblachly not sure how illumos does their package mirroring, but for future reference, the upstream source is at [SourceForge](https://sourceforge.net/projects/libusb/files/libusb-0.1%20%28LEGACY%29/) and Debian keeps mirrors of the [tarballs](http://http.debian.net/debian/pool/main/libu/libusb/libusb_0.1.12.orig.tar.gz) that go into their packages.

[2016-08-03 09:30] aquette commented on #300
@jimklimov you may be able to shed some light on the Illumos package for libusb 0.1...

[2016-08-03 11:54] jimklimov commented on #300
@jblachly @aquette : I should start by reminding that "illumos" is not an OS by itself, but rather a kernel and some basic tooling. Things like libusb are part of userland which comes (or not) with specific distributions, of which there are a dozen or so.

I mostly work with OpenIndiana (and its bleeding-edge Hipster subproject), which currently has recipes mostly from back in 2012, for versions 0

[2016-08-03 13:00] bigon commented on #300
I don't think libusb-compat is in the debian archive

[2016-08-03 20:38] jblachly commented on #300
@jimklimov  I am working on SmartOS, but more importantly I am going to put some effort into the illumos kernel USB drivers in the area of HID-power. As you know, illumos recognizes HID-power class USB devices as "hid", but illumos' / opensolaris usba driver `hid` has only drivers for kb and mouse, IIRC.  So in order to use an HID-power UPS with any illumos distribution and nut, one has to load th

[2016-08-05 08:38] aquette commented on #300
@jblachly having worked / assisted / contributed to ugen on Solaris with the developer (Jan Van Bruen), back in the early 2000, and also on the Linux kernel implementation, I can help. But I don't think this effort is worth. As for NUT, most USB (and HID) userland implementation just needs a generic USB access, and implement HID support on their own. Otherwise, take a look at libhid and similar us

[2016-08-05 08:39] aquette commented on #300
worklog on the port: I've committed the configure checks:
...
checking for libusb version via pkg-config... 1.0.19 found
checking for libusb cflags... -I/usr/include/libusb-1.0
checking for libusb ldflags... -lusb-1.0
checking for libusb.h... yes
checking for libusb_init... yes
checking for libusb_detach_kernel_driver... yes
...
Configuration summary:
======================
...
build USB drivers:

[2016-08-05 13:15] jblachly commented on #300
@aquette Thanks -- Perhaps best solution is to ensure that HID-Power class devices get the `ugen` driver loaded instead of `hid`, without having to put vendor specific `usb<vid>,<pid>` strings in /etc/driver_aliases?

[2016-08-09 04:56] lf- opened #302 "Make 64 bit version of the Windows port available"
The current situation of providing a 32 bit Windows version makes excellent sense, as it has compatibility with both 32 and 64 bit Windows. The reason I'm raising this issue is because Nano Server has no WoW64, so the 32 bit build doesn't run at all.

It would be excellent if a 64 bit distribution of NUT for Windows was provided (zip would be nicer too, less extraction due to Nano Server having no

[2016-08-09 12:38] aquette commented on #300
@jblachly: indeed, that would be optimal... but not sufficient. NUT has support for USB/HID PDC (power device class) and also for XCP, Qx, and more (drivers: bcmxcp_usb, blazer_usb, nutdrv_atcl_usb, richcomm_usb, riello_usb, tripplite_usb, nutdrv_qx)

worklog on the port: usbhid-ups port complete (available on the https://github.com/networkupstools/nut/tree/libusb-1.0 branch).
I've made some non-r

[2016-08-10 09:00] aquette commented on #300
Worklog tracker

Done:
[x] configure checks, and libusb 1.0 / 0.1 detection and activation
[x] usbhid-ups port
[x] bcmxcp_usb port

Todo:
[] blazer_usb port
[] nutdrv_atcl_usb port
[] richcomm_usb port
[] riello_usb port
[] tripplite_usb port
[] nutdrv_qx port

[2016-08-10 12:47] clepple commented on #300
@aquette please remember to update Makefile.am when adding/renaming files.

http://buildbot.networkupstools.org/public/nut/waterfall?branch=libusb-1.0

[2016-08-10 12:59] aquette commented on #300
indeed @clepple , thx for pointing ;)
should be good for the current scope, however bear in mind that the port is not finished, so buildbot will fail to compile the tree, while it's not complete...

[2016-08-11 12:58] clepple commented on #302
planned, see https://github.com/networkupstools/nut/issues/5

[2016-08-11 14:00] aquette commented on #300
all,
I've completed the port and further reviews/adjustments, which should cover most if not all things, hopefully.
There may still be a few things left, so I'll be reviewing a last time, but you can anyhow review and test on your side, prior to considering the mainline merge.
Otherwise, it compiles and distcheck-light fine on both 1.0 and 0.1.
usbhid-ups is good and tested (not big tests, but goo

[2016-08-12 06:52] aquette commented on #300
@cleppe: I've completely missed your comment on "the use of our time". I indeed think that switching to libusb 1.0 (not compat, which can't be marked as deprecated, since part of libusb 1.0) is a good thing. Even if we're not using isochronous endpoint, 1.0 is the way forward, and as you saw in the commit list, the port was not a huge deal. This will ease some integration, esp. on Windows and prob

[2016-08-12 06:54] aquette commented on #260
@maaboo did you have a chance to test this finally. We're approaching a candidate for 2.7.5...

[2016-08-12 07:15] maaboo commented on #260
Okay. What should I do? Just install the app and check for error?

[2016-08-12 08:22] aquette commented on #260
@maaboo indeed, install 2.7.4 (either packaged or from source), configure an entry
[apc-ats]
 driver = snmp-ups
 port = <ip@>

then run upsd and snmp-ups, and send back an upsc output and possibly a driver debug output if a problem arise (if so, launch snmp-ups manually using "-DDD -a apc-ats)
thx and cheers

[2016-08-12 08:23] aquette commented on #293
@clepple can you please take care of that one? thx and cheers

[2016-08-12 08:37] maaboo commented on #260
Sorry, but could you provide deb package of the latest version?

[2016-08-12 12:36] clepple commented on #300
@aquette there may not have been much to commit, but there is a lot to test, and we can't simulate all of the USB error conditions that users may encounter.

I am still not sure this is a big win for users. On OS X, we still have the same problem with USB HID devices: libusb-style access competes with the HID driver. BSD has had a problematic mix of libusb 0.1 and 1.0 APIs, and again, error condit

[2016-08-12 12:38] clepple commented on #293
@aquette I did not assign myself to this issue because I don't use upssched. I will see if I have time to go through Roger's documentation after I set up an environment to test the libusb-1.0 branch.

[2016-08-12 12:46] aquette commented on #267
I'm gonna commit the following (note that NUMBER values are also displayed):
# before:
[ambient.temperature.low]
Temperature threshold low (degrees C)
Type: NUMBER

[battery.date]
Battery change date
Type: STRING
Maximum length: 128
Value: Not Set

[test.number]
Description unavailable
Type: ENUM
Option: "1" SELECTED
Option: "2"

[ups.start.auto]
UPS starts when mains is (re)applied
Type: ENUM
Opt

[2016-08-12 13:01] clepple commented on #300
@aquette can you please check on this? might only be needed for libusb-0.1.

../../../drivers/libusb1.c:70:19: warning: unused function 'typesafe_control_msg' [-Wunused-function]

[2016-08-12 14:41] irasnyd opened #303 "upsmon should handle OFF status"
I have a system where I have two Eaton Powerware 9170 UPSes, but I want to shut down if either one goes onto battery. (My system has redundant power supplies, but due to capacity reasons I want to shut down if either one goes onto battery.)

I thought to test this by turning the output off on one UPS, however upsmon does not detect this condition and shut the system down. Why not?

Here is where I

[2016-08-14 18:40] clepple commented on #300
@aquette I commented over on the libusb1.c patch, but it isn't showing up here. Slightly updated:

`HAVE_LIBUSB_DETACH_KERNEL_DRIVER` matches `libusb_detach_kernel_driver()` rather than `libusb_set_auto_detach_kernel_driver()`. FreeBSD 10.1-10.3 have the former, but not the latter. I'm guessing we use the auto variant if it exists, and fall back to the earlier one (or nothing) if not.

Reference:

[2016-08-16 12:39] aquette commented on #260
@maaboo attached is a patched x86_64 build which includes support for APC ATS too.
I've only shipped nut-snmp, not the rest.
please, remove the suffix .png after .deb (otherwise, upload is blocked)
![nut-snmp_2 7 4-11_amd64 deb](https://cloud.githubusercontent.com/assets/921197/17699092/1ec8d272-63bf-11e6-91fc-9f3451f1d4d5.png)

[2016-08-16 13:55] #267 closed

[2016-08-16 13:59] aquette commented on #266
Moving this one for 2.7.6, too intrusive to complete #267

[2016-08-16 14:01] aquette commented on #287
@zykh were you able to have a look at the provided daisychain output above?
I'd like to merge this for 2.7.5 but prior to that, would prefer to ensure that we're on the same page.
Note that I have some other manufacturer implementations waiting, but that will be post 2.7.5

[2016-08-16 14:08] maaboo commented on #260
Running upsd gives that:

`listening on 127.0.0.1 port 3493
listening on 10.10.100.10 port 3493
Connected to UPS [M-UPS-04]: snmp-ups-M-UPS-04
`
I haven't noticed any errors at the moment. If you could say where to look, I check for them again.

Web-console shows:
![nut-ats-01](https://cloud.githubusercontent.com/assets/912261/17701819/f4164ed2-63d3-11e6-9142-a03a4cb2df79.png)
![nut-ats-02](https:

[2016-08-16 14:19] aquette commented on #260
looks great, thanks for your feedback.
Could you please also post the output of upsc / upsrw for this unit, so that I can publish it on the [Device Dumps Library](www.networkupstools.org/ddl/)? Thx

[2016-08-16 14:27] aquette commented on #300
@clepple
- I've fixed unused function 'typesafe_control_msg'
- thanks for shedding light on the detach Vs auto_detach, I'll check the situation and rework that
- on the need (or not) to rush for pushing this code: my stance is that if this code is released, it has a wider availability so more chances to be packaged (dedicated build) and tested, than github branches. That said, I'm wondering if we

[2016-08-16 14:30] maaboo commented on #260
Sure:

=========
~# upsc M-UPS-04@10.239.7.14:3493
Init SSL without certificate database
device.mfr: APC
device.model: AP7724
device.serial: 5A1516T15268
device.type: ats
driver.name: snmp-ups
driver.parameter.pollinterval: 2
driver.parameter.port: 10.239.1.250
driver.parameter.synchronous: no
driver.version: 2.7.4.1
driver.version.data: apc_ats MIB 0.2
driver.version.internal: 0.99
input.1.freque

[2016-08-16 15:47] sebelk opened #306 "UPS information server should start if an UPS is unreachable"
Hi,

I've found that upsd (2.7.2) does not start if an UPS is unrecheable:

I run upsd manually, so I think it's not a problem of systemd:
[code]
The complete debug is at http://pastebin.com/QDNfWWin

Could be it a bug?

Thanks in advance